<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INOUT Проект</title>
    {% load static %}
    <!-- Подключаем скомпилированный CSS Tailwind -->
    <link rel="stylesheet" href="{% static 'css/login_styles.css' %}">
</head>
<body>
    <!-- Шапка сайта -->
    <header class="sticky left-0 top-0 right-0 z-[1000] header-scroll">
        <div class="absolute top-0 left-0 dark:bg-[#0000005e] light:bg-[#ffffff5e] backdrop-blur-2xl w-full h-full"></div>
        <div class="font-normal text-[14px] leading-[20px] max-md:px-8 max-sm:px-4 relative">
            <div class="container mx-auto py-[8px] flex justify-between">
                <div id="logo" class="header flex gap-[24px] whitespace-nowrap">
                    <a href="/" class="flex items-center">
                        <img src="{% static 'icons/favicon.svg' %}" alt="logo" class="hidden dark:block">
                        <img src="{% static 'icons/favicon_light.svg' %}" alt="logo_dark" class="dark:hidden">
                    </a>
                    <nav class="max-md:hidden">
                        <ul class="flex gap-[24px]">
                            <li class="relative group/item p-1.5 gap-x-1 rounded-lg leading-[1.4] flex items-center opacity-90 hover:opacity-100 hover:bg-[var(--colors-background-sec-bt)] cursor-pointer">
                                <span>Продукт</span>
                                <img src="{% static 'icons/arrow_down.svg' %}" alt="arrow_down" class="hidden dark:block group-hover/item:rotate-180">
                                <img src="{% static 'icons/arrow_down_dark.svg' %}" alt="arrow_down" class="dark:hidden block group-hover/item:rotate-180">
                                <div class="absolute z-[4] hidden group-hover/item:flex left-0 top-9 pt-1">
                                    <div class="gap-x-6 group-hover/item:flex p-4 dark:bg-[var(--colors-background-header)] border border-[var(--colors-stroke-table)] rounded-[16px] bg-[#fff] dark:backdrop-blur-2xl">
                                        <div class="p-5 group/block rounded-[12px] bg-[var(--colors-background-card)] w-[262px]" onclick="location.href='/project/'">
                                            <h3 class="text-xl text-[var(--colors-dark-base-text-primary)]">Продукт</h3>
                                            <a href="/project/" class="rounded-full py-3 px-6 text-[var(--colors-dark-base-text-primary)] bg-[#eaeef2] border-[#eaeef2] dark:bg-[rgba(255,255,255,0.05)] text-base inline-block border dark:border-[#343942] transition">
                                                Перейти
                                            </a>
                                        </div>
                                        <div>
                                            <ul>
                                                <li><a href="/project/baza/" class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF]">База</a></li>
                                                <li><a href="/project/biznes/" class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF]">Бизнес</a></li>
                                                <li><a href="/project/platforma/" class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF]">Платформа</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- Остальные пункты меню -->
                        </ul>
                    </nav>
                </div>
                <div class="flex items-center gap-x-6 max-md:gap-x-4">
                    <a href="/search/" class="flex items-center">
                        <img src="{% static 'icons/search.svg' %}" alt="search" class="hidden dark:block">
                        <img src="{% static 'icons/search_dark.svg' %}" alt="search" class="dark:hidden">
                        <span class="ml-[8px] opacity-90 hover:opacity-100 max-md:hidden">Поиск</span>
                    </a>
                    <a href="#" class="block cursor-pointer px-[12px] py-[6px] bg-[linear-gradient(180deg,_#3274F9_0%,_#135BEB_100%)] rounded-[32px] text-white">
                        Попробовать
                    </a>
                </div>
            </div>
        </div>
    </header>

    <!-- Основной контент -->
    <main class="main">
        <div class="container">
            <div class="border"></div>
            <div class="content-left">
                <img src="{% static 'icons/tag.svg' %}" class="svg-image">
                <button type="button" class="about-btn" onclick="window.location.href='https://domen-test.ru/'">Подробнее</button>
            </div>

            <div class="content-right">
                <div class="cont"></div>
                <img src="{% static 'icons/big-logo.svg' %}" width="324" height="53" alt="INOUT Проект" class="logo-image">
                <h2>Добро пожаловать в клиентскую зону INOUT Проект</h2>

                <form>
                    <div class="input-group">
                        <label for="email" class="email_t">Почта</label>
                        <input type="email" id="email" name="email" class="email" required>
                    </div>
                    <div class="input-group">
                        <label for="password" class="password_t">Пароль</label>
                        <input type="password" id="password" name="password" class="password" required>
                    </div>
                    <div class="links">
                        <a href="file:../reset_password/reset_password.html" class="forgot-password">Забыли пароль?</a>
                    </div>
                    <button type="submit" class="btn">Продолжить</button>
                    <div class="register-link">
                        <a href="https://domen-test.ru/price/">Нет клиентской зоны</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
