{% extends "base/base.html" %}
{% load static wagtailcore_tags %}


{% block content %}
<!-- Основной контент -->
<main class="main">
    <div class="container">
        <div class="border"></div>
        <div class="content-left">
            <img src="{% static 'images/tag.svg' %}" class="svg-image">
            <button type="button" class="about-btn" onclick="window.location.href='https://domen-test.ru/'">Подробнее
            </button>
        </div>

        <div class="content-right">
            <div class="cont"></div>
            <img src="{% static 'images/big-logo.svg' %}" width="324" height="53" alt="INOUT Проект" class="logo-image">
            <h2>Добро пожаловать в клиентскую зону INOUT Проект</h2>

            <form method="post">
                {% csrf_token%}
                <div class="input-group">
                    <label for="email" class="email_t">Почта</label>
                    {{ form.username }}
                </div>
                <div class="input-group">
                    <label for="password" class="password_t">Пароль</label>
                    {{ form.password }}
                </div>
                <div class="links">
                    <a href='/stranica-avtorizacii/' class="forgot-password">Забыли пароль?</a>
                </div>
                {% if messages %}
                <div class="error-message">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                <button type="submit" class="btn" href="{% url 'login' %}">Продолжить</button>

                <div class="register-link">
                    <a href="https://domen-test.ru/price/">Нет клиентской зоны</a>
                </div>
            </form>
        </div>
    </div>
    </div>
</main>
<script>
    function validateForm() {
        const email = document.getElementById('email');
        const password = document.getElementById('password');
        const errorMessage = document.getElementById('error-message');

        // Сбросить предыдущие ошибки
        email.classList.remove('error');
        password.classList.remove('error');
        errorMessage.style.display = 'none'; // Скрыть сообщение об ошибке

        // Простейшая проверка
        if (email.value === '' || password.value === '') {
            // Установка красной обводки для пустых полей
            if (email.value === '') email.classList.add('error');
            if (password.value === '') password.classList.add('error');

            // Показать сообщение об ошибке
            errorMessage.style.display = 'block';
            return;
        }

        // Здесь можно добавить код для дальнейшей проверки email и пароля

        // Для примера просто показываем сообщение об ошибке
        errorMessage.style.display = 'block'; // Отобразить сообщение об ошибке
    }
</script>
{% endblock content %}