* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: radial-gradient(100% 100% at 51.15% 0%, #061637 0%, #000000 100%);
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    overflow: auto; /* Позволяет прокручивать контент, если он выходит за пределы экрана */
}

.sidebar {
    width: 240px; /* Уменьшено с 286px */
    padding: 15px; /* Уменьшено */
    background: rgba(255, 255, 255, 0.05);
    position: relative;
    transition: transform 0.3s ease, width 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    background: linear-gradient(90deg, rgba(88, 119, 199, 0.65), rgba(66, 86, 142, 0.05), rgba(81, 107, 178, 0.65));
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 58px; /* Уменьшено */
}

.logo-image {
    width: 40px; /* Уменьшено */
    margin-right: 8px; /* Уменьшено */
}

.logo-text {
    font-size: 20px; /* Уменьшено */
    color: white;
}

.menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: auto;
}

.menu li {
    display: flex;
    align-items: center;
    margin-bottom: 22px; /* Уменьшено */
}

.menu li img {
    margin-right: 15px; /* Уменьшено */
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px; /* Уменьшено */
}

.sidebar-footer {
    margin-top: auto;
    text-align: center;
    padding: 10px 0; /* Уменьшено */
}

.sidebar-footer img {
    width: 200px; /* Уменьшено */
}

.main-content {
    flex: 1;
    padding: 15px; /* Уменьшено */
    transition: margin-left 0.3s ease;
}

.main-content.shifted {
    margin-left: -240px; /* Уменьшено */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-help {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.hamburger {
    width: 15px;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 8px; /* Уменьшено */
}

.hamburger div {
    width: 100%;
    height: 1px;
    background-color: #FFF;
}

.logo-title {
    color: #FFF;
    font-size: 24px; /* Уменьшено */
    font-weight: bold;
    position: relative;
}

.user-info {
    display: inline;
    color: white;
}

.logout {
    padding: 5px 8px; /* Уменьшено */
    border: none;
    background: transparent;
}

.user-details {
    display: grid;
    grid-template-columns: auto 1fr; /* Первая колонка авто, вторая занимает оставшееся пространство */
    gap: 10px; /* Отступ между колонками */
    width: 100%;
    height:  auto; /* Изменено на auto */
    margin-top: 17px;
    margin-bottom: 6px;
}


.info-block {
    width: 447px;
    height: 521px;
    padding: 15px;
    position: relative; /* Обязательно для псевдоэлементов */
    color: #FFF;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 18px;

}


.info-block::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 18px;
    padding: 1px;
    background: linear-gradient(90deg, rgba(88, 119, 199, 0.65), rgba(66, 86, 142, 0.05), rgba(81, 107, 178, 0.65));
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.invoices-block {
    width: 100%;
    display: flex;
    height: 459px;
    color: white;
    position: relative; /* Обязательно для псевдоэлементов */
    flex-direction: column;
    font-size: 14px; /* Стандартный размер текста */
    border-radius: 0 0 18px 18px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Добавляем тень */
}

.invoices-block::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0 0 18px 18px;
    padding: 1px;
    background: linear-gradient(90deg, rgba(88, 119, 199, 0.65), rgba(66, 86, 142, 0.05), rgba(81, 107, 178, 0.65));
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.invoices-header {
    display: flex; /* Используем flexbox */
    align-items: center; /* Выравнивание по центру по вертикали */
    position: relative; /* Обязательно для псевдоэлементов */
    background-color: rgba(255, 255, 255, 0.05);
    height: 61.63px; /* Уменьшено */
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 8px; /* Уменьшено */
    margin-bottom: 1px; /* Уменьшено */
    border-radius: 18px 18px 0 0;
}

.invoices-header::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 18px 18px 0 0;
    padding: 1px;
    background: linear-gradient(90deg, rgba(88, 119, 199, 0.65), rgba(66, 86, 142, 0.05), rgba(81, 107, 178, 0.65));
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}


.invoice-logo {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.info-block h2 {
    font-size: 24px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.95);
    margin-bottom: 19px;
}
.info-label {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}
.info-value {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 25.2px;
    margin-bottom: 20px;
}

.invoices-block table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px; /* Уменьшено */
}

.invoices-block th, .invoices-block td {
    text-align: left;
    padding: 8px; /* Уменьшено */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.invoices-block td{
    font-size: 18px; /* Уменьшено */
    font-weight: 400;
} 

.invoices-block th {
    font-size: 16px; /* Уменьшено */
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.invoices-block button {
    display: flex;
    width: 272hug;
    height: 22hug;
    padding: 12px; /* Уменьшено */
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    justify-content: center;
    color: white;
    font-size: 16px; /* Уменьшено */
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 20px;
}

.invoices-block button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

 .info-box p, .contract-details p {
    color: #fff;
}

 .info-box h3, .contract-details h3 {
    color: #fff;
}

.info-button {
    display: flex;
    width: 255hug;
    height: 46px;
    padding: 12px 24px; /* Уменьшено */
    background: rgba(255, 255, 255, 0.05);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 224px;
    margin-right:auto;
    margin-left:auto;/* Позиционирование */
    transition: background-color 0.3s ease;
}

.info-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.contact-details {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.05);
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 6px;
}

.contact-details::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 18px;
    padding: 1px;
    background: linear-gradient(90deg, rgba(88, 119, 199, 0.65), rgba(66, 86, 142, 0.05), rgba(81, 107, 178, 0.65));
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.contact-text {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.contact-date {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.6);
}

.details-button {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 16px;
    border-radius: 24px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.details-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.h3-title {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.h3-title .icon {
    width: 40px;  /* Размер иконки */
    height: 40px;
    margin: 11px 10px 10.63px 9px;/* Отступ между иконкой и текстом */

}
.info-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    gap: 10px; /* Уменьшено */
}

.info-box-container {
    display: grid;
    grid-template-columns: 1fr;
}

.info-box-header {
    display: flex;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0.05);
    /*height: 61.63px;*/
    color: white;
    position: relative;
    text-align: center;
    border-radius: 18px 18px 0 0;
    min-height: 50px;
    margin-bottom: 1.37px;
}

.info-box-header::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 18px 18px 0 0;
    padding: 1px;
    background: linear-gradient(90deg, rgba(88, 119, 199, 0.65), rgba(66, 86, 142, 0.05), rgba(81, 107, 178, 0.65));
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}


.info-box {
    height: 170px;
    border-radius: 0 0 18px 18px;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0;
    background: rgba(255, 255, 255, 0.05);
    text-align: center; 
    min-height: 130px;
}

.info-box::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0 0 18px 18px;
    padding: 1px;
    background: linear-gradient(90deg, rgba(88, 119, 199, 0.65), rgba(66, 86, 142, 0.05), rgba(81, 107, 178, 0.65));
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}


.info-box p {
    display: flex;
    justify-content: flex-start;
    margin: 14px 13px 15px;
    margin-top: 10px;
    color: #fff;
}

.info-box button {
    display: flex;
    justify-content: center; /* Горизонтальное центрирование текста */
    align-items: center; /* Вертикальное центрирование текста */
    height: 46px;
    padding: 8px;
    background: rgba(255, 255, 255, 0.05);
    color: white;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin: auto 7px 15px 7px; /* Центрирование кнопки */
    transition: background-color 0.3s ease;
}


.info-box button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.need-help {

    padding: 15px; /* Reduced */
    display: flex;
    flex-direction: column; /* Changed to column for vertical stacking */
    align-items: center; /* Centering content */
    color: #fff;
    border-radius: 0 0 18px 18px;
    background: rgba(255, 255, 255, 0.05);
}

.need-help-buttons {
    display: flex; /* Flexbox for horizontal alignment */
    justify-content: center; /* Center buttons */
    gap: 10px; /* Space between buttons */
    margin-top: auto; /* Margin for spacing */
}

.need-help button {
    width: auto; /* Auto width for buttons */
}

.need-help button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.profile-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.profile-popup-content {
    background: rgba(255, 255, 255, 0.05);
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 966px;
    height: 510px;
    max-width: 90%;
    position: relative;
}

.form-container {
    display: flex;
    justify-content: space-between; /* Две формы расположены рядом друг с другом */
    margin-bottom: 20px; /* Отступ снизу для кнопки */
}

.form-left, .form-right {
    width: 48%; /* Уменьшаем ширину, чтобы две формы стали в строку */
}

.form-left {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов в левом столбце */
}

.form-right {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов в правом столбце */
    margin-left: 20px; /* Отступ между двумя столбцами */
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {

    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    width: 49px;
    height: 29px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.05);
    transition: .4s;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 3px;
    bottom: 3px;
    background: linear-gradient(rgba(50, 116, 249, 1),rgba(19, 91, 235, 1));
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background: linear-gradient(rgba(88, 119, 199, 0.6),rgba(81, 107, 178, 0.6));
}

input:checked + .slider:before {
    transform: translateX(20px);
    background-color: #5361fc;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.profile-popup-content h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

.profile-popup-content form {
    display: flex;
    flex-direction: column;
}

.profile-popup-content label {
    bottom: 5px;
    margin-top: 10px;
    font-size: 14px;
}

.profile-popup-content input[type="text"],
.profile-popup-content input[type="email"],
.profile-popup-content input[type="password"],
.profile-popup-content input[type="full-name"]{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 17px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #444;
    border-radius: 5px;
    color: white;
    width: 100%;
}

.profile-popup-content button {
    margin-left: 164px;
    margin-bottom: 20px;
    width: 121px;
    height: 46px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.05);;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}
.profile-popup-content button:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.email-notifications {
    margin-top: 20px;
}

.email-notifications h3 {
    margin-bottom: 10px;
    font-size: 24px;
}

.form-right h3{
    margin-bottom: 29px;
}

.toggle-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 17px;
}

.toggle-group label{
    margin-left: 15px;
}
.toggle-group input[type="checkbox"] {
    transform: scale(1.2);
}

.new-ticket-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.new-ticket-popup-content {
    background: rgba(255, 255, 255, 0.05);
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 966px;
    height: 598px;
    max-width: 90%;
    position: relative;
}



input:checked + .slider {
    background: linear-gradient(rgba(88, 119, 199, 0.6),rgba(81, 107, 178, 0.6));
}

input:checked + .slider:before {
    transform: translateX(20px);
    background-color: #5361fc;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.new-ticket-popup-content h2 {
    margin-bottom: 47px;
    font-size: 32px;
}

.new-ticket-popup-content form {
    display: flex;
    flex-direction: column;
}

.new-ticket-popup-content label {
    margin-top: 10px;
    font-size: 14px;
}

.new-ticket-popup-content input[type="text"],
.new-ticket-popup-content input[type="email"],
.new-ticket-popup-content input[type="password"] {
    padding: 10px;
    margin-bottom: 37px;
    margin-left: 23px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #444;
    border-radius: 4px;
    color: white;
    justify-content: flex-start;
    align-items: center;
    width: 881px;
}

.new-ticket-popup-content button {
    margin-right: auto;
    margin-left: auto;
    width: 121px;
    height: 46px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.05);;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}
.new-ticket-popup-content button:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.email-notifications {
    margin-top: 20px;
}

.email-notifications h3 {
    margin-bottom: 10px;
}

.file-upload-wrapper {
    display: flex;
    margin-bottom: 45px;
}

#custom-file-button {
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 881px;
    background-color: rgba(255, 255, 255, 0.05);
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#custom-file-button:hover {
    background-color: #2A7BB3;
}

#file-name {
    font-size: 14px;
    color: white;
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
    }

    .main-content {
        padding: 10px;
    }
}

.main-content {
    margin-left: 0;
    max-width: 1800px;
}
