{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/add_onn.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet"/>
    <link href="{% static 'sass/main_output.css' %}" rel="stylesheet">
    <title>Дополнительные модули</title>
    <script src="{% static 'scripts/add_onns_dropbtn.js' %}"></script>
</head>
<body>

<header class="sticky left-0 top-0 right-0 z-[1000] header-scroll">
    <div class="absolute top-0 left-0 dark:bg-[#0000005e] light:bg-[#ffffff5e] backdrop-blur-2xl w-full h-full"></div>
    <div class="font-normal text-[14px] leading-[20px] max-md:px-8 max-sm:px-4 relative">
        <div class="container mx-auto py-[8px] flex justify-between">
            <div id="logo" class="header flex gap-[24px] whitespace-nowrap">
                <a href="/" class="flex items-center">
                    <img src="{% static 'icons/favicon.svg' %}" alt="logo" class="hidden dark:block"/>
                    <img src="{% static 'icons/favicon_light.svg' %}" alt="logo_dark" class="dark:hidden"/>
                </a>
                <nav class="max-md:hidden">
                    <ul class="flex gap-[24px]">
                        {% for menu_item in main_menu %}
                            <li
                                    class="relative group/item p-1.5 gap-x-1 rounded-lg leading-[1.4] flex items-center opacity-90 hover:opacity-100 hover:bg-[var(--colors-background-sec-bt)] cursor-pointer"
                            >
                                {% if menu_item.submenu %}
                                    <span>{{ menu_item.title }}</span>
                                    <img
                                            src="{% static 'icons/arrow_down.svg' %}"
                                            alt="arrow_down"
                                            class="hidden dark:block group-hover/item:rotate-180"
                                    />
                                    <img
                                            src="{% static 'icons/arrow_down_dark.svg' %}"
                                            alt="arrow_down"
                                            class="dark:hidden block group-hover/item:rotate-180"
                                    />
                                    <div class="absolute z-[4] hidden group-hover/item:flex left-0 top-9 pt-1">
                                        <div
                                                class="gap-x-6 group-hover/item:flex p-4 dark:bg-[var(--colors-background-header)] border border-[var(--colors-stroke-table)] rounded-[16px] bg-[#fff] dark:backdrop-blur-2xl"
                                        >
                                            <div
                                                    class="p-5 group/block rounded-[12px] bg-[var(--colors-background-card)] w-[262px] hover:bg-[url('/image/back-review-card.svg')] bg-cover"
                                                    onclick="location.href='{{ menu_item.url }}'"
                                            >
                                                <h3 class="text-xl text-[var(--colors-dark-base-text-primary)]">{{ menu_item.title }}</h3>
                                                <p class="whitespace-normal text-[var(--colors-text-secondary)] mt-2 text-base font-normal">
                                                    {{ menu_item.short_desc }}
                                                </p>
                                                <a
                                                        href="{{ menu_item.url }}"
                                                        class="rounded-full py-3 px-6 group-hover/block:dark:border-[#365995] hover:shadow-[0px_-4px_12px_0px_rgba(0,_0,_0,_0.16)_inset] text-[var(--colors-dark-base-text-primary)] bg-[#eaeef2] border-[#eaeef2] dark:bg-[rgba(255,255,255,0.05)] text-base mt-20 inline-block border dark:border-[#343942] transition"
                                                >
                                                    Перейти
                                                </a>
                                            </div>
                                            <div>
                                                <ul>
                                                    {% for sub_menu_item in menu_item.submenu %}
                                                        <li>
                                                            <a
                                                                    href="{{ sub_menu_item.url }}"
                                                                    class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF]"
                                                            >{{ sub_menu_item.title }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <a href="{{ menu_item.url }}">{{ menu_item.title }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="flex items-center gap-x-6 max-md:gap-x-4">
                <a href="/search/" class="flex items-center">
                    <img src="{% static 'icons/search.svg' %}" alt="search" class="hidden dark:block"/>
                    <img src="{% static 'icons/search_dark.svg' %}" alt="search" class="dark:hidden"/>
                    <span class="ml-[8px] opacity-90 hover:opacity-100 max-md:hidden">Поиск</span>
                </a>
                <div
                        class="max-md:hidden h-[24px] w-[1px] bg-[linear-gradient(0deg,_#00000000_0%,_#000000_15%,_#000000_85%,_#00000000_100%)] opacity-[0.16] dark:bg-[linear-gradient(0deg,_#ffffff00_0%,_#ffffff_15%,_#ffffff_85%,_#ffffff00_100%)] dark:opacity-[0.16]"
                ></div>
                {#                <a href="#" class="max-md:hidden opacity-90 hover:opacity-100">Войти</a>#}
                <div class="md:hidden max-sm:hidden">
                    <svg
                            class="stroke-[#000] dark:stroke-[#fff]"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                    >
                        <path
                                d="M21 12C21 14.3 20.1 16.4 18.7 18C18.6 18.1 18.5 18.2 18.4 18.4C16.7 20 14.5 21 12 21C9.5 21 7.3 20 5.6 18.4C5.5 18.3 5.4 18.2 5.3 18C3.9 16.4 3 14.3 3 12C3 7 7 3 12 3C14.5 3 16.7 4 18.4 5.6C20 7.3 21 9.5 21 12ZM18.4 17.6C16.7 16 14.5 15 12 15C9.3 15 6.9 16.2 5.3 18C5.4 18.1 5.5 18.2 5.6 18.4C7.3 20 9.5 21 12 21C14.5 21 16.7 20 18.4 18.4C18.5 18.3 18.6 18.2 18.7 18C18.6 17.9 18.5 17.8 18.4 17.6ZM12 7C10.6 7 9.5 8.1 9.5 9.5C9.5 10.9 10.6 12 12 12C13.4 12 14.5 10.9 14.5 9.5C14.5 8.1 13.4 7 12 7Z"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                        />
                    </svg>
                </div>
                <a
                        href="#" data-open-form
                        class="block cursor-pointer px-[12px] py-[6px] bg-[linear-gradient(180deg,_#3274F9_0%,_#135BEB_100%)] rounded-[32px] hover:shadow-[0px_-4px_12px_0px_rgba(255,_255,_255,_0.32)_inset] text-dark-text-primary"
                        {#                        data-open-form#}
                >
                    Попробовать
                </a>
                <div class="md:hidden p-2" id="burger">
                    <svg
                            class="stroke-[#000] dark:stroke-[#fff]"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                    >
                        <path d="M6 17H18" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6 12H18" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6 7H18" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
        </div>
        <div
                class="w-full h-[1px] bg-[linear-gradient(48deg,_rgba(44,51,62,0)_0%,_rgba(44,51,62,1)_15%,_rgba(44,51,62,1)_85%,_rgba(44,51,62,0)_100%)] dark:bg-[linear-gradient(48deg,_rgba(255,255,255,0)_0%,_rgba(255,255,255,1)_15%,_rgba(255,255,255,1)_85%,_rgba(255,255,255,0)_100%)] opacity-20"
        ></div>
        <div
                class="fixed flex flex-col z-[1000] top-[57px] left-0 w-full h-[calc(100dvh-57px)] bg-[#fff] dark:bg-[#000] transition translate-x-full"
                id="mobile-nav"
        >
            <div class="p-4 overflow-y-auto">
                {% for menu_item in main_menu %}
                    {% if menu_item.submenu %}
                        <div class="flex flex-col gap-2 w-full py-3">
                            <div
                                    class="hidden max-md:flex font-normal text-[20px] max-sm:text-sm leading-[26px] max-sm:leading-[20px] justify-between items-center cursor-pointer header-readmore"
                            >
                                {{ menu_item.title }}
                                <div class="transition flex items-center">
                                    <img src="{% static 'icons/arrow_down_16.svg' %}" alt="arrow_down"
                                         class="hidden dark:block"/>
                                    <img src="{% static 'icons/arrow_down_16_light.svg' %}" alt="arrow_down"
                                         class="dark:hidden"/>
                                </div>
                            </div>
                            <a href="{{ menu_item.url }}"
                               class="font-normal text-base leading-[22px] hover:underline max-md:hidden">{{ menu_item.title }}</a>
                            <div class="flex-col flex gap-2 pt-[4px] max-md:hidden">
                                {% for sub_menu_item in menu_item.submenu %}
                                    <a href="{{ sub_menu_item.url }}"
                                       class="opacity-80 hover:opacity-100 hover:underline">{{ sub_menu_item.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="flex flex-col gap-2 w-full py-3">
                            <a href="{{ menu_item.url }}"
                               class="font-normal text-base max-sm:text-sm leading-[22px] hover:underline">{{ menu_item.title }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="w-full px-4 pt-8 pb-4 flex-grow flex items-end">
                {#                <a href="#"#}
                {#                   class="dark:bg-[#0e0f10] bg-[#eaeef2] border dark:border-[#1f2021] border-[#eaeef2] rounded-full py-[13px] w-full text-center block"#}
                {#                >Войти в аккаунт</a#}
                {#                >#}
            </div>
        </div>
    </div>
</header>


<section class="main_section">
    <div class="second_line_img">
        <img class="second_line" src="{% static 'img/Line_12.png' %}" alt="logo"
             srcset="{% static 'img/Line_12x2.png' %} 2x">
    </div>
    <div class="div_road_map_img">
        <div class="panel_roadmap">
            <div class="finish_div">
                <img class="img_check" src="{% static 'img/check.png' %}" alt="">
                <div class="finish_plan"></div>
            </div>
            <span class="roadmap_text">Выбор плана</span>
            <div class="create-line"></div>
            <div class="active_plan"><span class="text_inside"
                                           style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">2</span>
            </div>
            <span class="roadmap_text_second">Соберите своё решение</span>
            <div class="create-line"></div>
            <div class="lin-grad-border">
                <div class="common_plan"
                     style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                    <span class="text-roadmap"
                          style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">3</span>
                </div>
            </div>
            <span class="roadmap_text_third">Выставление счета</span>
            <div class="create-line"></div>
            <div class="lin-grad-border">
                <div class="common_plan"
                     style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                    <span class="text-roadmap"
                          style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">4</span>
                </div>
            </div>
            <span class="roadmap_text_fourth">Оплата</span>
            <div class="create-line"></div>
            <img class="inout_pict" src="{% static 'img/inout_pict.png' %}" alt=""/>
        </div>
    </div>
    <div class="line_19_img">
        <img class="" src="{% static 'img/Line_19.png' %}" alt="logo" srcset="{% static 'img/Line_19x2.png' %} 2x">
    </div>
    <div class="choose_plan">
        <div class="about_choose_plan">
            <p class="text_plan">План</p>
        </div>
        <div class="custom-select" style="height: 57px">
            <select id="select_plan">
                <option>INOUT Проект База</option>
                <option>INOUT Проект Бизнес</option>
                <option>INOUT Проект Платформа</option>
            </select>
        </div>

        <div class="hidden_block" id="hidden_block_id"></div>
        <div class="hidden_plan" id="hidden_plan_id"></div>
    </div>
    <div class="line_20_img">
        <img class="" src="{% static 'img/Line_19.png' %}" alt="logo" srcset="{% static 'img/Line_19x2.png' %} 2x">
    </div>
    <div class="choose_user_amount">
        <div class="about_choose_user_amount">
            <p class="text_user_amount">Количество пользователей</p>
        </div>
        <div class="range-with-question">
            <div class="range">
                <div class="range-slider">
                <span style="position:absolute; color:#3274F9; border:0 solid blue; left: 20px; margin-top: -20px;"><span
                        id="myValue"></span></span>

                    <input
                            type="range"
                            min="5"
                            max="100"
                            value="0"
                            class="range-input"
                            id="range4"
                            step="5"
                    />
                    <div class="sliderticks">
                        <span>5</span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span>100</span>
                    </div>
                </div>

                <div id="value_range" class="value4">5</div>
            </div>
            <span class="question_over100">Нужно решение на 100+ пользователей? <a href="#">Давайте обсудим</a></span>
        </div>
    </div>
    <div class="line_21_img">
        <img class="" src="{% static 'img/Line_19.png' %}" alt="logo" srcset="{% static 'img/Line_19x2.png' %} 2x">
    </div>
    <div class="addons_main">
        <div class="addons_about">
            <p class="">Расширения</p>
        </div>
        <div class="addons_list">
            <div class="content-box">
                <div class="show_0 show_1 show content__tittle">
                    <div class="additions">
                        <input type="checkbox" class="custom-checkbox" id="help_desk" name="help_desk" value="yes">
                        <label for="help_desk"></label>
                        <p class="text_for_checkbox">Help Desk
                            <img class="icon_info" src="{% static 'img/icon_info_outline_.png' %}" alt="logo"
                                 srcset="{% static 'img/icon_info_outline_x2.png' %} 2x"
                                 title="Легко оптимизируйте все процессы&#013;обслуживания клиентов. Установите SLA&#013;и предоставьте своим клиентам&#013;высококачественную поддержку&#013;и повысьте их удовлетворенность&#013;с помощью службы поддержки.">
                        </p>
                        <div class="text_price">
                            <p id="price_hd">490 руб</p>
                        </div>

                        <label class="text_about_price" id="text_about_price_id_hd">цена за одного пользователя в
                            месяц/год</label>
                    </div>
                </div>
                <div class="show_0 show_1 show_2 show content__tittle">
                    <div class="additions">

                        <input type="checkbox" class="custom-checkbox" id="basic_dms" name="basic_dms" value="yes">
                        <label for="basic_dms"></label>
                        <p class="text_for_checkbox">DMS
                            <img class="icon_info"
                                 src="{% static 'img/icon_info_outline_.png' %}"
                                 alt="logo"
                                 srcset="{% static 'img/icon_info_outline_x2.png 2x' %}"
                                 title="Система управления документами&#013;обеспечивает быстрый доступ&#013;ко всем вашим файлам и документам&#013;и управление ими непосредственно&#013;из приложения INOUT.">
                        </p>


                        <div class="text_price">
                            <p id="price_dms">190 руб</p>
                        </div>
                        <label class="text_about_price" id="text_about_price_id_dms">цена за одного пользователя в
                            месяц/год</label>


                    </div>
                </div>
                <div class="show_0 show content__tittle">
                    <div class="additions">
                        <input type="checkbox" class="custom-checkbox" id="risk_management" name="risk_management"
                               value="yes">
                        <label for="risk_management"></label>
                        <p class="text_for_checkbox">Управление рисками
                            <img class="icon_info" src="{% static 'img/icon_info_outline_.png' %}" alt="logo"
                                 srcset="{% static 'img/icon_info_outline_x2.png 2x' %}"
                                 title="Управление рисками позволяет вам&#013;устанавливать матрицу рисков&#013;для вашей организации, управлять&#013;рисками в проектах и предоставлять&#013;глобальную отчетность и обзор&#013;рисков для руководства.">

                        </p>
                        <div class="text_price">
                            <p id="price_risk">190 руб</p>
                        </div>
                        <label class="text_about_price" id="text_about_price_id_risk">цена за одного пользователя в
                            месяц/год</label>
                    </div>
                </div>
                <div class="show_0 show_1 show_2 show content__tittle">
                    <div class="additions">
                        <input type="checkbox" class="custom-checkbox" id="custom_branding" name="custom_branding"
                               value="yes">
                        <label for="custom_branding"></label>
                        <p class="text_for_checkbox_cb">Корпоративный брендинг
                            <img class="icon_info" src="{% static 'img/icon_info_outline_.png' %}" alt="logo"
                                 srcset="{% static 'img/icon_info_outline_x2.png 2x' %}"
                                 title="Поддержите культуру и индивидуальность&#013;своей компании с помощью индивидуального&#013;дизайна — «примените цветные приложения&#013;в своих цветах», добавьте свой логотип&#013;и создайте индивидуальную графику&#013;для страницы входа.">

                        </p>
                        <div class="text_price">
                            <p id="price_brand">90 руб</p>
                        </div>
                        <label class="text_about_price" id="text_about_price_id_brand">цена за одного пользователя в
                            месяц/год</label>
                    </div>
                </div>
                <div class="show_0 show_1 show_2 show content__tittle">
                    <div class="additions">
                        <input type="checkbox" class="custom-checkbox" id="gitlab_integration" name="gitlab_integration"
                               value="yes">
                        <label for="gitlab_integration"></label>
                        <p class="text_for_checkbox">Gitlab интеграция
                            <img class="icon_info" src="{% static 'img/icon_info_outline_.png' %}" alt="logo"
                                 srcset="img/icon_info_outline_x2.png 2x"
                                 title="Интегрируйте свой репозиторий&#013;GitLab с отслеживанием ошибок&#013;и сделайте процесс разработки&#013;еще более плавным.">

                        </p>
                        <div class="text_price">
                            <p id="price_git">190 руб</p>
                        </div>
                        <label class="text_about_price" id="text_about_price_id_git">цена за одного пользователя в
                            месяц/год</label>
                    </div>
                </div>
                <div class="show_0 show_1 show content__tittle">
                    <div class="additions">
                        <input type="checkbox" class="custom-checkbox" id="b2b_crm" name="b2b_crm" value="yes">
                        <label for="b2b_crm"></label>
                        <p class="text_for_checkbox">B2B CRM
                            <img class="icon_info" src="{% static 'img/icon_info_outline_.png' %}" alt="logo"
                                 srcset="{% static 'img/icon_info_outline_x2.png 2x' %}"
                                 title="Управляйте своей деятельностью&#013;по продажам и реализуйте свои проекты.&#013;B2B CRM позволяет вашей команде&#013;по продажам отслеживать возможности&#013;от лида до контракта, генерирует&#013;статистику эффективности и помогает&#013;повысить общую эффективность продаж.">

                        </p>
                        <div class="text_price">
                            <p id="price_b2b">890 руб</p>
                        </div>
                        <label class="text_about_price" id="text_about_price_id_b2b">цена за одного пользователя в
                            месяц/год</label>
                    </div>
                </div>
                <div class="show_0 show_1 show_2 show content__tittle">
                    <div class="additions">
                        <input type="checkbox" class="custom-checkbox" id="knowledge_base" name="knowledge_base"
                               value="yes">
                        <label for="knowledge_base"></label>
                        <p class="text_for_checkbox">База знаний
                            <img class="icon_info" src="img/icon_info_outline_.png" alt="logo"
                                 srcset="{% static 'img/icon_info_outline_x2.png 2x' %}"
                                 title="Мощный набор инструментов для организации&#013;и масштабирования документации, процессов,&#013;руководств, управления качеством и других&#013;потребностей для поддержания знаний&#013;в организации.">

                        </p>
                        <div class="text_price">
                            <p id="price_base">390 руб</p>
                        </div>
                        <label class="text_about_price" id="text_about_price_id_base">цена за одного пользователя в
                            месяц/год</label>
                    </div>
                </div>
                <div class="show_0 show_1 show_2 show content__tittle">
                    <div class="additions">
                        <input type="checkbox" class="custom-checkbox" id="asset_config" name="asset_config"
                               value="yes">
                        <label for="asset_config"></label>
                        <p class="text_for_checkbox">Управление активами и конфигурациями
                            <img class=icon_info src="{% static 'img/icon_info_outline_.png' %}" alt=logo"
                                 srcset="{% static 'img/icon_info_outline_x2.png 2x' %}"
                                 title="Наше дополнение гарантирует,&#013;что все ваши активы и конфигурации&#013;будут оставаться актуальными и&#013;легкодоступными, позволяя вам&#013;связывать данные с задачами.&#013;Держите свои данные организованными,&#013;точными и всегда под рукой.">

                        </p>
                        <div class="text_price">
                            <p id="price_manage">290 руб</p>
                        </div>
                        <label class="text_about_price" id="text_about_price_id_manage">цена за одного пользователя в
                            месяц/год</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line_21_img">
        <img class="" src="{% static 'img/Line_19.png' %}" alt="logo" srcset="{% static 'img/Line_19x2.png 2x' %}">
    </div>
    <div class="main_services">
        <div class="services_about">
            <p>Размещение</p>
        </div>
        <div class="services_list">
            <div class="content_box">
                <div class="services">
                    <input type="checkbox" class="custom-checkbox" id="private_cloud" name="private_cloud" value="yes">
                    <label for="private_cloud"></label>
                    <p class="text_for_checkbox">Частное облако
                        <img class="icon_info" src="{% static 'img/icon_info_outline_.png' %}" alt="logo"
                             srcset="{% static 'img/icon_info_outline_x2.png' 2x %}"
                             title="Частное облако предоставляет&#013;собственный выделенный сервер,&#013;сохраняя ваши внутренние&#013;ИТ-ресурсы. Оно всегда&#013;развертывается в ближайшей&#013;геолокации для максимальной&#013;связности и скорости.">
                    </p>
                    <div class="text_price">
                        <p id="price_cloud">39.000 руб</p>
                    </div>

                    <label class="text_about_price" id="text_about_price_id_cloud">цена за одного пользователя в
                        месяц/год</label>
                </div>
            </div>
        </div>
    </div>
    <div class="line_21_img">
        <img class="" src="{% static 'img/Line_19.png' %}" alt="logo" srcset="{% static 'img/Line_19x2.png' 2x %}">
    </div>
    <div class="bill_services">
        <div class="bill_about">
            <p>Выставление счета</p>
        </div>
        <div class="bill_list">
            <div class="content-box">
                <div class="bill_one">
                    <input class="custom-radio" name="billing" type="radio" id="in_year" value="in_year" checked>
                    <label for="in_year"></label>
                    <p class="text_for_radio">Ежегодно (На 15% дешевле)
                    </p>
                </div>
                <div class="bill_one">
                    <input class="custom-radio" name="billing" type="radio" id="in_month" value="in_year">
                    <label for="in_month"></label>
                    <p class="text_for_radio">Ежемесячно
                    </p>
                </div>
            </div>


        </div>
    </div>
    <div class="price_panel">
        <div class="result_panel">
            <div class="price_panel_text_about">
                <label id="price_panel_about_label_id" class="price_panel_about_label">Итоговая цена за 5
                    пользователей</label>
            </div>
            <div class="price_panel_prices">
                <div class="price_in_year">
                    <label id="price_in_year_label_id" class="price_in_year_label">34.540 руб / год</label>
                </div>
                <div class="price_in_month">
                    <label id="price_in_year_month_id" class="price_in_month_label">(2.950 руб / месяц)</label>
                </div>
            </div>
        </div>
        <div class="div_div_result_bottom">
            <div class="div_result_bottom">
                <a href="/payment/add_users/" class="result_bottom">
                    Подтвердить и продолжить
                </a>
                <label id="hedden_label_plan"></label>
            </div>
        </div>


    </div>
    <script src="{% static 'scripts/addon.js' %}"></script>

</section>

<footer class="relative {% if page.need_fold %}mt-[60px]{% else %}mt-[60px]{% endif %} z-[1] font-normal text-sm leading-[20px] text-dark-text-primary rounded-t-[32px] bg-dark-primary-bg">
    <img src="{% static 'image/bg_footer.png' %}" alt="footer"
         class="absolute bottom-0 left-0 w-full z-[1] hidden dark:block rounded-t-[32px] h-[130%] object-cover">
    <img src="{% static 'image/bg_footer.png' %}" alt="footer"
         class="absolute bottom-0 left-0 w-full z-[1] dark:hidden rounded-t-[32px] h-[130%] object-cover">
    {#<footer class="relative font-normal text-sm leading-[20px] text-dark-text-primary rounded-t-[32px]">#}
    {#    <img src="{% static 'image/bg/footer_bg.svg' %}" alt="footer"#}
    {#         class="absolute top-0 left-0 w-full z-[1] object-cover h-full hidden dark:block rounded-t-[32px]">#}
    {#    <img src="{% static 'image/bg/footer_bg_light.svg' %}" alt="footer"#}
    {#         class="absolute top-0 left-0 w-full z-[1] object-cover h-full dark:hidden rounded-t-[32px]">#}
    <div
            class="relative z-[2] max-sm:mt-[48px] w-full h-[1px] bg-[linear-gradient(48deg,_rgba(255,255,255,0)_0%,_rgba(255,255,255,1)_15%,_rgba(255,255,255,1)_85%,_rgba(255,255,255,0)_100%)] opacity-20"></div>
    <div
            class="container mx-auto pt-[100px] max-sm:px-4 max-md:pt-[58px] max-sm:pt-[56px] flex justify-between max-sm:flex-col items-center relative z-[2]">
        <div class="max-w-[406px] max-md:max-w-[351px] max-sm:max-w-[608px]">
            <h2
                    class="mt-[12px] max-md:mt-[30px] max-sm:mt-0 max-sm:text-center font-semibold text-[40px] max-md:text-[32px] max-md:leading-[32px] leading-[40px] tracking-[-1.92px] max-sm:tracking-[-0.72px] dark:bg-[linear-gradient(91deg,_#FFF_52.03%,_rgba(255,_255,_255,_0.64)_83.59%)] bg-[#000] bg-clip-text"
                    style="">90% заказчиков остаются с нами после пилота</h2>
            <p
                    class="mt-5 max-sm:mt-4 text-[20px] leading-[26px] max-sm:text-base max-sm:leading-[23px] max-sm:text-center">
                Получите полный доступ на 30 дней бесплатно.
            </p>
            <p
                    class="mt-5 max-sm:mt-4 text-[20px] leading-[26px] max-sm:text-base max-sm:leading-[23px] max-sm:text-center">
                Если мы друг другу подойдём, то проведём бесплатный «пилот» — демонстрацию всех возможностей на
                практике, прямо на ваших проектах.
            </p>
            <p
                    class="mt-5 max-sm:mt-4 text-[20px] leading-[26px] max-sm:text-base max-sm:leading-[23px] max-sm:text-center">
                Убедитесь сами, как легко управлять проектами любого масштаба. Всего 30 секунд — и приложение откроется
                прямо в браузере.
            </p>
            <p
                    class="mt-5 max-sm:mt-4 text-[20px] leading-[26px] max-sm:text-base max-sm:leading-[23px] max-sm:text-center">
                Нужна только почта и номер телефона. Спамить не будем, карту привязывать не нужно.
            </p>
            <div
                    class="relative mt-12 max-md:mt-10 max-sm:mt-6 inline-block max-sm:flex max-sm:mx-auto p-1 rounded-full bg-[rgba(255,255,255,0.2)] before:absolute before:border before:border-[transparent] before:inset-0 before:rounded-full dark:before:[background:linear-gradient(98deg,_rgba(92,_201,_255,_0.48)_0%,_rgba(133,_214,_255,_0.12)_55.5%,_rgba(173,_228,_255,_0.38)_100%)] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]">
                <a
                        data-open-form
                        class="block cursor-pointer font-medium text-center w-full text-base max-sm:text-sm leading-[22px] max-sm:leading-[20px] px-6 py-4 bg-primary-bg text-text-primary rounded-full hover:shadow-[0px_-4px_12px_0px_rgba(0,_0,_0,_0.32)_inset] transition relative z-[1]">
                    Попробуйте сейчас за 0 ₽
                </a>
            </div>
        </div>
        <div
                class="max-sm:mt-[32px] max-lg:absolute overflow-hidden right-0 min-h-[372px] max-sm:min-h-0 max-sm:min-w-0 max-sm:h-full min-w-[640px] max-sm:w-full max-sm:relative">
            <img src="{% static 'image/footer_img.png' %}" alt="footer_img"
                 class="max-h-[360px] max-lg:min-h-[372px] max-sm:min-h-0 max-lg:absolute max-sm:relative max-sm:flex max-lg:right-[-316px] max-sm:right-0 rounded-2xl max-sm:rounded-[4px]">
        </div>
    </div>
    <div class="bg-[#00000033] relative z-[1]">
        <div
                class="mt-[100px] max-md:mt-[30px] max-sm:mt-[48px] w-full h-[1px] bg-[linear-gradient(48deg,_rgba(255,255,255,0)_0%,_rgba(255,255,255,1)_15%,_rgba(255,255,255,1)_85%,_rgba(255,255,255,0)_100%)] opacity-20 relative z-[2]"></div>
        <div class="container mx-auto mt-6 flex justify-between items-center max-md:hidden relative z-[2]">
            <a href="/"><img src="{% static 'icons/favicon.svg' %}" alt="logo"></a>
            <div class="flex items-center gap-x-6">
                <a href="/search/" class="flex items-center">
                    <img src="{% static 'icons/search.svg' %}" alt="search">
                    <span class="ml-[8px] opacity-90 hover:opacity-100">Поиск</span>
                </a>
                <div class="h-6 w-0.5 bg-white opacity-5"></div>
                {#            <a href="#" class="opacity-90 hover:opacity-100">Войти</a>#}
                <a href="#"
                   class="block cursor-pointer px-3 py-1.5 bg-[linear-gradient(180deg,_#3274F9_0%,_#135BEB_100%)] rounded-[32px] hover:shadow-[0px_-4px_12px_0px_rgba(255,_255,_255,_0.32)_inset] transition">
                    Попробовать
                </a>
            </div>
        </div>
        <div
                class="container mx-auto mt-6 w-full h-[1px] bg-[linear-gradient(48deg,_rgba(255,255,255,0)_0%,_rgba(255,255,255,1)_15%,_rgba(255,255,255,1)_85%,_rgba(255,255,255,0)_100%)] opacity-20 max-md:hidden relative z-[2]"></div>
        <div
                class="container mx-auto max-sm:px-4 mt-6 max-md:mt-[52px] max-md:mt-10 flex max-md:flex-col max-md:gap-[24px] gap-4 relative z-[2] ">
            {% for menu_item in main_menu %}
                {% if menu_item.submenu %}
                    <div class="flex flex-col gap-2 w-full">
                        <div
                                class="hidden max-md:flex font-normal text-[20px] max-sm:text-sm leading-[26px] max-sm:leading-[20px] hover:underline justify-between items-center footer-readmore cursor-pointer">
                            {{ menu_item.title }}
                            <div class="transition">
                                <img src="{% static 'icons/arrow_down_16.svg' %}" alt="arrow_down">
                            </div>
                        </div>
                        <a href="{{ menu_item.url }}"
                           class="font-normal text-base leading-[22px] hover:underline max-md:hidden">{{ menu_item.title }}</a>
                        <div class="flex-col flex gap-2 max-md:hidden">
                            {% for sub_menu_item in menu_item.submenu %}
                                <a href="{{ sub_menu_item.url }}"
                                   class="{% if forloop.counter0 == 0 %}pt-[4px]{% endif %} opacity-80 hover:opacity-100 hover:underline">{{ sub_menu_item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="flex flex-col gap-2 hidden max-md:flex w-full">
                        <a href="{{ menu_item.url }}"
                           class="font-normal text-[20px] max-sm:text-sm leading-[26px] max-sm:leading-[20px] hover:underline">{{ menu_item.title }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div
                class="container mx-auto max-md:px-[32px] max-sm:px-4 mt-[40px] flex max-sm:flex-col justify-between pb-[32px] max-md:pb-[40px] relative z-[2]">
            <div class="flex max-md:flex-col gap-[80px] max-md:gap-2">
                <a class="opacity-50 hover:opacity-100 hover:underline max-sm:text-[12px] max-sm:leading-[17px]"
                   href="#">©
                    2018 –
                    {% now 'Y' %} ИНАУТ КОРП</a>
                <a class="opacity-50 hover:opacity-100 hover:underline max-sm:text-[12px] max-sm:leading-[17px]"
                   href="/usloviyami-obrabotki-personalnyh-dannyh/" target="_blank">Принципы
                    обработки пер. данных</a>
                <a class="opacity-50 hover:opacity-100 hover:underline max-sm:text-[12px] max-sm:leading-[17px]"
                   href="/usloviya-ispolzovaniya/" target="_blank">Условия
                    использования</a>
                <a class="opacity-50 hover:opacity-100 hover:underline max-sm:text-[12px] max-sm:leading-[17px]"
                   href="/politika-konfidencialnosti/" target="_blank">Политика конфиденциальности</a>
            </div>
            <a href="https://mateca.agency/" target="_blank" class="flex max-sm:mt-[8px]">
                <p class="opacity-50 max-sm:text-[12px] max-sm:leading-[17px]">Сайт сделала</p>
                <img src="{% static 'icons/New_Logo_Mateca.svg' %}" alt="signature"
                     class="ml-[8px] opacity-100 max-w-[100px] h-[20px]">
            </a>
        </div>
    </div>
</footer>
{% include 'includes/form.html' %}
{% include 'includes/form_cont.html' %}
{% include 'includes/form_cont_2.html' %}
{% include 'includes/loader.html' %}
</body>

</html>