<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bottons_choose_plan.css' %}">
    <script src="{% static 'scripts/buttons_page.js' %}"></script>
</head>
<body>
<div class="price_panel">
    <div class="div_div_result_bottom">
        <div class="div_result_bottom">
            <a href="add_ons.html" class="result_bottom" id="button_1" onclick="setPlanOne()">
                Купить
            </a>
            <div class="hidden_plan_but_page" id="hidden_plan_but_page_id"></div>
        </div>
    </div>
    <div class="div_div_result_bottom">
        <div class="div_result_bottom_business">
            <a href="add_ons.html" class="result_bottom_business" id="button_2" onclick="setPlanTwo()">
                Купить
            </a>
        </div>
    </div>
    <div class="div_div_result_bottom">
        <div class="div_result_bottom">
            <a href="add_ons.html" class="result_bottom" id="button_3" onclick="setPlanThree()">
                Купить
            </a>
        </div>
    </div>
</div>
</body>
</html>
