{% load static %}
<div class="h-dvh w-full flex items-center z-[1000] justify-center fixed top-0 left-0 bg-[#0000005e] backdrop-blur-2xl hidden overflow-y-scroll"
     id="request_partner_form_2">
    {#<div class="h-dvh w-full flex items-center justify-center fixed top-0 left-0 hidden" id="request_form">#}
    <section class="relative w-[1219px] max-lg:px-0 max-lg:pt-0">
        <div class="relative max-lg:hidden" data-close-partner-form-2>
            <div
                    class="cursor-pointer absolute colors-background-card p-3 rounded-[80px] right-[-48px] top-[-48px] max-h-[772px]:top-[28px] max-lg:right-0 max-lg:top-0 min-2.1:hidden"
            >
                <img src="{% static 'icons/cancel_request_form.svg' %}" alt="cancel_request_form"/>
            </div>
            <div
                    class="cursor-pointer absolute colors-background-card p-3 rounded-[80px] right-[8px] top-[-68px] max-h-[772px]:top-[28px] max-lg:right-0 max-lg:top-0 max-2.1:hidden"
            >
                <img src="{% static 'icons/cancel_request_form.svg' %}" alt="cancel_request_form"/>
            </div>
        </div>
        <div
                class="flex max-lg:flex-col gap-8 max-lg:gap-[60px] max-lg:justify-between min-h-[664px] color-dark-base-block-bg rounded-[40px] p-8 max-lg:py-6 max-lg:px-4 max-w-[1219px]"
        >
            <div class="hidden max-lg:flex justify-between max-md:gap-4">
                <div>
                    <h2 class="font-semibold text-2xl leading-[26px]">Получить консультацию</h2>
                    <p class="mt-4 font-normal text-sm colors-text-secondary">
                        Оставьте свой контакт здесь, и мы обязательно свяжемся с вами
                    </p>
                </div>
                <div class="min-w-10">
                    <div class="colors-background-card p-3 rounded-[80px]" data-close-form-partner-2-mobile>
                        <img src="{% static 'icons/cancel_request_form.svg' %}" alt="cancel_request_form"/>
                    </div>
                </div>
            </div>
            <div class="flex flex-col justify-between max-lg:hidden">
                <div class="mt-[48px]">
                    <img src="{% static 'image/request_form.png' %}" alt="request_form"
                         class="max-w-[540px] max-xl:max-w-[430px]"/>
                </div>
                <div class="max-w-[430px]">
                    <h2 class="font-semibold text-[32px] leading-[35px]">
                        Получить консультацию
                    </h2>
                    <p class="mt-4 colors-text-secondary font-normal text-base leading-[23px]">
                        Оставьте свой контакт здесь, и мы обязательно свяжемся с вами
                    </p>
                </div>
            </div>
            <form class="lg:dark:bg-footer-and-header lg:bg-[rgba(0,0,0,0.08)] rounded-[32px] p-[32px] max-lg:p-0 w-full">
                <h2 class="font-normal text-base leading-[23px] max-md:text-sm">Укажите своё имя и фамилию</h2>
                <div class="mt-4 flex gap-4 max-md:gap-2">
                    <input
                            type="text" name="firstname" required
                            class="border border-[var(--colors-stroke-table)] active:border-[var(--colors-background-card)] p-4 max-md:p-3 text-normal text-base leading-[23px] max-md:text-sm bg-[#212326] rounded-xl w-full placeholder:text-dark-text-secondary placeholder:text-text-secondary"
                            placeholder="Ваше имя"
                    />
                    <input
                            type="text" name="lastname" required
                            class="border border-[var(--colors-stroke-table)] active:border-[var(--colors-background-card)] p-4 max-md:p-3 text-normal text-base leading-[23px] max-md:text-sm bg-[#212326] rounded-xl w-full placeholder:text-dark-text-secondary placeholder:text-text-secondary"
                            placeholder="Ваша фамилия"
                    />
                </div>
                <h2 class="font-normal text-base leading-[23px] mt-8 max-md:mt-6 max-md:text-sm">
                    Заполните свои контактные данные
                </h2>
                <div class="mt-4 flex max-lg:flex-col gap-4 max-md:gap-2">
                    <input
                            type="text" name="phone" required
                            class="border border-[var(--colors-stroke-table)] active:border-[var(--colors-background-card)] p-4 max-md:p-3 text-normal text-base leading-[23px] max-md:text-sm bg-[#212326] rounded-xl w-full placeholder:text-dark-text-secondary placeholder:text-text-secondary"
                            placeholder="Введите номер телефона"
                    />
                    <input
                            type="email" name="email" required
                            class="border border-[var(--colors-stroke-table)] p-4 max-md:p-3 text-normal text-base leading-[23px] max-md:text-sm bg-[#212326] active:border-[var(--colors-background-card)] rounded-xl w-full placeholder:text-dark-text-secondary placeholder:text-text-secondary"
                            placeholder="Введите свою почту"
                    />
                </div>
                <h2 class="font-normal mt-8 text-base leading-[23px] max-md:mt-6 max-md:text-sm">
                    Заполните данные о компании
                </h2>
                <div class="mt-4 flex flex-col gap-4 max-md:gap-2">
                    <input
                            type="text" name="company" required
                            class="border border-[var(--colors-stroke-table)] p-4 max-md:p-3 text-normal text-base leading-[23px] max-md:text-sm bg-[#212326] active:border-[var(--colors-background-card)] rounded-xl w-full placeholder:text-dark-text-secondary placeholder:text-text-secondary"
                            placeholder="Введите название компании"
                    />
                    <div
                            id="request-form-p2-readmore"
                            class="relative cursor-pointer border request-form-p2-readmore border-[var(--colors-stroke-table)] p-4 max-md:p-3 text-normal text-base leading-[23px] max-md:text-sm bg-[#212326] active:border-[var(--colors-background-card)] rounded-xl w-full"
                    >
                        <span class="colors-text-secondary">Выберите свою роль в компании</span>
                        <img
                                src="{% static 'icons/arrow_down_dark.svg' %}"
                                alt="arrow_down_dark"
                                class="absolute dark:hidden right-4 top-[17px] max-md:top-3 cursor-pointer transition"
                        />
                        <img
                                src="{% static 'icons/arrow_down.svg' %}"
                                alt="arrow_down_dark"
                                class="absolute hidden right-4 top-[17px] max-md:top-3 dark:block cursor-pointer transition"
                        />
                        <ul
                                class="absolute top-16 max-md:top-12 right-0 border border-[var(--colors-stroke-table)] p-4 rounded-xl bg-[#212326] space-y-3 hidden transition">
                            <li class="select-element-p2-request">Топ-менеджер</li>
                            <li class="select-element-p2-request">Руководитель проекта</li>
                            <li class="select-element-p2-request">Владелец продукта</li>
                            <li class="select-element-p2-request">Скрам-мастер</li>
                            <li class="select-element-p2-request">Член команды проекта</li>
                            <li class="select-element-p2-request">Член Скрам-команды</li>
                            <li class="select-element-p2-request">Внешний участник</li>
                            <li class="select-element-p2-request">Руководитель Службы поддержки</li>
                            <li class="select-element-p2-request">Оператор Службы поддержки</li>
                            <li class="select-element-p2-request">CRM - Директор по продажам</li>
                            <li class="select-element-p2-request">CRM - Торговый представитель</li>
                            <li class="select-element-p2-request">CRM - Партнёрские продажи</li>
                        </ul>
                    </div>
                </div>
                <div class="flex max-sm:flex-col mt-12 gap-6 max-sm:gap-4">
                    <div
                            class="h-[62px] w-[139px] inline-block max-sm:flex max-sm:mx-auto p-1 max-sm:hidden"
                            style="background: url('/static/icons/button.svg') center no-repeat"
                    >
                        <button
                                type="submit" name="send_form"
{#                                onclick="ym(97332595, 'reachGoal', 'consult'); return true;"#}
                                class="block cursor-pointer font-medium text-center w-full text-base max-sm:text-sm leading-[22px] max-sm:leading-[20px] px-6 py-4 bg-[#777B8B] text-text-primary rounded-full hover:shadow-[0px_-4px_12px_0px_rgba(0,_0,_0,_0.32)_inset] transition"
                        >
                            Отправить
                        </button>
                    </div>
                    <div
                            class="h-[62px] w-[343px] inline-block max-sm:flex max-sm:mx-auto p-1 sm:hidden"
                            style="background: url('/static/icons/button_request_form.svg') center no-repeat"
                    >
                        <button
                                href="#" name="send_form_mobile"
{#                                onclick="ym(97332595, 'reachGoal', 'consult'); return true;"#}
                                class="block cursor-pointer font-medium text-center w-full text-base leading-[22px] px-6 py-4 bg-[#777B8B] text-text-primary rounded-full hover:shadow-[0px_-4px_12px_0px_rgba(0,_0,_0,_0.32)_inset] transition"
                        >
                            Отправить
                        </button>
                    </div>
                    <div
                            class="flex items-center font-normal text-sm max-sm:text-xs max-sm:leading-[17px] colors-text-secondary max-w-[300px]"
                    >
                        <p>
                            Нажимая на кнопку, вы соглашаетесь с
                            <a href="/usloviyami-obrabotki-personalnyh-dannyh/" target="_blank"
                               class="text-text-link dark:text-dark-text-link hover:underline cursor-pointer"
                            >принципами обработки персональных данных</a>
                            и
                            <a href="/usloviya-ispolzovaniya/" target="_blank"
                               class="text-text-link dark:text-dark-text-link hover:underline cursor-pointer"
                            >условиями использования</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
