<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-auto-scroll@0.5.3/dist/js/splide-extension-auto-scroll.min.js"></script>
{#<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>#}
{#<script>#}
{#    const swiper = new Swiper(".mySwiper", {#}
{#        slidesPerView: "4",#}
{#        spaceBetween: 16,#}
{#    });#}
{#</script>#}
<script defer>
    const splide = new Splide('.splide', {
        type: 'loop',
        drag: 'free',
        arrows: false,
        focus: 'center',
        gap: '60px',
        autoWidth: true,
        autoScroll: {
            speed: 1,
        },
    })

    splide.mount(window.splide.Extensions)
</script>
