{% load static %}
<div class="h-dvh w-full flex items-center z-[1000] justify-center fixed top-0 left-0 colors-dark-background-block-bg overflow-y-scroll"
     id="loader_start" style="z-index: 1001">
    <section class="flex items-center flex-col max-md:pt-12 overflow-hidden h-dvh">
        <div
                class="grid max-md:grid-cols-[230px_230px] grid-cols-[316px_316px_316px_316px] overflow-hidden justify-center mx-auto h-full w-full gap-4 mt-20 max-md:mt-12"
        >
            <div class="relative circles-element">
                <img
                        src="{% static 'image/loader/loader_start.png' %}"
                        alt="loader_start"
                        class="w-full opacity-0 transition duration-500"
                />
                <img
                        src="{% static 'image/loader/loader_end.png' %}"
                        alt="loader_end"
                        class="absolute top-0 left-0 w-full opacity-100 transition duration-500"
                />
            </div>
            <div class="relative circles-element">
                <img
                        src="{% static 'image/loader/loader_start.png' %}"
                        alt="loader_start"
                        class="w-full opacity-0 transition duration-500"
                />
                <img
                        src="{% static 'image/loader/loader_end.png' %}"
                        alt="loader_end"
                        class="absolute top-0 left-0 w-full opacity-100 transition duration-500"
                />
            </div>
            <div class="relative circles-element">
                <img
                        src="{% static 'image/loader/loader_start.png' %}"
                        alt="loader_start"
                        class="w-full opacity-0 transition duration-500"
                />
                <img
                        src="{% static 'image/loader/loader_end.png' %}"
                        alt="loader_end"
                        class="absolute top-0 left-0 w-full opacity-100 transition duration-500"
                />
            </div>
            <div class="relative circles-element">
                <img
                        src="{% static 'image/loader/loader_start.png' %}"
                        alt="loader_start"
                        class="w-full opacity-0 transition duration-500"
                />
                <img
                        src="{% static 'image/loader/loader_end.png' %}"
                        alt="loader_end"
                        class="absolute top-0 left-0 w-full opacity-100 transition duration-500"
                />
            </div>
            <div class="relative circles-element">
                <img
                        src="{% static 'image/loader/loader_start.png' %}"
                        alt="loader_start"
                        class="w-full opacity-0 transition duration-500"
                />
                <img
                        src="{% static 'image/loader/loader_end.png' %}"
                        alt="loader_end"
                        class="absolute top-0 left-0 w-full opacity-100 transition duration-500"
                />
            </div>
            <div class="relative circles-element">
                <img
                        src="{% static 'image/loader/loader_start.png' %}"
                        alt="loader_start"
                        class="w-full opacity-0 transition duration-500"
                />
                <img
                        src="{% static 'image/loader/loader_end.png' %}"
                        alt="loader_end"
                        class="absolute top-0 left-0 w-full opacity-100 transition duration-500"
                />
            </div>
            <div class="relative circles-element">
                <img
                        src="{% static 'image/loader/loader_start.png' %}"
                        alt="loader_start"
                        class="w-full opacity-0 transition duration-500"
                />
                <img
                        src="{% static 'image/loader/loader_end.png' %}"
                        alt="loader_end"
                        class="absolute top-0 left-0 w-full opacity-100 transition duration-500"
                />
            </div>
            <div class="relative circles-element">
                <img
                        src="{% static 'image/loader/loader_start.png' %}"
                        alt="loader_start"
                        class="w-full opacity-0 transition duration-500"
                />
                <img
                        src="{% static 'image/loader/loader_end.png' %}"
                        alt="loader_end"
                        class="absolute top-0 left-0 w-full opacity-100 transition duration-500"
                />
            </div>
        </div>
    </section>
</div>
