{% load static %}
<div class="h-dvh w-full flex hidden items-center z-[1000] justify-center fixed top-0 left-0 colors-dark-background-block-bg overflow-y-scroll"
     id="loader_form">
    <section class="flex items-center flex-col pt-20 max-md:pt-12 overflow-hidden h-dvh">
        <div class="max-w-[634px] max-md:px-4">
            <h2
                    class="text-center font-semibold text-[80px] leading-[80px] max-md:text-[40px] max-md:leading-[40px] tracking-[-1.92px] max-sm:tracking-[-0.72px] dark:bg-[linear-gradient(91deg,_#FFF_52.03%,_rgba(255,_255,_255,_0.64)_83.59%)] bg-[#000] bg-clip-text"
                    style="-webkit-text-fill-color: transparent"
            >
                Почти готово!
            </h2>
            <p class="mt-6 text-xl font-normal leading-[26px] max-md:text-sm text-center colors-text-secondary">
                Сейчас мы готовим вашу пробную версию, и вы будете перенаправлены, когда она будет готова.
            </p>
        </div>
        <div
                class="grid max-md:grid-cols-[230px_230px] grid-cols-[316px_316px_316px_316px] overflow-hidden justify-center mx-auto h-full w-full gap-4 mt-20 max-md:mt-12"
        >
            <div class="relative circles-element">
                <img
                        src="{% static 'image/loader/loader_start.png' %}"
                        alt="loader_start"
                        class="w-full opacity-0 transition duration-500"
                />
                <img
                        src="{% static 'image/loader/loader_end.png' %}"
                        alt="loader_end"
                        class="absolute top-0 left-0 w-full opacity-100 transition duration-500"
                />
            </div>
            <div class="relative circles-element">
                <img
                        src="{% static 'image/loader/loader_start.png' %}"
                        alt="loader_start"
                        class="w-full opacity-0 transition duration-500"
                />
                <img
                        src="{% static 'image/loader/loader_end.png' %}"
                        alt="loader_end"
                        class="absolute top-0 left-0 w-full opacity-100 transition duration-500"
                />
            </div>
            <div class="relative circles-element">
                <img
                        src="{% static 'image/loader/loader_start.png' %}"
                        alt="loader_start"
                        class="w-full opacity-0 transition duration-500"
                />
                <img
                        src="{% static 'image/loader/loader_end.png' %}"
                        alt="loader_end"
                        class="absolute top-0 left-0 w-full opacity-100 transition duration-500"
                />
            </div>
            <div class="relative circles-element">
                <img
                        src="{% static 'image/loader/loader_start.png' %}"
                        alt="loader_start"
                        class="w-full opacity-0 transition duration-500"
                />
                <img
                        src="{% static 'image/loader/loader_end.png' %}"
                        alt="loader_end"
                        class="absolute top-0 left-0 w-full opacity-100 transition duration-500"
                />
            </div>
            <div class="relative circles-element">
                <img
                        src="{% static 'image/loader/loader_start.png' %}"
                        alt="loader_start"
                        class="w-full opacity-0 transition duration-500"
                />
                <img
                        src="{% static 'image/loader/loader_end.png' %}"
                        alt="loader_end"
                        class="absolute top-0 left-0 w-full opacity-100 transition duration-500"
                />
            </div>
            <div class="relative circles-element">
                <img
                        src="{% static 'image/loader/loader_start.png' %}"
                        alt="loader_start"
                        class="w-full opacity-0 transition duration-500"
                />
                <img
                        src="{% static 'image/loader/loader_end.png' %}"
                        alt="loader_end"
                        class="absolute top-0 left-0 w-full opacity-100 transition duration-500"
                />
            </div>
            <div class="relative circles-element">
                <img
                        src="{% static 'image/loader/loader_start.png' %}"
                        alt="loader_start"
                        class="w-full opacity-0 transition duration-500"
                />
                <img
                        src="{% static 'image/loader/loader_end.png' %}"
                        alt="loader_end"
                        class="absolute top-0 left-0 w-full opacity-100 transition duration-500"
                />
            </div>
            <div class="relative circles-element">
                <img
                        src="{% static 'image/loader/loader_start.png' %}"
                        alt="loader_start"
                        class="w-full opacity-0 transition duration-500"
                />
                <img
                        src="{% static 'image/loader/loader_end.png' %}"
                        alt="loader_end"
                        class="absolute top-0 left-0 w-full opacity-100 transition duration-500"
                />
            </div>
        </div>
    </section>
</div>
