<li
        class="relative group/item p-1.5 gap-x-1 rounded-lg leading-[1.4] flex items-center opacity-90 hover:opacity-100 transition hover:bg-[var(--colors-background-sec-bt)] cursor-pointer"
>
    <span>Продукт</span>
    <img
            src="{% static 'icons/arrow_down.svg' %}"
            alt="arrow_down"
            class="hidden dark:block group-hover/item:rotate-180 transition"
    />
    <img
            src="{% static 'icons/arrow_down_dark.svg' %}"
            alt="arrow_down"
            class="dark:hidden block group-hover/item:rotate-180 transition"
    />
    <div class="absolute z-[4] hidden group-hover/item:flex left-0 top-9 pt-1">
        <div
                class="gap-x-6 group-hover/item:flex p-4 dark:bg-[var(--colors-background-header)] border border-[var(--colors-stroke-table)] rounded-[16px] bg-[#fff] dark:backdrop-blur-2xl"
        >
            <div
                    class="p-5 group/block rounded-[12px] bg-[var(--colors-background-card)] w-[262px] hover:bg-[url('/image/back-review-card.svg')] bg-cover transition"
            >
                <h3 class="text-xl text-[var(--colors-dark-base-text-primary)]">Продукт</h3>
                <p class="whitespace-normal text-[var(--colors-text-secondary)] mt-2 text-base font-normal">
                    Страница, со списком и описанием всех продуктов INOUT Проект
                </p>
                <a
                        href="#"
                        class="rounded-full py-3 px-6 group-hover/block:dark:border-[#365995] hover:shadow-[0px_-4px_12px_0px_rgba(0,_0,_0,_0.16)_inset] text-[var(--colors-dark-base-text-primary)] bg-[#eaeef2] border-[#eaeef2] dark:bg-[rgba(255,255,255,0.05)] text-base mt-20 inline-block border dark:border-[#343942] transition"
                >
                    Перейти
                </a>
            </div>
            <div>
                <ul>
                    <li>
                        <a
                                href="#"
                                class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF] transition"
                        >База
                        </a>
                    </li>
                    <li>
                        <a
                                href="#"
                                class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF] transition"
                        >Бизнес
                        </a>
                    </li>
                    <li>
                        <a
                                href="#"
                                class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF] transition"
                        >Развёртывание
                        </a>
                    </li>
                    <li>
                        <a
                                href="#"
                                class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF] transition"
                        >Платформа
                        </a>
                    </li>
                    <li>
                        <a
                                href="#"
                                class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF] transition"
                        >Интеграция
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>
<li
        class="relative group/item p-1.5 gap-x-1 rounded-lg leading-[1.4] flex items-center opacity-90 hover:opacity-100 transition hover:bg-[var(--colors-background-sec-bt)] cursor-pointer"
>
    <span>Услуги</span>
    <img
            src="{% static 'icons/arrow_down.svg' %}"
            alt="arrow_down"
            class="hidden dark:block group-hover/item:rotate-180 transition"
    />
    <img
            src="{% static 'icons/arrow_down_dark.svg' %}"
            alt="arrow_down"
            class="dark:hidden block group-hover/item:rotate-180 transition"
    />
    <div class="absolute z-[4] hidden group-hover/item:flex left-0 top-9 pt-1">
        <div
                class="gap-x-6 group-hover/item:flex p-4 dark:bg-[var(--colors-background-header)] border border-[var(--colors-stroke-table)] rounded-[16px] bg-[#fff] dark:backdrop-blur-2xl"
        >
            <div
                    class="p-5 group/block rounded-[12px] bg-[var(--colors-background-card)] w-[262px] hover:bg-[url('/image/back-review-card.svg')] bg-cover transition"
            >
                <h3 class="text-xl text-[var(--colors-dark-base-text-primary)]">Услуги</h3>
                <p class="whitespace-normal text-[var(--colors-text-secondary)] mt-2 text-base font-normal">
                    Страница, со списком и описанием всех услуг INOUT Проект
                </p>
                <a
                        href="#"
                        class="rounded-full py-3 px-6 group-hover/block:dark:border-[#365995] hover:shadow-[0px_-4px_12px_0px_rgba(0,_0,_0,_0.16)_inset] text-[var(--colors-dark-base-text-primary)] bg-[#eaeef2] border-[#eaeef2] dark:bg-[rgba(255,255,255,0.05)] text-base mt-20 inline-block border dark:border-[#343942] transition"
                >
                    Перейти
                </a>
            </div>
            <div>
                <ul>
                    <li>
                        <a
                                href="#"
                                class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF] transition"
                        >Поддержка
                        </a>
                    </li>
                    <li>
                        <a
                                href="#"
                                class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF] transition"
                        >Реализация
                        </a>
                    </li>
                    <li>
                        <a
                                href="#"
                                class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF] transition"
                        >Внедрение
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>
<li
        class="relative group/item p-1.5 gap-x-1 rounded-lg leading-[1.4] flex items-center opacity-90 hover:opacity-100 transition hover:bg-[var(--colors-background-sec-bt)] cursor-pointer"
>
    <span>О нас</span>
    <img
            src="{% static 'icons/arrow_down.svg' %}"
            alt="arrow_down"
            class="hidden dark:block group-hover/item:rotate-180 transition"
    />
    <img
            src="{% static 'icons/arrow_down_dark.svg' %}"
            alt="arrow_down"
            class="dark:hidden block group-hover/item:rotate-180 transition"
    />
    <div class="absolute z-[4] hidden group-hover/item:flex left-0 top-9 pt-1">
        <div
                class="gap-x-6 group-hover/item:flex p-4 dark:bg-[var(--colors-background-header)] border border-[var(--colors-stroke-table)] rounded-[16px] bg-[#fff] dark:backdrop-blur-2xl"
        >
            <div
                    class="p-5 group/block rounded-[12px] bg-[var(--colors-background-card)] w-[262px] hover:bg-[url('/image/back-review-card.svg')] bg-cover transition"
            >
                <h3 class="text-xl text-[var(--colors-dark-base-text-primary)]">О нас</h3>
                <p class="whitespace-normal text-[var(--colors-text-secondary)] mt-2 text-base font-normal">
                    Страница, с описанием и партнерами компании
                </p>
                <a
                        href="#"
                        class="rounded-full py-3 px-6 group-hover/block:dark:border-[#365995] hover:shadow-[0px_-4px_12px_0px_rgba(0,_0,_0,_0.16)_inset] text-[var(--colors-dark-base-text-primary)] bg-[#eaeef2] border-[#eaeef2] dark:bg-[rgba(255,255,255,0.05)] text-base mt-20 inline-block border dark:border-[#343942] transition"
                >
                    Перейти
                </a>
            </div>
            <div>
                <ul>
                    <li>
                        <a
                                href="/reviews/"
                                class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF] transition"
                        >Отзывы
                        </a>
                    </li>
                    <li>
                        <a
                                href="/partners/"
                                class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF] transition"
                        >Партнеры
                        </a>
                    </li>
                    <li>
                        <a
                                href="/partners/become/"
                                class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF] transition"
                        >Стать партнером
                        </a>
                    </li>
                    <li>
                        <a
                                href="/about/subscribe/"
                                class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF] transition"
                        >Новости управления проектами
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>
<li
        class="relative group/item p-1.5 gap-x-1 rounded-lg leading-[1.4] flex items-center opacity-90 hover:opacity-100 transition hover:bg-[var(--colors-background-sec-bt)] cursor-pointer"
>
    <span>Ресурсы</span>
    <img
            src="{% static 'icons/arrow_down.svg' %}"
            alt="arrow_down"
            class="hidden dark:block group-hover/item:rotate-180 transition"
    />
    <img
            src="{% static 'icons/arrow_down_dark.svg' %}"
            alt="arrow_down"
            class="dark:hidden block group-hover/item:rotate-180 transition"
    />
    <div class="absolute z-[4] hidden group-hover/item:flex left-0 top-9 pt-1">
        <div
                class="gap-x-6 group-hover/item:flex p-4 dark:bg-[var(--colors-background-header)] border border-[var(--colors-stroke-table)] rounded-[16px] bg-[#fff] dark:backdrop-blur-2xl"
        >
            <div
                    class="p-5 group/block rounded-[12px] bg-[var(--colors-background-card)] w-[262px] hover:bg-[url('/image/back-review-card.svg')] bg-cover transition"
            >
                <h3 class="text-xl text-[var(--colors-dark-base-text-primary)]">Ресурсы</h3>
                <p class="whitespace-normal text-[var(--colors-text-secondary)] mt-2 text-base font-normal">
                    Страница, с вспомогающими материалами, ресурсами
                </p>
                <a
                        href="#"
                        class="rounded-full py-3 px-6 group-hover/block:dark:border-[#365995] hover:shadow-[0px_-4px_12px_0px_rgba(0,_0,_0,_0.16)_inset] text-[var(--colors-dark-base-text-primary)] bg-[#eaeef2] border-[#eaeef2] dark:bg-[rgba(255,255,255,0.05)] text-base mt-20 inline-block border dark:border-[#343942] transition"
                >
                    Перейти
                </a>
            </div>
            <div>
                <ul>
                    <li>
                        <a
                                href="#"
                                class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF] transition"
                        >Учебный центр
                        </a>
                    </li>
                    <li>
                        <a
                                href="/blog/"
                                class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF] transition"
                        >Блог
                        </a>
                    </li>
                    <li>
                        <a
                                href="/documentation/"
                                class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF] transition"
                        >Документация
                        </a>
                    </li>
                    <li>
                        <a
                                href="/faq/"
                                class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF] transition"
                        >Вопросы и ответы
                        </a>
                    </li>
                    <li>
                        <a
                                href="#"
                                class="py-2 text-base font-medium block min-w-[222px] hover:text-[#4785FF] transition"
                        >Техническая информация
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>
<li
        class="relative group/item p-1.5 gap-x-1 rounded-lg leading-[1.4] flex items-center opacity-90 hover:opacity-100 transition hover:bg-[var(--colors-background-sec-bt)] cursor-pointer"
>
    <a href="/price/">Цены</a>
</li>