{% extends "base.html" %}
{% load static %}

{% block content %}
{% include 'includes/header.html' %}

<main class="main">
    <div class="container">
        <div class="border"></div>
        <div class="content-left">
            <img src="{% static 'images/tag.svg' %}" class="svg-image">
            <button type="button" class="about-btn" onclick="window.location.href='https://domen-test.ru/'">Подробнее</button>
        </div>
       
        <div class="content-right">
            <div class="cont"></div>
            <img src="{% static 'images/big-logo.svg' %}" width="324" height="53" alt="INOUT Проект" class="logo-image">
            <h2>Добро пожаловать в клиентскую зону INOUT Проект</h2>

            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <label for="email" class="email_t">Почта</label>
                    <input type="email" id="email" name="email" class="email" required>
                </div>
                <div class="input-group">
                    <label for="password" class="password_t">Пароль</label>
                    <input type="password" id="password" name="password" class="password" required>
                </div>
                <div class="links">
                    <!--a href="{% url 'reset_password' %}" class="forgot-password">Забыли пароль?</a-->
                </div>

                <button type="submit" class="btn">Продолжить</button>

                <div class="register-link">
                    <a href="https://domen-test.ru/price/">Нет клиентской зоны</a>
                </div>
            </form>
            
            {% if messages %}
            <div class="error-messages">
                {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}