{% extends "base/base.html" %}
{% load static wagtailcore_tags %}
{% load my_tags %}
{% load wagtailimages_tags static %}

{% block content %}

    <section
            class="w-full overflow-hidden flex flex-col flex-nowrap max-md:px-8 max-sm:px-4 box-border pt-10 max-md:pt-[13px] h-auto pb-20 max-md:pb-20 max-sm:pb-20"
    >
        <div class="container mx-auto">
            <div class="w-full flex items-center justify-between gap-3 max-sm:flex-col max-sm:items-start">
                <!-- breadcrumbs -->
                <div class="flex gap-1 items-center w-full max-sm:flex-wrap">
                    <div class="flex gap-0.5 items-center shrink-0 box-border py-0.5">
                        <a href="/" class="text-sm max-sm:text-xs">INOUT Проект</a>
                        <img src="{% static 'icons/arrow_right_light.svg' %}" alt="arrow" class="hidden dark:block"/>
                        <img src="{% static 'icons/arrow_right_dark.svg' %}" alt="arrow" class="dark:hidden"/>
                    </div>
                    <div class="flex gap-0.5 items-center box-border py-0.5">
                        <a href="{{ page.get_parent.url }}"
                           class="text-sm max-sm:text-xs">{{ page.get_parent.title }}</a>
                        <img src="{% static 'icons/arrow_right_light.svg' %}" alt="arrow" class="hidden dark:block"/>
                        <img src="{% static 'icons/arrow_right_dark.svg' %}" alt="arrow" class="dark:hidden"/>
                    </div>
                    <div>
                        <p class="text-sm max-sm:text-xs dark:text-dark-text-tertiary text-text-tertiary">{{ page.title }}</p>
                    </div>
                </div>
                <!-- breadcrumbs -->

                <div
                        class="theme-switcher min-w-[104px] w-[104px] flex h-9 rounded-[112px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT p-1 border border-[transparent] dark:hover:border-[rgba(255,255,255,0.08)] hover:border-[rgba(0,0,0,0.08)] transition"
                >
                    <div
                            class="dark-theme theme-control rounded-[56px] dark:bg-dark-card-and-Sec-BT bg-[transparent] flex items-center justify-center w-1/2 hover:cursor-pointer dark:hover:cursor-default"
                    >
                        <img src="{% static 'icons/moon_dark.svg' %}" alt="moon"
                             class="w-4 h-4 hidden dark:block transition"/>
                        <img src="{% static 'icons/moon_light.svg' %}" alt="moon"
                             class="dark w-4 h-4 dark:hidden transition"/>
                    </div>
                    <div
                            class="light-theme theme-control rounded-[56px] bg-[rgba(0,0,0,0.10)] dark:bg-[transparent] flex items-center justify-center w-1/2 dark:hover:cursor-pointer hover:cursor-default"
                    >
                        <img src="{% static 'icons/sun_dark.svg' %}" alt="sun"
                             class="light w-4 h-4 hidden dark:block transition"/>
                        <img src="{% static 'icons/sun_light.svg' %}" alt="sun" class="w-4 h-4 dark:hidden transition"/>
                    </div>
                </div>
            </div>
            {% with path=request.path|split_path %}
                <div class="mt-20 max-md:mt-10 max-sm:mt-10">
                    <h2 class="font-semibold leading-10 text-[40px] max-sm:leading-[32px] max-sm:text-[32px] mb-6">
                        Блог</h2>
                    <div class="flex justify-between items-center">
                        <div
                                class="ui-h-scroll flex flex-row max-sm:w-full overflow-y-auto text-base leading-[22px] max-sm:text-sm"
                                style="scrollbar-width: none; -ms-overflow-style: none"
                        >

                            <a
                                    href="/resursy/blog/"
                                    class="nav-link {% if page.url == '/resursy/blog/' %}border-b text-text-primary dark:text-dark-text-primary {% else %} text-text-tertiary dark:text-dark-text-tertiary {% endif %} transition block box-border py-2 px-4 hover:text-text-primary dark:hover:text-dark-text-primary"
                                    data-clicked="true"
                            >Всё</a
                            >
                            {% for blog in blogs %}
                                <a
                                        href="{{ blog.url }}"
                                        class="nav-link transition block box-border py-2 px-4 {% if page.url == blog.url %} border-b text-text-primary dark:text-dark-text-primary {% else %} text-text-tertiary dark:text-dark-text-tertiary {% endif %} hover:text-text-primary dark:hover:text-dark-text-primary"
                                        data-clicked="false"
                                >{{ blog.title }}</a
                                >
                            {% endfor %}

                        </div>
                        <div class="shrink-0">
                            <div
                                    data-clicked="false"
                                    class="filter-item relative shrink-0 z-20 p-1.5 box-border gap-x-1 rounded-lg text-base max-sm:text-sm leading-[20px] flex items-center text-text-primary dark:text-dark-text-primary hover:text-text-primary dark:hover:text-dark-text-primary transition cursor-pointer"
                            >
                                <span class="inline-block">Сначала {% if request.GET.order == 'new' %} новые {% else %}
                                    старые {% endif %}</span>
                                <img
                                        src="{% static 'icons/arrow_down.svg' %}"
                                        alt="arrow_down"
                                        class="hidden dark:block transition filter-item-image"
                                />
                                <img
                                        src="{% static 'icons/arrow_down_dark.svg' %}"
                                        alt="arrow_down"
                                        class="dark:hidden block transition filter-item-image"
                                />
                                <div class="filter-menu absolute z-20 hidden right-0 top-[43px] transition box-border">
                                    <div
                                            class="w-[254px] py-2 px-4 dark:bg-dark-footer-and-header bg-footer-and-header border border-[var(--colors-stroke-table)] rounded-2xl backdrop-blur-2xl"
                                    >
                                        <div>
                                            <ul>
                                                <li>
                                                    <a
                                                            href="?order=old"
                                                            class="py-2 w-full box-border text-base max-sm:text-sm leading-[22px] font-medium block {% if request.GET.order == 'old' or not request.GET.order %} text-text-link dark:text-dark-text-link {% else %} text-text-primary dark:text-dark-text-primary {% endif %} hover:text-text-link dark:hover:text-dark-text-link"
                                                    >Сначала старые
                                                    </a>
                                                </li>
                                                <li>
                                                    <a
                                                            href="?order=new"
                                                            class="py-2 w-full box-border text-base max-sm:text-sm leading-[22px] font-medium block {% if not request.GET.order == 'new' %} text-text-primary dark:text-dark-text-primary {% else %} text-text-link dark:text-dark-text-link {% endif %} hover:text-text-link dark:hover:text-dark-text-link"
                                                    >Сначала новые
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endwith %}
            <div class="max-sm:px-4 mt-20 max-md:mt-10 flex flex-wrap gap-x-4 gap-y-12 max-sm:justify-center">
                {% if articles %}
                    {% for article in articles %}
                        <div class="max-w-[288px] flex flex-col gap-4 cursor-pointer" onclick="location.href='{{ article.url }}'">
                            {% image article.image original as image %}
                            <img src="{{ image.url }}" alt="slide_1"
                                 class="w-full h-[160px] object-cover rounded-[16px]"/>
                            <div class="flex flex-col gap-4 items-start pl-2">
                                <p
                                        class="flex flex-row items-center justify-center gap-2 text-[12px] font-normal dark:text-dark-text secondary text-text-secondary"
                                >
                                    {{ article.last_published_at|date:"d F Y" }}
                                    <img src="{% static 'icons/dot.svg' %}"
                                         alt="dot"/>{{ article.reading_time|reading_minutes }}<img
                                        src="{% static 'icons/dot.svg' %}"
                                        alt="dot"
                                />{{ article.get_parent.title }}
                                </p>
                                <p class="font-normal text-[20px] max-sm:text-[16px] leading-[26px] max-sm:leading-[23px]">
                                    {{ article.title }}
                                </p>
                                <a
                                        href="{{ article.url }}"
                                        class="font-medium text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] text-text-link dark:text-dark-text-link hover:underline"
                                >Читать статью</a
                                >
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for article in page.get_children %}
                        <div class="max-w-[288px] flex flex-col gap-4">
                            {% image article.specific.image original as image %}
                            <img src="{{ image.url }}" alt="slide_1"
                                 class="w-full h-[160px] object-cover rounded-[16px]"/>
                            <div class="flex flex-col gap-4 items-start pl-2">
                                <p
                                        class="flex flex-row items-center justify-center gap-2 text-[12px] font-normal dark:text-dark-text secondary text-text-secondary"
                                >
                                    {{ article.specific.last_published_at|date:"d F Y" }}
                                    <img src="{% static 'icons/dot.svg' %}"
                                         alt="dot"/>{{ article.specific.reading_time|reading_minutes }}<img
                                        src="{% static 'icons/dot.svg' %}"
                                        alt="dot"
                                />{{ article.get_parent.title }}
                                </p>
                                <p class="font-normal text-[20px] max-sm:text-[16px] leading-[26px] max-sm:leading-[23px]">
                                    {{ article.title }}
                                </p>
                                <a
                                        href="{{ article.url }}"
                                        class="font-medium text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] text-text-link dark:text-dark-text-link hover:underline"
                                >Читать статью</a
                                >
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            {#        <div class="mx-auto flex items-center justify-center w-full gap-[11px] mt-20 max-md:mt-10">#}
            {#            <button class="w-[24px] h-[24px] hover:cursor-pointer disabled:opacity-50 disabled:cursor-default" disabled>#}
            {#                <img src="{% static 'icons/arrow_right_light.svg' %}" alt="arrow" class="rotate-180 hidden dark:block"/>#}
            {#                <img src="{% static 'icons/arrow_right_dark.svg' %}" alt="arrow" class="rotate-180 dark:hidden"/>#}
            {#            </button>#}
            {#            <div class="flex">#}
            {#                <a#}
            {#                        href="#"#}
            {#                        class="pagination-item inline-block flex justify-center items-center rounded-full w-[46px] h-[46px] text-base dark:text-dark-text-primary text-text-primary dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT hover:text-text-primary dark:hover:text-dark-text-primary dark:hover:bg-dark-card-and-Sec-BT hover:bg-card-and-Sec-BT"#}
            {#                >1</a#}
            {#                >#}
            {#                <a#}
            {#                        href="#"#}
            {#                        class="pagination-item inline-block flex justify-center items-center rounded-full w-[46px] h-[46px] text-base text-text-secondary dark:text-dark-text-secondary hover:text-text-primary dark:hover:text-dark-text-primary dark:hover:bg-dark-card-and-Sec-BT hover:bg-card-and-Sec-BT"#}
            {#                >2</a#}
            {#                >#}
            {#                <a#}
            {#                        href="#"#}
            {#                        class="pagination-item inline-block flex justify-center items-center rounded-full w-[46px] h-[46px] text-base text-text-secondary dark:text-dark-text-secondary hover:text-text-primary dark:hover:text-dark-text-primary dark:hover:bg-dark-card-and-Sec-BT hover:bg-card-and-Sec-BT"#}
            {#                >3</a#}
            {#                >#}
            {#                <a#}
            {#                        href="#"#}
            {#                        class="pagination-item inline-block flex justify-center items-center rounded-full w-[46px] h-[46px] text-base text-text-secondary dark:text-dark-text-secondary hover:text-text-primary dark:hover:text-dark-text-primary dark:hover:bg-dark-card-and-Sec-BT hover:bg-card-and-Sec-BT"#}
            {#                >...</a#}
            {#                >#}
            {#                <a#}
            {#                        href="#"#}
            {#                        class="pagination-item inline-block flex justify-center items-center rounded-full w-[46px] h-[46px] text-base text-text-secondary dark:text-dark-text-secondary hover:text-text-primary dark:hover:text-dark-text-primary dark:hover:bg-dark-card-and-Sec-BT hover:bg-card-and-Sec-BT"#}
            {#                >8</a#}
            {#                >#}
            {#            </div>#}
            {#            <button class="w-[24px] h-[24px] hover:cursor-pointer disabled:opacity-50 disabled:cursor-default">#}
            {#                <img src="{% static 'icons/arrow_right_light.svg' %}" alt="arrow" class="hidden dark:block"/>#}
            {#                <img src="{% static 'icons/arrow_right_dark.svg' %}" alt="arrow" class="dark:hidden"/>#}
            {#            </button>#}
            {#        </div>#}
        </div>
    </section>
{% endblock %}