{% load static wagtailcore_tags %}


<section
        class="w-full flex flex-col flex-nowrap max-md:px-9 max-sm:px-4 box-border h-auto  max-md:pb-11"
>
    <div class="container mx-auto">
        <!-- prices table -->
        <div class="pt-[40px] max-md:pt-11 flex flex-col items-center gap-10 max-md:gap-6">
            <div class="w-full h-full overflow-x-scroll">

                <!-- devider -->
                {% for functions_list in value.functions_list %}
                    <div
                            class="w-full py-2 px-4 box-border max-md:px-0 max-md:py-0 grid grid-cols-[450px_repeat(6,_1fr)] "
                    >
                        <p class="py-2 pl-2 text-base"></p>
                        <p class="w-[80px] py-2 text-center text-text-tertiary max-sm:text-sm max-sm:leading-[20px] max-sm:py-[10px]">
                            Redmine
                        </p>
                        <p class="w-[80px] py-2 text-center text-text-tertiary max-sm:text-sm max-sm:leading-[20px] max-sm:py-[10px]">
                            Basecamp
                        </p>
                        <p class="w-[80px] py-2 text-center text-text-tertiary max-sm:text-sm max-sm:leading-[20px] max-sm:py-[10px]">
                            Jira
                        </p>
                        <p class="w-[80px] py-2 text-center text-text-tertiary max-sm:text-sm max-sm:leading-[20px] max-sm:py-[10px]">
                            MS Project
                        </p>
                        <p class="w-[80px] py-2 text-center text-text-tertiary max-sm:text-sm max-sm:leading-[20px] max-sm:py-[10px]">
                            Asana
                        </p>
                        <p class="w-[80px] py-2 text-center text-text-tertiary max-sm:text-sm max-sm:leading-[20px] max-sm:py-[10px]">
                            INOUT
                        </p>
                    </div>
                    <table class="w-full max-md:mt-6">
                        {% for item in functions_list.value.text_list %}
                            <tr
                                    class="pt-2 pb-[7px] px-4 box-border max-md:px-0 max-md:py-0 grid grid-cols-[450px_repeat(6,_1fr)] max-md:grid-cols-6 max-md:grid-rows-[fit-content_64px] {% if forloop.counter|divisibleby:2 == 0 %}dark:bg-dark-card-and-Sec-BT bg-[#F3F6F9]{% endif %} box-border border-[rgba(255,255,255,0.08)] border-b"
                            >
                                <td class="py-2 pl-2 max-md:ml-0 max-md:px-4 max-md:flex max-md:items-center max-sm:text-sm max-md:leading-[20px] max-md:pt-3.5 max-md:pb-[13px] text-base max-md:col-span-6 border-[rgba(255,255,255,0.08)] "
                                >
                                    {{ item.value.text }}
                                </td>
                                {% if item.value.redmine %}
                                    <td class="w-[80px] py-2 max-md:py-[19px] flex justify-center border-[rgba(255,255,255,0.08)]">
                                        <img src="{% static 'icons/check.svg' %}" alt="check"
                                             class="hidden dark:block"/>
                                        <img src="{% static 'icons/check_dark.svg' %}" alt="check" class="dark:hidden"/>
                                    </td>
                                {% else %}
                                    <td class="w-[80px] py-2 max-md:py-[19px] flex justify-center border-[rgba(255,255,255,0.08)]">
                                        <img src="{% static 'icons/check.svg' %}" alt="check"
                                             class="hidden dark:hidden"/>
                                        <img src="{% static 'icons/check_dark.svg' %}" alt="check"
                                             class="dark:hidden hidden"/>
                                    </td>
                                {% endif %}
                                {% if item.value.basecamp %}
                                    <td class="w-[80px] py-2 max-md:py-[19px] flex justify-center border-[rgba(255,255,255,0.08)]">
                                        <img src="{% static 'icons/check.svg' %}" alt="check"
                                             class="hidden dark:block"/>
                                        <img src="{% static 'icons/check_dark.svg' %}" alt="check" class="dark:hidden"/>
                                    </td>
                                {% else %}
                                    <td class="w-[80px] py-2 max-md:py-[19px] flex justify-center border-[rgba(255,255,255,0.08)]">
                                        <img src="{% static 'icons/check.svg' %}" alt="check"
                                             class="hidden dark:hidden"/>
                                        <img src="{% static 'icons/check_dark.svg' %}" alt="check"
                                             class="dark:hidden hidden"/>
                                    </td>
                                {% endif %}
                                {% if item.value.jira %}
                                    <td class="w-[80px] py-2 max-md:py-[19px] flex justify-center border-[rgba(255,255,255,0.08)]">
                                        <img src="{% static 'icons/check.svg' %}" alt="check"
                                             class="hidden dark:block"/>
                                        <img src="{% static 'icons/check_dark.svg' %}" alt="check" class="dark:hidden"/>
                                    </td>
                                {% else %}
                                    <td class="w-[80px] py-2 max-md:py-[19px] flex justify-center border-[rgba(255,255,255,0.08)]">
                                        <img src="{% static 'icons/check.svg' %}" alt="check"
                                             class="hidden dark:hidden"/>
                                        <img src="{% static 'icons/check_dark.svg' %}" alt="check"
                                             class="dark:hidden hidden"/>
                                    </td>
                                {% endif %}
                                {% if item.value.ms_project %}
                                    <td class="w-[80px] py-2 max-md:py-[19px] flex justify-center border-[rgba(255,255,255,0.08)]">
                                        <img src="{% static 'icons/check.svg' %}" alt="check"
                                             class="hidden dark:block"/>
                                        <img src="{% static 'icons/check_dark.svg' %}" alt="check" class="dark:hidden"/>
                                    </td>
                                {% else %}
                                    <td class="w-[80px] py-2 max-md:py-[19px] flex justify-center border-[rgba(255,255,255,0.08)]">
                                        <img src="{% static 'icons/check.svg' %}" alt="check"
                                             class="hidden dark:hidden"/>
                                        <img src="{% static 'icons/check_dark.svg' %}" alt="check"
                                             class="dark:hidden hidden"/>
                                    </td>
                                {% endif %}
                                {% if item.value.asana %}
                                    <td class="w-[80px] py-2 max-md:py-[19px] flex justify-center border-[rgba(255,255,255,0.08)]">
                                        <img src="{% static 'icons/check.svg' %}" alt="check"
                                             class="hidden dark:block"/>
                                        <img src="{% static 'icons/check_dark.svg' %}" alt="check" class="dark:hidden"/>
                                    </td>
                                {% else %}
                                    <td class="w-[80px] py-2 max-md:py-[19px] flex justify-center border-[rgba(255,255,255,0.08)]">
                                        <img src="{% static 'icons/check.svg' %}" alt="check"
                                             class="hidden dark:hidden"/>
                                        <img src="{% static 'icons/check_dark.svg' %}" alt="check"
                                             class="dark:hidden hidden"/>
                                    </td>
                                {% endif %}
                                {% if item.value.inout %}
                                    <td class="w-[80px] py-2 max-md:py-[19px] flex justify-center border-[rgba(255,255,255,0.08)]">
                                        <img src="{% static 'icons/check.svg' %}" alt="check"
                                             class="hidden dark:block"/>
                                        <img src="{% static 'icons/check_dark.svg' %}" alt="check" class="dark:hidden"/>
                                    </td>
                                {% else %}
                                    <td class="w-[80px] py-2 max-md:py-[19px] flex justify-center border-[rgba(255,255,255,0.08)]">
                                        <img src="{% static 'icons/check.svg' %}" alt="check"
                                             class="hidden dark:hidden"/>
                                        <img src="{% static 'icons/check_dark.svg' %}" alt="check"
                                             class="dark:hidden hidden"/>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}


                    </table>
                {% endfor %}

                <!-- devider -->

            </div>
        </div>
        <!-- prices table -->
    </div>
</section>
