<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Test</title>
  <link href="sass/main.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="tailwind.config.js"></script>
</head>

<body class="text-text-primary dark:text-dark-text-primary">
<section class="dark:bg-dark-primary-bg bg-primary-bg">
  <div class="container mx-auto pb-[100px] pt-16">
    <div class="flex flex-col justify-center items-center">
      <h2
        class="font-semibold text-[64px] max-md:text-[48px] max-sm:text-[32px] max-md:leading-[48px] max-sm:leading-[32px] leading-[64px] max-w-[896px] text-center mx-auto dark:bg-[linear-gradient(91deg,_#FFF_52.03%,_rgba(255,_255,_255,_0.64)_83.59%)] bg-[#000] bg-clip-text max-md:tracking-tight"
        style="-webkit-text-fill-color: transparent;">Стать Партнером</h2>
      <p class="mt-6 text-center max-w-[448px] font-normal text-base leading-[23px] colors-text-secondary mx-auto">
        Присоединяйтесь к нам, чтобы расширить свое портфолио и помогать своим клиентам быть более эффективными и успешными с каждым днем.
      </p>
      <a href="#"
      class="mt-8 block cursor-pointer px-6 py-3 bg-[linear-gradient(180deg,_#3274F9_0%,_#135BEB_100%)] rounded-[32px] hover:shadow-[0px_-4px_12px_0px_rgba(255,_255,_255,_0.32)_inset] transition">
        Стать партнером
      </a>
    </div>
    <div class="mt-[64px] flex items-start gap-6">
      <div class="w-1/3 flex flex-col justify-center items-center">
        <div class="p-4 rounded-[64px] colors-dark-icon-bg">
          <img src="{% static 'icons/about-us/about-us_4_icon_1.svg' %}" alt="about-us_4_icon_1">
        </div>
        <h2 class="mt-6 font-semibold text-2xl leading-[30px] text-center">
          Компании-партнёры INOUT
        </h2>
        <p class="font-normal text-base leading-[23px] text-center mt-2 colors-text-secondary">
          Поддержка опытных профессионалов в управлении проектами для интеграции ПО.
        </p>
        <a href="#"
           class="mt-6 font-medium text-base leading-[22px] colors-text-link hover:underline">Подробнее</a>
      </div>
      <div
        class="h-[202px] min-w-[1px] bg-[linear-gradient(0deg,_#ffffff00_0%,_#ffffff_15%,_#ffffff_85%,_#ffffff00_100%)] opacity-[0.16]"></div>
      <div class="w-1/3 flex flex-col justify-center items-center">
        <div class="p-4 rounded-[64px] colors-dark-icon-bg">
          <img src="{% static 'icons/about-us/about-us_4_icon_2.svg' %}" alt="about-us_4_icon_1">
        </div>
        <h2 class="mt-6 font-semibold text-2xl leading-[30px] text-center">
          Стать партнером
        </h2>
        <p class="font-normal text-base leading-[23px] text-center mt-2 colors-text-secondary">
          Станьте партнером, приведите клиента, а мы поддержим ваш бизнес.
        </p>
        <a href="#"
           class="mt-6 font-medium text-base leading-[22px] colors-text-link hover:underline">Подробнее</a>
      </div>
      <div
        class="h-[202px] min-w-[1px] bg-[linear-gradient(0deg,_#ffffff00_0%,_#ffffff_15%,_#ffffff_85%,_#ffffff00_100%)] opacity-[0.16]"></div>
      <div class="w-1/3 flex flex-col justify-center items-center">
        <div class="p-4 rounded-[64px] colors-dark-icon-bg">
          <img src="{% static 'icons/about-us/about-us_4_icon_3.svg' %}" alt="about-us_4_icon_1">
        </div>
        <h2 class="mt-6 font-semibold text-2xl leading-[30px] text-center">
          Новости управления проектами
        </h2>
        <p class="font-normal text-base leading-[23px] text-center mt-2 colors-text-secondary">
          Советы, истории, новости — всё о том, как упростить управление проектами.
        </p>
        <a href="#"
           class="mt-6 font-medium text-base leading-[22px] colors-text-link hover:underline">Подробнее</a>
      </div>
    </div>
  </div>
</section>
</body>