<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Test</title>
    <link href="sass/main.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="tailwind.config.js"></script>
  </head>

  <body class="text-text-primary dark:text-dark-text-primary">
    <section class="dark:bg-dark-primary-bg bg-primary-bg">
      <div class="container mx-auto py-[100px]">
        <div class="flex items-center gap-20 max-md:flex-col max-md:px-4">
          <div>
            <h2 class="font-semibold text-[40px] leading-[44px]">О нас</h2>
            <p class="mt-6 font-normal text-base leading-[23px]">
              Easy Software был основан в 2006 году. Через год мы уже запустили наше собственное программное обеспечение
              для управления проектами. В 2012 году наши продукты по управлению проектами стали доступны во всем
              мире.<br /><br />
              По сей день, более чем 3.500 компаний по всему миру преобрели наши продукты Easy Project и Easy Redmine.
              Наши продукты представяют собой высокоадаптируемые решения для управления проектами, которые используются
              во всех промышленных секторах с сильной позицией в технологиях и инженерии.<br /><br />
              Easy Software используется не только для управления проектами. Easy Software - это культура, навеянная
              гармонией.
            </p>
          </div>
          <div
            class="flex items-center bg-[linear-gradient(90deg,_rgba(13,13,13,1)_0%,_rgba(13,13,13,1)_75%,_rgba(12,36,87,1)_100%)] min-w-[592px] min-h-[500px] max-lg:min-w-[400px] max-md:min-h-[350px] max-md:min-w-full max-lg:min-h-auto rounded-[40px] py-14 pl-14">
            <img src="image/about-us/about-us_3_img.svg' %}" alt="about-us_3_img" class="ml-auto" />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
