<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Test</title>
    <link href="sass/main.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="tailwind.config.js"></script>
  </head>

  <body class="text-text-primary dark:text-dark-text-primary">
    <section class="dark:bg-dark-primary-bg bg-primary-bg">
      <div class="container mx-auto py-[100px]">
        <div class="flex gap-6">
          <div class="w-1/4">
            <h2 class="font-semibold text-2xl leading-[30px] text-center">Легкое взаимодействие</h2>
            <p class="font-normal text-base leading-[23px] text-center mt-2 colors-text-secondary">
              Мы - специалисты, цель - гармония в рабочей среде мира.
            </p>
          </div>
          <div
            class="h-[108px] min-w-[1px] bg-[linear-gradient(0deg,_#ffffff00_0%,_#ffffff_15%,_#ffffff_85%,_#ffffff00_100%)] opacity-[0.16]"
          ></div>
          <div class="w-1/4">
            <h2 class="font-semibold text-2xl leading-[30px] text-center">Ответственная свобода</h2>
            <p class="font-normal text-base leading-[23px] text-center mt-2 colors-text-secondary">
              В команде свобода действий, личная ответственность за результаты.
            </p>
          </div>
          <div
            class="h-[108px] min-w-[1px] bg-[linear-gradient(0deg,_#ffffff00_0%,_#ffffff_15%,_#ffffff_85%,_#ffffff00_100%)] opacity-[0.16]"
          ></div>
          <div class="w-1/4">
            <h2 class="font-semibold text-2xl leading-[30px] text-center">Сотрудничество</h2>
            <p class="font-normal text-base leading-[23px] text-center mt-2 colors-text-secondary">
              Мы считаем, что сотрудничество является основой человечества.
            </p>
          </div>
          <div
            class="h-[108px] min-w-[1px] bg-[linear-gradient(0deg,_#ffffff00_0%,_#ffffff_15%,_#ffffff_85%,_#ffffff00_100%)] opacity-[0.16]"
          ></div>
          <div class="w-1/4">
            <h2 class="font-semibold text-2xl leading-[30px] text-center">Совместный рост</h2>
            <p class="font-normal text-base leading-[23px] text-center mt-2 colors-text-secondary">
              Мы растем как внутри компании, так и за ее пределами, и разделяем наш прогресс с окружением.
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
