<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Test</title>
    <link href="sass/main.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="tailwind.config.js"></script>
  </head>

  <body class="dark:text-dark-text-primary text-text-primary">
    <section>
      <div class="container mx-auto pt-20 pb-[72px] max-md:px-4">
        <h2
          class="font-semibold text-[64px] max-md:text-[48px] max-sm:text-[32px] max-md:leading-[48px] max-sm:leading-[32px] leading-[64px] max-w-[896px] text-center mx-auto dark:bg-[linear-gradient(91deg,_#FFF_52.03%,_rgba(255,_255,_255,_0.64)_83.59%)] bg-[#000] bg-clip-text max-md:tracking-tight"
          style="-webkit-text-fill-color: transparent"
        >
          Гармония в проектах, Гармония в сотрудничестве
        </h2>
        <p class="mt-6 text-center max-w-[896px] font-normal text-base leading-[23px] colors-text-secondary mx-auto">
          Мы - Easy Software, международная компания по разработке программного обеспечения, создавшая Easy Project и
          Easy Redmine. Мы помогаем людям в 3500+ компаниях из 80+ стран по всему миру привнести больше гармонии в свои
          проекты, сотрудничество в команде и рабочую среду.
        </p>
      </div>
    </section>
  </body>
</html>
