{% load static %}
<section class="dark:bg-[radial-gradient(100%_100%_at_50%_100%,_#061637_0%,_#000_100%)] bg-primary-bg">
    <div class="container mx-auto py-[100px] max-md:py-16 max-sm:py-14 max-md:px-8 max-sm:px-4">
        <h2
                class="max-lg:px-8 font-semibold text-[64px] leading-[64px] max-lg:text-[48px] max-lg:leading-[48px] max-sm:text-[36px] max-sm:leading-[36px] max-w-[896px] text-center mx-auto dark:bg-[linear-gradient(91deg,_#FFF_52.03%,_rgba(255,_255,_255,_0.64)_83.59%)] bg-[#000] bg-clip-text"
                style="-webkit-text-fill-color: transparent;">Легко настраивается под любую потребность</h2>
        <div class="flex max-sm:flex-col gap-4 max-sm:gap-6 max-sm:mt-[40px] mt-16 max-lg:px-8 max-sm:px-0">
            <div
                    class="flex flex-col relative rounded-[40px] max-md:rounded-[24px] max-sm:max-w-[343px] max-sm:mx-auto min-h-full justify-between">
                <img src="{% static 'image/big_card_img_bg.png' %}" alt="big_card_img_bg"
                     class="absolute top-0 left-0 w-full object-cover h-full rounded-[40px] max-md:rounded-[24px]">
                <div
                        class="relative z-10 flex flex-col items-start px-[32px] max-md:px-[24px] max-sm:px-[20px] pt-[32px] max-md:pt-[24px] max-sm:pt-[20px] max-w-[427px]">
                    <h2
                            class="font-semibold text-[32px] max-lg:text-[24px] leading-[35px] max-lg:leading-[26px] tracking-[-0.64px] max-lg:tracking-[-0.48px]">
                        Управление проектов независимо от
                        отрасли</h2>
                    <p
                            class="font-normal text-[16px] max-sm:text-[14px] leading-[23px] max-sm:leading-[20px] dark:text-dark-text-secondary text-text-secondary mt-4">
                        INOUT
                        Проект может использоваться как частными лицами, так и командой или оргазнизацией. Другими
                        словами, это
                        универсальное решение для любого бизнеса.</p>
                    <a href="#"
                       class="block cursor-pointer px-6 text-dark-text-primary text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] text-center py-3 mt-8 bg-[linear-gradient(180deg,_#3274F9_0%,_#135BEB_100%)] rounded-[32px] hover:shadow-[0px_-4px_12px_0px_rgba(255,_255,_255,_0.32)_inset] transition">
                        Подробнее
                    </a>
                </div>
                <img src="{% static 'image/big_card_img_1.svg' %}" alt="big_card_img_1"
                     class="relative z-[1px] mt-[26px] max-md:mt-2 max-sm:mt-10 rounded-[40px] max-md:rounded-[24px] w-full">
            </div>
            <div
                    class="flex flex-col relative rounded-[40px] max-md:rounded-[24px] max-sm:max-w-[343px] max-sm:mx-auto min-h-full justify-between">
                <img src="{% static 'image/big_card_img_bg.png' %}" alt="big_card_img_bg"
                     class="absolute top-0 left-0 w-full object-cover h-full rounded-[40px] max-md:rounded-[24px]">
                <div
                        class="relative z-10 flex flex-col items-start px-8 max-md:px-6 max-sm:px-5 pt-8 max-md:pt-6 max-sm:pt-[20px] max-w-[427px]">
                    <h2
                            class="font-semibold text-[32px] max-lg:text-[24px] leading-[35px] max-lg:leading-[26px] tracking-[-0.64px] max-lg:tracking-[-0.48px]">
                        Интеграция с разными инструментами</h2>
                    <p
                            class="font-normal text-[16px] max-sm:text-[14px] leading-[23px] max-sm:leading-[20px] dark:text-dark-text-secondary text-text-secondary mt-4">
                        Наш
                        инструмент может быть не только адаптированк вашему стилю управления и требованиямотрасли, но и
                        интегрирован с
                        1000+ приложениямис помощью Zapier!</p>
                    <a href="#"
                       class="block cursor-pointer px-6 text-dark-text-primary text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] text-center py-3 mt-8 max-sm:mt-8 bg-[linear-gradient(180deg,_#3274F9_0%,_#135BEB_100%)] rounded-[32px] hover:shadow-[0px_-4px_12px_0px_rgba(255,_255,_255,_0.32)_inset] transition">
                        Подробнее
                    </a>
                </div>
                <img src="{% static 'image/big_card_img_2.svg' %}" alt="big_card_img_2"
                     class="mt-[26px] max-md:mt-2 max-sm:mt-10 rounded-[40px] max-md:rounded-[24px] w-full">
            </div>
        </div>
    </div>
</section>
