{% load static %}
<section
  class="bg-primary-bg dark:bg-[radial-gradient(100%_100%_at_50%_100%,_#061637_0%,_#000_100%)] lg:h-[6000px]"
         id="sticky-container">
  <div
    class="container mx-auto max-md:py-[64px] pt-[100px] max-sm:py-[56px] max-md:px-[32px] max-sm:px-[16px] sticky top-0 lg:h-dvh lg:overflow-hidden"
    id="sticky-child">
    <div class="flex justify-center">
      <h2
        class="font-semibold text-[64px] text-center leading-[64px] max-lg:text-[48px] max-sm:text-[36px] max-sm:leading-[36px] max-lg:leading-[48px] max-w-[628px] max-xl:max-w-[428px] max-lg:max-w-[344px] tracking-[-1.92px] max-sm:tracking-[-0.72px] dark:bg-[linear-gradient(91deg,_#FFF_52.03%,_rgba(255,_255,_255,_0.64)_83.59%)] bg-[#000] bg-clip-text"
        style="-webkit-text-fill-color: transparent;">Всё самое важное
        уже в INOUT Проект
      </h2>
    </div>
    <div class="mt-[64px] flex justify-between max-lg:justify-center mx-auto">
      <div class="max-lg:hidden max-h-[500px]">
        <div class="max-w-[304px] mt-[84px] pl-[24px] flex flex-col gap-y-6">
          <div class="features-tableft-item group flex gap-x-6">
            <div
              class="bg-[#101521] min-w-[3px] w-[3px] rounded-full opacity-0 scale-[0.8] translate-x-[10px] group-[.is-active]:opacity-100 group-[.is-active]:scale-[1] group-[.is-active]:translate-x-[0] relative transition ease-in-out">
              <div class="absolute top-0 left-0 bg-[#3373fa] rounded-full w-full h-0"></div>
            </div>
            <div>
              <h3 class="font-semibold text-[24px] leading-[30px]">Иерархия работ</h3>
              <p
                class="font-normal text-[16px] mt-2 mb-4 leading-[23px] text-text-secondary dark:text-dark-text-secondary hidden group-[.is-active]:block">
                Грамотное управление проектами приводит к гармонии внутри проектов, команд и в компании в целом.</p>
              <a href="#"
                 class="block font-medium text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] text-text-link dark:text-dark-text-link hover:underline opacity-0 duration-500 -translate-x-[20px] group-[.is-active]:opacity-100 group-[.is-active]:translate-x-[0] relative transition ease-in-out">Попробовать</a>
            </div>
          </div>
          <div class="features-tableft-item group flex gap-x-6">
            <div
              class="bg-[#101521] min-w-[3px] w-[3px] rounded-full opacity-0 scale-[0.8] translate-x-[10px] group-[.is-active]:opacity-100 group-[.is-active]:scale-[1] group-[.is-active]:translate-x-[0] relative transition ease-in-out">
              <div class="absolute top-0 left-0 bg-[#3373fa] rounded-full w-full h-0"></div>
            </div>
            <div>
              <h3 class="font-semibold text-[24px] leading-[30px]">Гант-чарт</h3>
              <p
                class="font-normal text-[16px] mt-2 mb-4 leading-[23px] text-text-secondary dark:text-dark-text-secondary hidden group-[.is-active]:block">
                Поддержка опытных профессионалов в управлении проектами для интеграции ПО.</p>
              <a href="#"
                 class="block font-medium text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] text-text-link dark:text-dark-text-link hover:underline opacity-0 duration-500 -translate-x-[20px] group-[.is-active]:opacity-100 group-[.is-active]:translate-x-[0] relative transition ease-in-out">Попробовать</a>
            </div>
          </div>
          <div class="features-tableft-item group flex gap-x-6">
            <div
              class="bg-[#101521] min-w-[3px] w-[3px] rounded-full opacity-0 scale-[0.8] translate-x-[10px] group-[.is-active]:opacity-100 group-[.is-active]:scale-[1] group-[.is-active]:translate-x-[0] relative transition ease-in-out">
              <div class="absolute top-0 left-0 bg-[#3373fa] rounded-full w-full h-0"></div>
            </div>
            <div>
              <h3 class="font-semibold text-[24px] leading-[30px]">Скрам</h3>
              <p
                class="font-normal text-[16px] mt-2 mb-4 leading-[23px] text-text-secondary dark:text-dark-text-secondary hidden group-[.is-active]:block">
                Поддержка опытных профессионалов в управлении проектами для интеграции ПО..</p>
              <a href="#"
                 class="block font-medium text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] text-text-link dark:text-dark-text-link hover:underline opacity-0 duration-500 -translate-x-[20px] group-[.is-active]:opacity-100 group-[.is-active]:translate-x-[0] relative transition ease-in-out">Попробовать</a>
            </div>
          </div>
          <div class="features-tableft-item group flex gap-x-6">
            <div
              class="bg-[#101521] min-w-[3px] w-[3px] rounded-full opacity-0 scale-[0.8] translate-x-[10px] group-[.is-active]:opacity-100 group-[.is-active]:scale-[1] group-[.is-active]:translate-x-[0] relative transition ease-in-out">
              <div class="absolute top-0 left-0 bg-[#3373fa] rounded-full w-full h-0"></div>
            </div>
            <div>
              <h3 class="font-semibold text-[24px] leading-[30px]">Канбан</h3>
              <p
                class="font-normal text-[16px] mt-2 mb-4 leading-[23px] text-text-secondary dark:text-dark-text-secondary hidden group-[.is-active]:block">
                Поддержка опытных профессионалов в управлении проектами для интеграции ПО.</p>
              <a href="#"
                 class="block font-medium text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] text-text-link dark:text-dark-text-link hover:underline opacity-0 duration-500 -translate-x-[20px] group-[.is-active]:opacity-100 group-[.is-active]:translate-x-[0] relative transition ease-in-out">Попробовать</a>
            </div>
          </div>
        </div>
      </div>
      <div id="features-tableft-slides" class="max-md:w-full">
        <div class="group is-active">
          <div
            class="dark:bg-dark-card-and-Sec-BT max-xl:ml-[40px] xl:max-h-[500px] lg:max-h-[470px] max-lg:w-[716px] max-lg:ml-0 max-md:rounded-[24px] rounded-[40px] transition opacity-0 max-md:w-full -translate-x-[20px] group-[.is-active]:translate-x-[0] group-[:not(.is-active)]:hidden group-[.is-active]:opacity-100">
            <img src="{% static 'image/features_tableft.svg' %}" alt="features_tableft" class="hidden dark:block ml-auto">
            <img src="{% static 'image/features_tableft_light.svg' %}" alt="features_tableft_light" class="dark:hidden ml-auto">
          </div>
        </div>

        <div class="group">
          <div
            class="dark:bg-dark-card-and-Sec-BT max-xl:ml-[40px] xl:max-h-[500px] lg:max-h-[470px] max-lg:w-[716px] max-lg:ml-0 max-md:rounded-[24px] rounded-[40px] transition opacity-0 max-md:w-full group-[:not(.is-active)]:hidden group-[.is-active]:opacity-100">
            <img src="{% static 'image/features_tableft.svg' %}" alt="features_tableft" class="hidden dark:block ml-auto">
            <img src="{% static 'image/features_tableft_light.svg' %}" alt="features_tableft_light" class="dark:hidden ml-auto">
          </div>
        </div>

        <div class="group">
          <div
            class="dark:bg-dark-card-and-Sec-BT max-xl:ml-[40px] xl:max-h-[500px] lg:max-h-[470px] max-lg:w-[716px] max-lg:ml-0 max-md:rounded-[24px] rounded-[40px] transition opacity-0 max-md:w-full group-[:not(.is-active)]:hidden group-[.is-active]:opacity-100">
            <img src="{% static 'image/features_tableft.svg' %}" alt="features_tableft" class="hidden dark:block ml-auto">
            <img src="{% static 'image/features_tableft_light.svg' %}" alt="features_tableft_light" class="dark:hidden ml-auto">
          </div>
        </div>

        <div class="group">
          <div
            class="dark:bg-dark-card-and-Sec-BT max-xl:ml-[40px] xl:max-h-[500px] lg:max-h-[470px] max-lg:w-[716px] max-lg:ml-0 max-md:rounded-[24px] rounded-[40px] transition opacity-0 max-md:w-full group-[:not(.is-active)]:hidden group-[.is-active]:opacity-100">
            <img src="{% static 'image/features_tableft.svg' %}" alt="features_tableft" class="hidden dark:block ml-auto">
            <img src="{% static 'image/features_tableft_light.svg' %}" alt="features_tableft_light" class="dark:hidden ml-auto">
          </div>
        </div>
      </div>
    </div>
    <div class="lg:hidden flex flex-col gap-10 max-sm:gap-8 mt-[64px] max-lg:pb-[88px] max-md:pb-0">
      <div class="flex max-sm:flex-col max-sm:gap-8 gap-10">
        <div class="w-full">
          <h3 class="font-semibold text-[24px] leading-[26px] max-sm:text-[20px] max-sm:leading-[20px]">
            Иерархия работ
          </h3>
          <p
            class="font-normal max-w-[304px] text-[16px] max-sm:text-[14px] mt-2 mb-4 leading-[23px] max-sm:leading-[20px] text-text-secondary dark:text-dark-text-secondary">
            Грамотное управление проектами приводит к гармонии внутри проектов, команд и в компании в целом.</p>
          <a href="#"
             class="font-medium text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] text-text-link dark:text-dark-text-link hover:underline">Попробовать</a>
        </div>
        <div class="w-full">
          <h3 class="font-semibold text-[24px] leading-[26px] max-sm:text-[20px] max-sm:leading-[20px]">Гант-чарт</h3>
          <p
            class="font-normal max-w-[304px] text-[16px] max-sm:text-[14px] mt-2 mb-4 leading-[23px] max-sm:leading-[20px] text-text-secondary dark:text-dark-text-secondary">
            Поддержка опытных профессионалов в управлении проектами для интеграции ПО.</p>
          <a href="#"
             class="font-medium text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] text-text-link dark:text-dark-text-link hover:underline">Попробовать</a>
        </div>
      </div>
      <div class="flex max-sm:flex-col max-sm:gap-8 gap-10">
        <div class="w-full">
          <h3 class="font-semibold text-[24px] leading-[26px] max-sm:text-[20px] max-sm:leading-[20px]">Скрам</h3>
          <p
            class="font-normal max-w-[304px] text-[16px] max-sm:text-[14px] mt-2 mb-4 leading-[23px] max-sm:leading-[20px] text-text-secondary dark:text-dark-text-secondary">
            Поддержка опытных профессионалов в управлении проектами для интеграции ПО.</p>
          <a href="#"
             class="font-medium text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] text-text-link dark:text-dark-text-link hover:underline">Попробовать</a>
        </div>
        <div class="w-full">
          <h3 class="font-semibold text-[24px] leading-[26px] max-sm:text-[20px] max-sm:leading-[20px]">Канбан</h3>
          <p
            class="font-normal max-w-[304px] text-[16px] max-sm:text-[14px] mt-2 mb-4 leading-[23px] max-sm:leading-[20px] text-text-secondary dark:text-dark-text-secondary">
            Поддержка опытных профессионалов в управлении проектами для интеграции ПО.</p>
          <a href="#"
             class="font-medium text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] text-text-link dark:text-dark-text-link hover:underline">Попробовать</a>
        </div>
      </div>
    </div>
  </div>
</section>
