{% load static %}
<section class="dark:bg-dark-primary-bg dark:text-dark-text-primary">
    <div class="container mx-auto py-[100px] max-md:py-16 max-lg:px-8 max-md:px-4 max-sm:py-14">
        <div class="grid lg:grid-cols-3 max-lg:grid-cols-2 max-sm:grid-cols-1 gap-4">
            <div
                    class="dark:bg-[linear-gradient(90deg,_#263737_-22.3%,_rgba(1,_1,_1,_0.00)_100%,_rgba(255,_255,_255,_0.05))] px-[2px] py-[2px] rounded-[24px] min-h-[512px] max-lg:min-h-[544px] max-sm:min-h-[415px] max-sm:max-w-[343px] max-sm:mx-auto">
                <div
                        class="bg-card-and-Sec-BT dark:bg-dark-primary-bg dark:bg-[linear-gradient(109deg,_#142626,_rgba(1,_1,_1,_0.00)_100%,_rgba(255,_255,_255,_100))] rounded-[23px] max-md:px-5 max-md:pt-6 md:pt-8 md:px-7 h-full">
                    <div class="flex flex-col h-full">
                        <div class="flex flex-col">
                            <h2
                                    class="font-semibold text-[32px] leading-[35px] max-lg:leading-[32px] max-sm:text-[24px] max-sm:leading-[26px]">
                                Отслеживание времени</h2>
                            <p
                                    class="font-normal text-[16px] leading-[23px] text-text-secondary dark:text-dark-text-secondary mt-4 max-sm:text-[14px] max-sm:leading-[20px] max-sm:mt-2">
                                INOUT
                                Проект позволяет отслеживать
                                время на задачи и проекты различными способами, включая секундомер и ручной ввод.</p>
                            <a href="#"
                               class="font-medium text-[16px] leading-[22px] text-text-link dark:text-dark-text-link hover:underline mt-8 max-sm:text-[14px] max-sm:leading-[20px] max-sm:mt-6">Подробнее</a>
                        </div>
                        <img src="{% static 'image/features-product/time_tracking.svg' %}" alt="time_tracking"
                             class="mt-auto pt-6">
                    </div>
                </div>
            </div>
            <div
                    class="lg:col-span-2 dark:bg-[linear-gradient(90deg,_#263737_-22.3%,_rgba(1,_1,_1,_0.00)_100%,_rgba(255,_255,_255,_0.05))] px-[2px] py-[2px] rounded-[24px] min-h-[512px] max-lg:min-h-[544px] max-sm:min-h-[415px] max-sm:max-w-[343px] max-sm:mx-auto">
                <div
                        class="bg-card-and-Sec-BT dark:bg-dark-primary-bg dark:bg-[linear-gradient(109deg,_#142626,_rgba(1,_1,_1,_0.00)_100%,_rgba(255,_255,_255,_100))] rounded-[23px] max-md:px-5 max-md:pt-6 md:pt-8 md:px-7 h-full">
                    <div class="flex flex-col h-full">
                        <div class="flex flex-col max-w-[434px]">
                            <h2
                                    class="font-semibold text-[32px] leading-[35px] max-lg:leading-[32px] max-sm:text-[24px] max-sm:leading-[26px] max-sm:tracking-[-0.48px]">
                                Портфельное управление</h2>
                            <p
                                    class="font-normal text-[16px] leading-[23px] text-text-secondary dark:text-dark-text-secondary mt-4 max-sm:text-[14px] max-sm:leading-[20px] max-sm:mt-2">
                                Easy
                                Project позволяет создавать
                                шаблоны проектов, включая задачи, этапы, команды и документы, экономя ваше время и
                                обеспечивая лучшую
                                реализацию
                                проекта.</p>
                            <a href="#"
                               class="font-medium text-[16px] leading-[22px] text-text-link dark:text-dark-text-link hover:underline mt-8 max-sm:text-[14px] max-sm:leading-[20px] max-sm:mt-6">Подробнее</a>
                        </div>
                        <img src="{% static 'image/features-product/portfolio_management.svg' %}" alt="time_tracking"
                             class="mt-auto hidden lg:block">
                        <img src="{% static 'image/features-product/portfolio_management_adaptive.svg' %}"
                             alt="portfolio_management_adaptive"
                             class="mt-auto hidden max-lg:block max-sm:mt-6 pt-6">
                    </div>
                </div>
            </div>
            <div
                    class="dark:bg-[linear-gradient(90deg,_#263737_-22.3%,_rgba(1,_1,_1,_0.00)_100%,_rgba(255,_255,_255,_0.05))] px-[2px] py-[2px] rounded-[24px] min-h-[512px] max-lg:min-h-[544px] max-sm:min-h-[415px] max-sm:max-w-[343px] max-sm:mx-auto">
                <div
                        class="bg-card-and-Sec-BT dark:bg-dark-primary-bg dark:bg-[linear-gradient(109deg,_#142626,_rgba(1,_1,_1,_0.00)_100%,_rgba(255,_255,_255,_100))] rounded-[23px] max-md:px-5 max-md:pt-6 md:pt-8 md:px-7 h-full">
                    <div class="flex flex-col h-full">
                        <div class="flex flex-col">
                            <h2
                                    class="font-semibold text-[32px] leading-[35px] max-lg:leading-[32px] max-sm:text-[24px] max-sm:leading-[26px]">
                                Гибкое управление</h2>
                            <p
                                    class="font-normal text-[16px] leading-[23px] text-text-secondary dark:text-dark-text-secondary mt-4 max-sm:text-[14px] max-sm:leading-[20px] max-sm:mt-2">
                                INOUT
                                Project поддерживает гибкие
                                методологии управления, такие как Scrum и Kanban</p>
                            <a href="#"
                               class="font-medium text-[16px] leading-[22px] text-text-link dark:text-dark-text-link hover:underline mt-8 max-sm:text-[14px] max-sm:leading-[20px] max-sm:mt-6">Подробнее</a>
                        </div>
                        <img src="{% static 'image/features-product/flexible_control.svg' %}" alt="time_tracking"
                             class="mt-auto max-sm:mt-6 pt-6">
                    </div>
                </div>
            </div>
            <div
                    class="dark:bg-[linear-gradient(90deg,_#263737_-22.3%,_rgba(1,_1,_1,_0.00)_100%,_rgba(255,_255,_255,_0.05))] px-[2px] py-[2px] rounded-[24px] min-h-[512px] max-lg:min-h-[544px] max-sm:min-h-[415px] max-sm:max-w-[343px] max-sm:mx-auto">
                <div
                        class="bg-card-and-Sec-BT dark:bg-dark-primary-bg dark:bg-[linear-gradient(109deg,_#142626,_rgba(1,_1,_1,_0.00)_100%,_rgba(255,_255,_255,_100))] rounded-[23px] max-md:px-5 max-md:pt-6 md:pt-8 md:px-7 h-full">
                    <div class="flex flex-col h-full">
                        <div class="flex flex-col">
                            <h2
                                    class="font-semibold text-[32px] leading-[35px] max-lg:leading-[32px] max-sm:text-[24px] max-sm:leading-[26px] tracking-[-0.64px]">
                                Управление работой</h2>
                            <p
                                    class="font-normal text-[16px] leading-[23px] text-text-secondary dark:text-dark-text-secondary mt-4 max-sm:text-[14px] max-sm:leading-[20px] max-sm:mt-2">
                                INOUT
                                Project позволяет управлять
                                задачами, отслеживать время и измерять производительность.</p>
                            <a href="#"
                               class="font-medium text-[16px] leading-[22px] text-text-link dark:text-dark-text-link hover:underline mt-8 max-sm:text-[14px] max-sm:leading-[20px] max-sm:mt-6">Подробнее</a>
                        </div>
                        <img src="{% static 'image/features-product/work_management.svg' %}" alt="time_tracking"
                             class="mt-auto max-sm:mt-6 pt-6">
                    </div>
                </div>
            </div>
            <div
                    class="dark:bg-[linear-gradient(90deg,_#263737_-22.3%,_rgba(1,_1,_1,_0.00)_100%,_rgba(255,_255,_255,_0.05))] px-[2px] py-[2px] rounded-[24px] min-h-[512px] max-lg:min-h-[544px] max-sm:min-h-[415px] max-sm:max-w-[343px] max-sm:mx-auto">
                <div
                        class="bg-card-and-Sec-BT dark:bg-dark-primary-bg dark:bg-[linear-gradient(109deg,_#142626,_rgba(1,_1,_1,_0.00)_100%,_rgba(255,_255,_255,_100))] rounded-[23px] max-md:px-5 max-md:pt-6 md:pt-8 md:px-7 h-full">
                    <div class="flex flex-col h-full">
                        <div class="flex flex-col">
                            <h2
                                    class="font-semibold text-[32px] leading-[35px] max-lg:leading-[32px] max-sm:text-[24px] max-sm:leading-[26px]">
                                Управление проектами</h2>
                            <p
                                    class="font-normal text-[16px] leading-[23px] text-text-secondary dark:text-dark-text-secondary mt-4 max-sm:text-[14px] max-sm:leading-[20px] max-sm:mt-2">
                                Инструмент для управления проектом. Используйте WBS для разбивки проекта, планируйте
                                задачи.</p>
                            <a href="#"
                               class="font-medium text-[16px] leading-[22px] text-text-link dark:text-dark-text-link hover:underline mt-8 max-sm:text-[14px] max-sm:leading-[20px] max-sm:mt-6">Подробнее</a>
                        </div>
                        <img src="{% static 'image/features-product/project_managment.svg' %}" alt="time_tracking"
                             class="mt-auto max-sm:mt-6 pt-6">
                    </div>
                </div>
            </div>
            <div
                    class="lg:col-span-2 dark:bg-[linear-gradient(90deg,_#263737_-22.3%,_rgba(1,_1,_1,_0.00)_100%,_rgba(255,_255,_255,_0.05))] px-[2px] py-[2px] rounded-[24px] min-h-[512px] max-lg:min-h-[544px] max-sm:min-h-[415px] max-sm:max-w-[343px] max-sm:mx-auto">
                <div
                        class="bg-card-and-Sec-BT dark:bg-dark-primary-bg dark:bg-[linear-gradient(109deg,_#142626,_rgba(1,_1,_1,_0.00)_100%,_rgba(255,_255,_255,_100))] rounded-[23px] h-full max-md:px-5 max-md:pt-6 md:pt-8 md:px-7">
                    <div class="flex flex-col h-full">
                        <div class="flex flex-col max-w-[434px]">
                            <h2
                                    class="font-semibold text-[32px] leading-[35px] max-lg:leading-[32px] max-sm:text-[24px] max-sm:leading-[26px]">
                                Персональные панели</h2>
                            <p
                                    class="font-normal text-[16px] leading-[23px] text-text-secondary dark:text-dark-text-secondary mt-4 max-sm:text-[14px] max-sm:leading-[20px] max-sm:mt-2">
                                INOUT
                                Project позволяет настраивать персональные панели для различных ролей, учитывая их
                                основные потребности,
                                такие как календарь, ключевые проекты и статистика KPI.</p>
                            <a href="#"
                               class="font-medium text-[16px] leading-[22px] text-text-link dark:text-dark-text-link hover:underline mt-8 max-sm:text-[14px] max-sm:leading-[20px] max-sm:mt-6">Подробнее</a>
                        </div>
                        <img src="{% static 'image/features-product/personal_panels.svg' %}" alt="time_tracking"
                             class="mt-auto hidden lg:block max-sm:mt-12">
                        <img src="{% static 'image/features-product/personal_panels_adaptive.svg' %}" alt="personal_panels_adaptive"
                             class="mt-auto hidden max-lg:block max-sm:mt-6 pt-6">
                    </div>
                </div>
            </div>
            <div
                    class="dark:bg-[linear-gradient(90deg,_#263737_-22.3%,_rgba(1,_1,_1,_0.00)_100%,_rgba(255,_255,_255,_0.05))] px-[2px] py-[2px] rounded-[24px] min-h-[512px] max-lg:min-h-[544px] max-sm:min-h-[415px] max-sm:max-w-[343px] max-sm:mx-auto">
                <div
                        class="bg-card-and-Sec-BT dark:bg-dark-primary-bg dark:bg-[linear-gradient(109deg,_#142626,_rgba(1,_1,_1,_0.00)_100%,_rgba(255,_255,_255,_100))] rounded-[23px] max-md:px-5 max-md:pt-6 md:pt-8 md:px-7 h-full">
                    <div class="flex flex-col h-full">
                        <div class="flex flex-col">
                            <h2
                                    class="font-semibold text-[32px] leading-[35px] max-lg:leading-[32px] max-sm:text-[24px] max-sm:leading-[26px]">
                                Шаблоны проектов</h2>
                            <p
                                    class="font-normal text-[16px] leading-[23px] text-text-secondary dark:text-dark-text-secondary mt-4 max-sm:text-[14px] max-sm:leading-[20px] max-sm:mt-2">
                                Позволяет создавать шаблоны проектов, включая задачи, этапы, команды и документы,
                                экономя ваше время.</p>
                            <a href="#"
                               class="font-medium text-[16px] leading-[22px] text-text-link dark:text-dark-text-link hover:underline mt-8 max-sm:text-[14px] max-sm:leading-[20px] max-sm:mt-6">Подробнее</a>
                        </div>
                        <img src="{% static 'image/features-product/project_templates.svg' %}" alt="time_tracking"
                             class="mt-auto max-sm:mt-6 pt-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
