{% load static %}
<section class="bg-primary-bg dark:bg-dark-primary-bg">
    <div
            class="container mx-auto py-[100px] max-md:py-[64px] max-sm:py-[56px] max-md:px-[32px] max-sm:px-[16px]"
    >
        <h2
                class="font-semibold text-[40px] leading-[44px] max-md:leading-[40px] max-sm:text-[32px] max-sm:leading-[32px] text-center mx-auto max-w-[592px]"
        >
            Через 2 месяца вы заметите разницу
        </h2>
        <div
                class="mt-16 max-sm:mt-10 flex max-lg:flex-col max-sm:items-center gap-[24px] max-sm:gap-[32px]"
        >
            <div class="flex gap-[24px] max-sm:gap-[32px] w-full max-sm:flex-col">
                <div class="flex flex-col w-full">
              <span
                      class="font-semibold text-[64px] leading-[64px] max-md:text-[48px] max-md:leading-[48px] max-sm:text-[36px] max-sm:leading-[36px] text-center"
              >+56%</span>
                    <p
                            class="mt-2 font-normal text-[16px] leading-[23px] max-sm:text-[14px] max-sm:leading-[20px] text-text-secondary dark:text-dark-text-secondary text-center"
                    >
                        Уровень эффективности
                    </p>
                </div>
                <div
                        class="min-w-[1px] max-sm:w-full max-sm:min-h-[1px] dark:max-sm:bg-[linear-gradient(90deg,_rgba(255,_255,_255,_0.00)_0%,_rgba(255,_255,_255,_0.16)_16.07%,_rgba(255,_255,_255,_0.16)_80.56%,_rgba(255,_255,_255,_0.00)_100%)] bg-[linear-gradient(0deg,_#00000000_0%,_#000000_15%,_#000000_85%,_#00000000_100%)] max-sm:bg-[linear-gradient(90deg,_rgba(0,_0,_0,_0.00)_0%,_rgba(0,_0,_0,_0.16)_16.07%,_rgba(0,_0,_0,_0.16)_80.56%,_rgba(255,_255,_255,_0.00)_100%,_rgba(0,_0,_0,_0.00)_100%)] sm:opacity-[0.16] dark:bg-[linear-gradient(0deg,_#ffffff00_0%,_#ffffff_15%,_#ffffff_85%,_#ffffff00_100%)]"
                ></div>
                <div class="flex flex-col w-full">
              <span
                      class="font-semibold text-[64px] leading-[64px] max-md:text-[48px] max-md:leading-[48px] max-sm:text-[36px] max-sm:leading-[36px] text-center"
              >+32%</span
              >
                    <p
                            class="mt-2 font-normal text-[16px] leading-[23px] max-sm:text-[14px] max-sm:leading-[20px] text-text-secondary dark:text-dark-text-secondary text-center"
                    >
                        Экономия времени
                    </p>
                </div>
            </div>
            <div
                    class="min-w-[1px] max-lg:hidden max-sm:block max-sm:w-full max-sm:min-h-[1px] dark:max-sm:bg-[linear-gradient(90deg,_rgba(255,_255,_255,_0.00)_0%,_rgba(255,_255,_255,_0.16)_16.07%,_rgba(255,_255,_255,_0.16)_80.56%,_rgba(255,_255,_255,_0.00)_100%)] bg-[linear-gradient(0deg,_#00000000_0%,_#000000_15%,_#000000_85%,_#00000000_100%)] max-sm:bg-[linear-gradient(90deg,_rgba(0,_0,_0,_0.00)_0%,_rgba(0,_0,_0,_0.16)_16.07%,_rgba(0,_0,_0,_0.16)_80.56%,_rgba(255,_255,_255,_0.00)_100%,_rgba(0,_0,_0,_0.00)_100%)] sm:opacity-[0.16] dark:bg-[linear-gradient(0deg,_#ffffff00_0%,_#ffffff_15%,_#ffffff_85%,_#ffffff00_100%)]"
            ></div>
            <div class="flex gap-[24px] max-sm:gap-[32px] w-full max-sm:flex-col">
                <div class="flex flex-col w-full">
              <span
                      class="font-semibold text-[64px] leading-[64px] max-md:text-[48px] max-md:leading-[48px] max-sm:text-[36px] max-sm:leading-[36px] text-center"
              >+75%</span
              >
                    <p
                            class="mt-2 font-normal text-[16px] leading-[23px] max-sm:text-[14px] max-sm:leading-[20px] text-text-secondary dark:text-dark-text-secondary text-center"
                    >
                        Лучшая командная работа
                    </p>
                </div>
                <div
                        class="min-w-[1px] max-sm:w-full max-sm:min-h-[1px] dark:max-sm:bg-[linear-gradient(90deg,_rgba(255,_255,_255,_0.00)_0%,_rgba(255,_255,_255,_0.16)_16.07%,_rgba(255,_255,_255,_0.16)_80.56%,_rgba(255,_255,_255,_0.00)_100%)] bg-[linear-gradient(0deg,_#00000000_0%,_#000000_15%,_#000000_85%,_#00000000_100%)] max-sm:bg-[linear-gradient(90deg,_rgba(0,_0,_0,_0.00)_0%,_rgba(0,_0,_0,_0.16)_16.07%,_rgba(0,_0,_0,_0.16)_80.56%,_rgba(255,_255,_255,_0.00)_100%,_rgba(0,_0,_0,_0.00)_100%)] sm:opacity-[0.16] dark:bg-[linear-gradient(0deg,_#ffffff00_0%,_#ffffff_15%,_#ffffff_85%,_#ffffff00_100%)]"
                ></div>
                <div class="flex flex-col w-full">
              <span
                      class="font-semibold text-[64px] leading-[64px] max-md:text-[48px] max-md:leading-[48px] max-sm:text-[36px] max-sm:leading-[36px] text-center"
              >+81%</span
              >
                    <p
                            class="mt-2 font-normal text-[16px] leading-[23px] max-sm:text-[14px] max-sm:leading-[20px] text-text-secondary dark:text-dark-text-secondary text-center"
                    >
                        Производительность
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
