{% load static %}
<section class="relative bg-primary-bg dark:bg-[linear-gradient(0deg,_#000_0%,_#0E1C1C_100%)]">
    <div class="container mx-auto py-[72px] max-lg:pt-[96px] max-lg:pb-[64px] max-sm:pt-[88px] max-sm:pb-[56px]">
        <div class="flex min-h-[552px] max-sm:min-h-[408px] max-sm:pb-[40px] max-sm:px-[16px]">
            <div class="flex flex-col">
                <div class="flex gap-1 items-center">
                    <a href="#"
                       class="font-normal text-[14px] max-sm:text-[12px] leading-[20px] max-sm:leading-[17px] opacity-90 hover:opacity-100">INOUT
                        Project</a>
                    <img src="{% static 'icons/arrow_right_light.svg' %}" alt="arrow_right_light" class="hidden dark:block">
                    <img src="{% static 'icons/arrow_right_dark.svg' %}" alt="arrow_right_dark" class="dark:hidden">
                    <p
                            class="font-normal text-[14px] max-sm:text-[12px] leading-[20px] max-sm:leading-[17px] text-text-tertiary dark:text-dark-text-tertiary">
                        База</p>
                </div>
                <div class="flex mt-[80px] max-lg:mt-[64px] max-sm:mt-[40px]">
                    <div
                            class="relative px-[1px] py-[1px] rounded-[32px] bg-[linear-gradient(97deg,_rgba(48,_161,_161,_0.60)_-1.6%,_rgba(25,_51,_51,_0.00)_55.43%,_rgba(33,_152,_152,_0.60)_100%)]">
        <span
                class="flex items-center justify-center font-medium text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] w-full px-[16px] py-[6px] rounded-[32px] bg-[#F3F6F9] dark:bg-[#192626]">
          INOUT Проект База
        </span>
                    </div>
                </div>
                <h2
                        class="mt-10 max-sm:mt-[24px] font-semibold text-[64px] leading-[64px] max-lg:text-[48px] max-sm:text-[36px] max-sm:leading-[36px] max-lg:leading-[48px] max-w-[628px] max-xl:max-w-[428px] max-lg:max-w-[344px] tracking-[-1.92px] max-sm:tracking-[-0.72px] dark:bg-[linear-gradient(91deg,_#FFF_52.03%,_rgba(255,_255,_255,_0.64)_83.59%)] bg-[#000] bg-clip-text"
                        style="-webkit-text-fill-color: transparent;">Управляй проектами на автопилоте</h2>
                <p
                        class="mt-6 max-sm:mt-4 max-w-[628px] max-xl:max-w-[428px] max-lg:max-w-[344px] font-normal text-[16px] max-sm:text-[14px] leading-[23px] max-sm:leading-[20px] text-text-tertiary dark:text-dark-text-tertiary">
                    Базовый вариант Easy Project Essentials содержит все необходимые инструменты для управления
                    проектами, а
                    именно
                    классическое управление проектами (водопад), гибкое управление, управление работой, управление
                    портфелем
                    проектов, отчетность и контроль проектов, шаблоны проектов и персональные информационные панели для
                    6 ролей
                    пользователей.</p>
            </div>
        </div>
        <div
                class="absolute max-sm:static max-sm:ml-auto max-sm:flex max-sm:justify-end max-sm:justify-end h-full top-0 right-0 w-[560px] max-lg:w-[324px] max-sm:min-w-[343px] overflow-hidden max-sm:pl-4">
            <img src="{% static 'image/hero-products-img.svg' %}" alt="hero-products-img"
                 class="absolute max-sm:static right-0 max-lg:right-[-48px] max-sm:right-0 max-sm:h-full top-[80px] max-lg:top-[200px] max-sm:top-0 hidden dark:block">
            <img src="{% static 'image/hero-products-img-light.svg' %}" alt="hero-products-img-light"
                 class="absolute max-sm:static right-0 top-[80px] max-lg:right-[-48px] max-sm:right-0 max-sm:h-full max-lg:top-[200px] max-sm:top-0 dark:hidden">
        </div>
    </div>
</section>
