<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Test</title>
  <link href="sass/main.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="tailwind.config.js"></script>
</head>

<body class="dark:text-dark-text-primary text-text-primary">
<section class="dark:bg-dark-primary-bg py-[100px]">
  <div class="container mx-auto">
    <div class="grid grid-cols-3 gap-4">
      <div
        class="dark:bg-[linear-gradient(90deg,_#202020_0%,_#111111_100%)] bg-card-and-Sec-BT px-[2px] py-[2px] rounded-[24px] min-h-[512px]">
        <div
          class="dark:bg-[linear-gradient(150deg,_rgba(13,13,13,1)_0%,_rgba(14,16,21,1)_100%)] bg-card-and-Sec-BT rounded-[23px] pt-8 px-8 h-full">
          <div class="flex flex-col h-full">
            <div class="flex flex-col">
              <h2
                class="font-semibold text-[32px] leading-[35px]">
                Учебный центр</h2>
              <p
                class="font-normal text-base leading-[23px] text-text-secondary dark:text-dark-text-secondary mt-4">
                Сделайте первые шаги на пути к упрощению проектного управления. Учебный центр познакомит вас с работой
                основных функций INOUT Проект!</p>
              <a href="#"
                 class="font-medium text-base leading-[22px] text-text-link dark:text-dark-text-link hover:underline mt-8">Подробнее</a>
            </div>
            <img src="image/page-inout/educational_center.svg' %}" alt="educational_center"
                 class="mt-auto">
          </div>
        </div>
      </div>
      <div
        class="dark:bg-[linear-gradient(90deg,_#202020_0%,_#111111_100%)] px-[2px] py-[2px] rounded-[24px] min-h-[512px]">
        <div
          class="dark:bg-[linear-gradient(150deg,_rgba(13,13,13,1)_0%,_rgba(14,16,21,1)_100%)] bg-card-and-Sec-BT rounded-[23px] pt-8 px-8 h-full">
          <div class="flex flex-col h-full">
            <div class="flex flex-col">
              <h2
                class="font-semibold text-[32px] leading-[35px]">
                Документация</h2>
              <p
                class="font-normal text-base leading-[23px] text-text-secondary dark:text-dark-text-secondary mt-4">
                Инструкции, руководства, справочники, все что вам нужно знать о INOUT Проект, собрано здесь для вашего
                удобства и понимания.</p>
              <a href="#"
                 class="font-medium text-base leading-[22px] text-text-link dark:text-dark-text-link hover:underline mt-8">Подробнее</a>
            </div>
            <img src="image/page-inout/documentation.svg' %}" alt="documentation"
                 class="mt-auto">
          </div>
        </div>
      </div>
      <div
        class="dark:bg-[linear-gradient(90deg,_#202020_0%,_#111111_100%)] px-[2px] py-[2px] rounded-[24px] min-h-[512px]">
        <div
          class="dark:bg-[linear-gradient(150deg,_rgba(13,13,13,1)_0%,_rgba(14,16,21,1)_100%)] bg-card-and-Sec-BT rounded-[23px] pt-8 px-8 h-full">
          <div class="flex flex-col h-full">
            <div class="flex flex-col">
              <h2
                class="font-semibold text-[32px] leading-[35px] max-lg:leading-[32px]">
                Вопросы и ответы</h2>
              <p
                class="font-normal text-base leading-[23px] text-text-secondary dark:text-dark-text-secondary mt-4">
                Ответы на часто задаваемые вопросы: здесь вы найдете информацию о продукте, услугах и прочих важных
                аспектах.</p>
              <a href="#"
                 class="font-medium text-base leading-[22px] text-text-link dark:text-dark-text-link hover:underline mt-8">Подробнее</a>
            </div>
            <img src="image/page-inout/questions-and-answers.svg' %}" alt="questions-and-answers"
                 class="mt-auto">
          </div>
        </div>
      </div>
      <div
        class="dark:bg-[linear-gradient(90deg,_#202020_0%,_#111111_100%)] px-[2px] py-[2px] rounded-[24px] min-h-[512px]">
        <div
          class="dark:bg-[linear-gradient(150deg,_rgba(13,13,13,1)_0%,_rgba(14,16,21,1)_100%)] bg-card-and-Sec-BT rounded-[23px] pt-8 px-8 h-full">
          <div class="flex flex-col h-full">
            <div class="flex flex-col">
              <h2
                class="font-semibold text-[32px] leading-[35px]">
                Техническая информация</h2>
              <p
                class="font-normal text-base leading-[23px] text-text-secondary dark:text-dark-text-secondary mt-4">
                Последние обновления, изменения и нововведения.</p>
              <a href="#"
                 class="font-medium text-base leading-[22px] text-text-link dark:text-dark-text-link hover:underline mt-8">Подробнее</a>
            </div>
            <img src="image/page-inout/technical-information.svg' %}" alt="technical-information"
                 class="mt-auto">
          </div>
        </div>
      </div>
      <div
        class="dark:bg-[linear-gradient(90deg,_#202020_0%,_#111111_100%)] px-[2px] py-[2px] rounded-[24px] min-h-[512px]">
        <div
          class="dark:bg-[linear-gradient(150deg,_rgba(13,13,13,1)_0%,_rgba(14,16,21,1)_100%)] bg-card-and-Sec-BT rounded-[23px] pt-8 px-8 h-full">
          <div class="flex flex-col h-full">
            <div class="flex flex-col">
              <h2
                class="font-semibold text-[32px] leading-[35px] max-lg:leading-[32px] max-sm:text-[24px] max-sm:leading-[26px]">
                Блог</h2>
              <p
                class="font-normal text-base leading-[23px] text-text-secondary dark:text-dark-text-secondary mt-4">
                В блоге мы делимся интересными и полезными статьями на самые актуальные темы.</p>
              <a href="#"
                 class="font-medium text-base leading-[22px] text-text-link dark:text-dark-text-link hover:underline mt-8">Подробнее</a>
            </div>
            <img src="image/page-inout/blog.svg' %}" alt="blog"
                 class="mt-auto">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
</body>