<!DOCTYPE html>
<html lang="en" class="dark h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Test</title>
    <link href="sass/main.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="tailwind.config.js"></script>
  </head>

  <body class="text-text-primary dark:text-dark-text-primary">
    <section
      class="w-full flex flex-col flex-nowrap box-border"
    >
      <div class="w-full box-border">
        <div class="flex flex-col flex-nowrap gap-10">
          <h2
            class="font-semibold text-[40px] leading-[44px] max-md:leading-[40px] max-sm:text-[32px] max-sm:leading-[32px]"
          >
            Компании-партнёры INOUT
          </h2>

          <div
            class="pt-10 max-md:pt-5 box-border grid grid-cols-[repeat(2,1fr)] max-sm:flex max-sm:flex-col gap-4"
          >
            <!-- partners cards start -->

            <div
              class="flex flex-col flex-nowrap justify-between gap-16 p-8 max-md:p-4 box-border rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
            >
              <div class="z-30">
                <a href="#" class="flex items-center">
                  <img src="{% static 'icons/logo.svg' %}" alt="logo" class="hidden dark:block" />
                  <img src="{% static 'icons/logo_dark.svg' %}" alt="logo_dark" class="dark:hidden" />
                </a>
                <h3 class="text-[24px] leading-[125%] mt-4">United States of America Registered</h3>
                <p class="text-base leading-[23px] dark:text-dark-text-secondary text-text-secondary mt-8">
                  NOUT corporation is engaged in the creation of solutions to help in doing business and the embodiment
                  of their own ideas at the level.
                </p>
              </div>
              <div class="flex flex-col flex-nowrap gap-3 z-30">
                <div class="flex gap-2 items-center">
                  <img src="{% static 'icons/phone.svg' %}" alt="phone" />
                  <a href="tel:#" class="dark:text-dark-text-link text-text-link text-base">+1 615 598 3456</a>
                </div>
                <div class="flex gap-2 items-center">
                  <img src="{% static 'icons/mail.svg' %}" alt="mail" />
                  <a href="mailto:#" class="dark:text-dark-text-link text-text-link text-base">info@apnatomy.com</a>
                </div>
              </div>
            </div>

            <div
              class="flex flex-col flex-nowrap justify-between gap-16 p-8 max-md:p-4 max-sm:p-4 box-border rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
            >
              <div class="z-30">
                <a href="#" class="flex items-center">
                  <img src="{% static 'icons/logo.svg' %}" alt="logo" class="hidden dark:block" />
                  <img src="{% static 'icons/logo_dark.svg' %}" alt="logo_dark" class="dark:hidden" />
                </a>
                <h3 class="text-[24px] leading-[125%] mt-4">United States of America Registered</h3>
                <p class="text-base leading-[23px] dark:text-dark-text-secondary text-text-secondary mt-8">
                  NOUT corporation is engaged in the creation of solutions to help in doing business and the embodiment
                  of their own ideas at the level.
                </p>
              </div>
              <div class="flex flex-col flex-nowrap gap-3 z-30">
                <div class="flex gap-2 items-center">
                  <img src="{% static 'icons/phone.svg' %}" alt="phone" />
                  <a href="tel:#" class="dark:text-dark-text-link text-text-link text-base">+1 615 598 3456</a>
                </div>
                <div class="flex gap-2 items-center">
                  <img src="{% static 'icons/mail.svg' %}" alt="mail" />
                  <a href="mailto:#" class="dark:text-dark-text-link text-text-link text-base">info@apnatomy.com</a>
                </div>
              </div>
            </div>

            <div
              class="flex flex-col flex-nowrap justify-between gap-16 p-8 max-md:p-4 max-sm:p-4 box-border rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
            >
              <div class="z-30">
                <a href="#" class="flex items-center">
                  <img src="{% static 'icons/logo.svg' %}" alt="logo" class="hidden dark:block" />
                  <img src="{% static 'icons/logo_dark.svg' %}" alt="logo_dark" class="dark:hidden" />
                </a>
                <h3 class="text-[24px] leading-[125%] mt-4">United States of America Registered</h3>
                <p class="text-base leading-[23px] dark:text-dark-text-secondary text-text-secondary mt-8">
                  NOUT corporation is engaged in the creation of solutions to help in doing business and the embodiment
                  of their own ideas at the level.
                </p>
              </div>
              <div class="flex flex-col flex-nowrap gap-3 z-30">
                <div class="flex gap-2 items-center">
                  <img src="{% static 'icons/phone.svg' %}" alt="phone" />
                  <a href="tel:#" class="dark:text-dark-text-link text-text-link text-base">+1 615 598 3456</a>
                </div>
                <div class="flex gap-2 items-center">
                  <img src="{% static 'icons/mail.svg' %}" alt="mail" />
                  <a href="mailto:#" class="dark:text-dark-text-link text-text-link text-base">info@apnatomy.com</a>
                </div>
              </div>
            </div>

            <div
              class="flex flex-col flex-nowrap justify-between gap-16 p-8 max-md:p-4 max-sm:p-4 box-border rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
            >
              <div class="z-30">
                <a href="#" class="flex items-center">
                  <img src="{% static 'icons/logo.svg' %}" alt="logo" class="hidden dark:block" />
                  <img src="{% static 'icons/logo_dark.svg' %}" alt="logo_dark" class="dark:hidden" />
                </a>
                <h3 class="text-[24px] leading-[125%] mt-4">United States of America Registered</h3>
                <p class="text-base leading-[23px] dark:text-dark-text-secondary text-text-secondary mt-8">
                  NOUT corporation is engaged in the creation of solutions to help in doing business and the embodiment
                  of their own ideas at the level.
                </p>
              </div>
              <div class="flex flex-col flex-nowrap gap-3 z-30">
                <div class="flex gap-2 items-center">
                  <img src="{% static 'icons/phone.svg' %}" alt="phone" />
                  <a href="tel:#" class="dark:text-dark-text-link text-text-link text-base">+1 615 598 3456</a>
                </div>
                <div class="flex gap-2 items-center">
                  <img src="{% static 'icons/mail.svg' %}" alt="mail" />
                  <a href="mailto:#" class="dark:text-dark-text-link text-text-link text-base">info@apnatomy.com</a>
                </div>
              </div>
            </div>

            <div
              class="flex flex-col flex-nowrap justify-between gap-16 p-8 max-md:p-4 max-sm:p-4 box-border rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
            >
              <div class="z-30">
                <a href="#" class="flex items-center">
                  <img src="{% static 'icons/logo.svg' %}" alt="logo" class="hidden dark:block" />
                  <img src="{% static 'icons/logo_dark.svg' %}" alt="logo_dark" class="dark:hidden" />
                </a>
                <h3 class="text-[24px] leading-[125%] mt-4">United States of America Registered</h3>
                <p class="text-base leading-[23px] dark:text-dark-text-secondary text-text-secondary mt-8">
                  NOUT corporation is engaged in the creation of solutions to help in doing business and the embodiment
                  of their own ideas at the level.
                </p>
              </div>
              <div class="flex flex-col flex-nowrap gap-3 z-30">
                <div class="flex gap-2 items-center">
                  <img src="{% static 'icons/phone.svg' %}" alt="phone" />
                  <a href="tel:#" class="dark:text-dark-text-link text-text-link text-base">+1 615 598 3456</a>
                </div>
                <div class="flex gap-2 items-center">
                  <img src="{% static 'icons/mail.svg' %}" alt="mail" />
                  <a href="mailto:#" class="dark:text-dark-text-link text-text-link text-base">info@apnatomy.com</a>
                </div>
              </div>
            </div>

            <div
              class="flex flex-col flex-nowrap justify-between gap-16 p-8 max-md:p-4 max-sm:p-4 box-border rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
            >
              <div class="z-30">
                <a href="#" class="flex items-center">
                  <img src="{% static 'icons/logo.svg' %}" alt="logo" class="hidden dark:block" />
                  <img src="{% static 'icons/logo_dark.svg' %}" alt="logo_dark" class="dark:hidden" />
                </a>
                <h3 class="text-[24px] leading-[125%] mt-4">United States of America Registered</h3>
                <p class="text-base leading-[23px] dark:text-dark-text-secondary text-text-secondary mt-8">
                  NOUT corporation is engaged in the creation of solutions to help in doing business and the embodiment
                  of their own ideas at the level.
                </p>
              </div>
              <div class="flex flex-col flex-nowrap gap-3 z-30">
                <div class="flex gap-2 items-center">
                  <img src="{% static 'icons/phone.svg' %}" alt="phone" />
                  <a href="tel:#" class="dark:text-dark-text-link text-text-link text-base">+1 615 598 3456</a>
                </div>
                <div class="flex gap-2 items-center">
                  <img src="{% static 'icons/mail.svg' %}" alt="mail" />
                  <a href="mailto:#" class="dark:text-dark-text-link text-text-link text-base">info@apnatomy.com</a>
                </div>
              </div>
            </div>

            <div
              class="flex flex-col flex-nowrap justify-between gap-16 p-8 max-md:p-4 max-sm:p-4 box-border rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
            >
              <div class="z-30">
                <a href="#" class="flex items-center">
                  <img src="{% static 'icons/logo.svg' %}" alt="logo" class="hidden dark:block" />
                  <img src="{% static 'icons/logo_dark.svg' %}" alt="logo_dark" class="dark:hidden" />
                </a>
                <h3 class="text-[24px] leading-[125%] mt-4">United States of America Registered</h3>
                <p class="text-base leading-[23px] dark:text-dark-text-secondary text-text-secondary mt-8">
                  NOUT corporation is engaged in the creation of solutions to help in doing business and the embodiment
                  of their own ideas at the level.
                </p>
              </div>
              <div class="flex flex-col flex-nowrap gap-3 z-30">
                <div class="flex gap-2 items-center">
                  <img src="{% static 'icons/phone.svg' %}" alt="phone" />
                  <a href="tel:#" class="dark:text-dark-text-link text-text-link text-base">+1 615 598 3456</a>
                </div>
                <div class="flex gap-2 items-center">
                  <img src="{% static 'icons/mail.svg' %}" alt="mail" />
                  <a href="mailto:#" class="dark:text-dark-text-link text-text-link text-base">info@apnatomy.com</a>
                </div>
              </div>
            </div>

            <div
              class="flex flex-col flex-nowrap justify-between gap-16 p-8 max-md:p-4 max-sm:p-4 box-border rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
            >
              <div class="z-30">
                <a href="#" class="flex items-center">
                  <img src="{% static 'icons/logo.svg' %}" alt="logo" class="hidden dark:block" />
                  <img src="{% static 'icons/logo_dark.svg' %}" alt="logo_dark" class="dark:hidden" />
                </a>
                <h3 class="text-[24px] leading-[125%] mt-4">United States of America Registered</h3>
                <p class="text-base leading-[23px] dark:text-dark-text-secondary text-text-secondary mt-8">
                  NOUT corporation is engaged in the creation of solutions to help in doing business and the embodiment
                  of their own ideas at the level.
                </p>
              </div>
              <div class="flex flex-col flex-nowrap gap-3 z-30">
                <div class="flex gap-2 items-center">
                  <img src="{% static 'icons/phone.svg' %}" alt="phone" />
                  <a href="tel:#" class="dark:text-dark-text-link text-text-link text-base">+1 615 598 3456</a>
                </div>
                <div class="flex gap-2 items-center">
                  <img src="{% static 'icons/mail.svg' %}" alt="mail" />
                  <a href="mailto:#" class="dark:text-dark-text-link text-text-link text-base">info@apnatomy.com</a>
                </div>
              </div>
            </div>

            <!-- partners cards end -->
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
