{% load static %}
<section class="dark:bg-[linear-gradient(0deg,_#000_0%,_#0E1C1C_100%)] bg-primary-bg">
    <div class="container mx-auto py-[100px] max-md:py-[64px] max-sm:py-[56px] max-md:px-[32px] max-sm:px-[16px]">
        <div class="flex items-center justify-center">
            <div
                    class="relative flex items-center justify-center px-[1px] py-[1px] rounded-[32px] bg-[linear-gradient(97deg,_rgba(48,_161,_161,_0.60)_-1.6%,_rgba(25,_51,_51,_0.00)_55.43%,_rgba(33,_152,_152,_0.60)_100%)]">
      <span
              class="flex items-center justify-center font-medium text-[16px] leading-[22px] w-full px-[16px] py-[6px] max-sm:text-[14px] max-sm:leading-[20px] rounded-[32px] bg-[#F3F6F9] dark:bg-[#192626]">
        INOUT Проект
      </span>
            </div>
        </div>
        <h2
                class="mt-8 max-sm:mt-6 font-semibold text-[64px] max-md:text-[48px] max-sm:text-[32px] max-md:leading-[48px] max-sm:leading-[32px] max-md:max-w-[500px] max-sm:max-w-[360px] leading-[64px] max-w-[700px] text-center mx-auto dark:bg-[linear-gradient(91deg,_#FFF_52.03%,_rgba(255,_255,_255,_0.64)_83.59%)] bg-[#000] bg-clip-text"
                style="-webkit-text-fill-color: transparent;">Управляй проектами на автопилоте</h2>
        <p
                class="mt-6 max-sm:mt-4 mx-auto max-w-[448px] max-sm:max-w-[360px] text-center font-normal text-[16px] max-sm:text-[14px] leading-[24px] max-sm:leading-[20px] text-text-secondary dark:text-dark-text-secondary">
            INOUT
            Project
            может использоваться как частными лицами, так и командой или оргазнизацией. Другими словами, это
            универсальное
            решение для любого бизнеса.</p>
        <a href="#"
           class="block cursor-pointer mx-auto px-[24px] text-dark-text-primary text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] text-center py-[12px] mt-8 max-sm:mt-6 max-w-[132px] max-sm:max-w-[120px] bg-[linear-gradient(180deg,_#3274F9_0%,_#135BEB_100%)] rounded-[32px] hover:shadow-[0px_-4px_12px_0px_rgba(255,_255,_255,_0.32)_inset] transition">
            Подробнее
        </a>
        <div
                class="flex items-center justify-center px-[50px] pt-[50px] max-md:pt-[30px] max-md:px-[30px] max-sm:pt-[14px] max-sm:px-[14px] mt-[64px] bg-card-and-Sec-BT dark:bg-dark-card-and-Sec-BT rounded-[40px] max-sm:rounded-[24px]">
            <img src="{% static 'image/project_img.svg' %}" alt="project_img">
        </div>
        <div
                class="grid grid-cols-3 max-md:grid-cols-2 max-sm:grid-cols-1 gap-x-[49px] gap-y-[64px] max-sm:gap-y-[32px] mt-[48px] max-sm:mt-[40px]">
            <div class="relative max-sm:mx-auto">
                <div class="flex flex-col text-center items-center justify-center max-w-[372px]">
                    <h2
                            class="font-semibold text-[24px] leading-[30px] max-md:leading-[26px] max-sm:text-[20px] max-sm:leading-[20px]">
                        Гибкое управление</h2>
                    <p
                            class="mt-2 font-normal text-[16px] max-sm:text-[14px] leading-[24px] max-sm:leading-[20px] text-text-secondary dark:text-dark-text-secondary">
                        Поддержка
                        опытных профессионалов в
                        управлении проектами для интеграции ПО.</p>
                    <a href="#"
                       class="mt-6 max-sm:mt-3 font-medium text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] text-text-link dark:text-dark-text-link hover:underline">Подробнее</a>
                    <div
                            class="absolute right-[-24px] top-0 h-full min-w-[1px] max-w-[1px] bg-[linear-gradient(0deg,_#ffffff00_0%,_#ffffff_15%,_#ffffff_85%,_#ffffff00_100%)] opacity-[0.16] max-sm:hidden"></div>
                </div>
            </div>
            <div class="relative max-sm:mx-auto">
                <div class="flex flex-col text-center items-center justify-center max-w-[367px]">
                    <h2
                            class="font-semibold text-[24px] leading-[30px] max-md:leading-[26px] max-sm:text-[20px] max-sm:leading-[20px]">
                        Отслеживание времени</h2>
                    <p
                            class="mt-2 font-normal text-[16px] max-sm:text-[14px] leading-[24px] max-sm:leading-[20px] text-text-secondary dark:text-dark-text-secondary">
                        Подходит
                        для любой структуры, стиля
                        управления и стандартов индустрии.</p>
                    <a href="#"
                       class="mt-6 max-sm:mt-3 font-medium text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] text-text-link dark:text-dark-text-link hover:underline">Подробнее</a>
                </div>
                <div
                        class="absolute right-[-24px] top-0 h-full min-w-[1px] bg-[linear-gradient(0deg,_#ffffff00_0%,_#ffffff_15%,_#ffffff_85%,_#ffffff00_100%)] opacity-[0.16] max-md:hidden max-sm:hidden"></div>
            </div>
            <div class="relative max-sm:mx-auto">
                <div class="flex flex-col text-center items-center justify-center max-w-[367px]">
                    <h2
                            class="font-semibold text-[24px] leading-[30px] max-md:leading-[26px] max-sm:text-[20px] max-sm:leading-[20px]">
                        Управление работой</h2>
                    <p
                            class="mt-2 font-normal text-[16px] max-sm:text-[14px] leading-[24px] max-sm:leading-[20px] text-text-secondary dark:text-dark-text-secondary">
                        Подходит
                        для любой структуры, стиля
                        управления и стандартов индустрии.</p>
                    <a href="#"
                       class="mt-6 max-sm:mt-3 font-medium text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] text-text-link dark:text-dark-text-link hover:underline">Подробнее</a>
                    <div
                            class="absolute right-[-24px] top-0 h-full min-w-[1px] bg-[linear-gradient(0deg,_#ffffff00_0%,_#ffffff_15%,_#ffffff_85%,_#ffffff00_100%)] opacity-[0.16] xl:hidden lg:hidden max-lg:hidden max-md:block max-sm:hidden"></div>
                </div>
            </div>
            <div class="relative max-sm:mx-auto">
                <div class="flex flex-col text-center items-center max-w-[372px]">
                    <h2
                            class="font-semibold text-[24px] leading-[30px] max-md:leading-[26px] max-sm:text-[20px] max-sm:leading-[20px]">
                        Управление проектами</h2>
                    <p
                            class="mt-2 font-normal text-[16px] max-sm:text-[14px] leading-[24px] max-sm:leading-[20px] text-text-secondary dark:text-dark-text-secondary">
                        Используйте
                        WBS для разбивки
                        проекта, планируйте задачи в Gantt и назначайте ресурсы.</p>
                    <a href="#"
                       class="mt-6 max-sm:mt-3 font-medium text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] text-text-link dark:text-dark-text-link hover:underline">Подробнее</a>
                </div>
                <div
                        class="absolute right-[-24px] top-0 h-full min-w-[1px] bg-[linear-gradient(0deg,_#ffffff00_0%,_#ffffff_15%,_#ffffff_85%,_#ffffff00_100%)] opacity-[0.16]  max-md:hidden max-sm:hidden"></div>
            </div>
            <div class="relative max-sm:mx-auto">
                <div class="flex flex-col text-center items-center max-w-[367px]">
                    <h2
                            class="font-semibold text-[24px] leading-[30px] max-md:leading-[26px] max-sm:text-[20px] max-sm:leading-[20px]">
                        Портфельное управление</h2>
                    <p
                            class="mt-2 font-normal text-[16px] max-sm:text-[14px] leading-[24px] max-sm:leading-[20px] text-text-secondary dark:text-dark-text-secondary">
                        Обзор
                        производительности и отчеты
                        по
                        ресурсам, времени и бюджету.</p>
                    <a href="#"
                       class="mt-6 max-sm:mt-3 font-medium text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] text-text-link dark:text-dark-text-link hover:underline">Подробнее</a>
                </div>
                <div
                        class="absolute right-[-24px] top-0 h-full min-w-[1px] bg-[linear-gradient(0deg,_#ffffff00_0%,_#ffffff_15%,_#ffffff_85%,_#ffffff00_100%)] opacity-[0.16] max-sm:hidden"></div>
            </div>
            <div class="flex flex-col text-center items-center max-w-[367px] max-sm:mx-auto">
                <h2
                        class="font-semibold text-[24px] leading-[30px] max-md:leading-[26px] max-sm:text-[20px] max-sm:leading-[20px]">
                    Шаблоны проектов</h2>
                <p
                        class="mt-2 font-normal text-[16px] max-sm:text-[14px] leading-[24px] max-sm:leading-[20px] text-text-secondary dark:text-dark-text-secondary">
                    INOUT
                    Project создание шаблонов
                    проектов,
                    включая задачи, этапы, команды и документы.</p>
                <a href="#"
                   class="mt-6 max-sm:mt-3 font-medium text-[16px] max-sm:text-[14px] leading-[22px] max-sm:leading-[20px] text-text-link dark:text-dark-text-link hover:underline">Подробнее</a>
            </div>
        </div>
    </div>

</section>
