{% load static %}
<section
        class="overflow-hidden bg-primary-bg dark:bg-[radial-gradient(100%_100%_at_50%_100%,_#061637_0%,_#000_100%)] text-text-primary dark:text-dark-text-primary">
    <div class="container mx-auto py-[100px] max-md:py-[64px] max-sm:py-[56px] max-md:px-[32px] max-sm:px-[16px]">
        <div>
            <div
                    class="font-semibold text-[40px] leading-[44px] max-md:leading-[40px] max-sm:text-[32px] max-sm:leading-[32px]">
                <p>Что о нас говорят</p>
            </div>
        </div>
        <div class="container mx-auto">
            <div class="swiper mySwiper mt-[48px] max-sm:mt-[40px] overflow-visible min-h-[372px]">
                <div
                        class="absolute top-[-94px] max-md:top-[-90px] max-sm:hidden right-0 p-[1px] dark:bg-[linear-gradient(98deg,_rgba(255,_255,_255,_0.12)_0%,_rgba(255,_255,_255,_0.07)_75.5%)] rounded-[24px]">
                    <div class="flex gap-[24px] px-6 py-3 rounded-[60px] bg-card-and-Sec-BT dark:bg-gradient-to-l dark:from-[#0d0f13] dark:to-[#0e0e11]">
                        <div class="button-slide-prev">
                            <img src="{% static 'image/slider/review/swiper_button_left.svg' %}" alt="swiper_button_left"
                                 class="hidden dark:block">
                            <img src="{% static 'image/slider/review/swiper_button_left_dark.svg' %}" alt="swiper_button_left"
                                 class="dark:hidden">
                        </div>
                        <div class="button-slide-next">
                            <img src="{% static 'image/slider/review/swiper_button_right.svg' %}" alt="swiper_button_right"
                                 class="hidden dark:block">
                            <img src="{% static 'image/slider/review/swiper_button_right_dark.svg' %}" alt="swiper_button_right"
                                 class="dark:hidden">
                        </div>
                    </div>
                </div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide max-w-[288px]">
                        <div
                                class="p-[1px] rounded-[24px]">
                            <div class="px-5 py-5 rounded-[24px]">
                                <img src="{% static 'image/slider/review/slide_1_bg.svg' %}" alt="slide_1_bg"
                                     class="absolute top-0 left-0 w-full -z-50 object-cover h-full rounded-[24px] hidden dark:block">
                                <img src="{% static 'image/slider/review/slide_1_bg_light.png' %}" alt="slide_1_bg_dark"
                                     class="absolute top-0 left-0 w-full -z-50 object-cover h-full rounded-[24px] dark:hidden">
                                <div class="flex flex-col justify-center items-center">
                                    <div class="flex dark:hidden">
                                        <img src="{% static 'image/slider/review/star_light.svg' %}" alt="star_light.svg' %}">
                                        <img src="{% static 'image/slider/review/star_light.svg' %}" alt="star_light.svg' %}">
                                        <img src="{% static 'image/slider/review/star_light.svg' %}" alt="star_light.svg' %}">
                                        <img src="{% static 'image/slider/review/star_light.svg' %}" alt="star_light.svg' %}">
                                        <img src="{% static 'image/slider/review/star_light.svg' %}" alt="star_light.svg' %}">
                                    </div>
                                    <div class="hidden dark:flex">
                                        <img src="{% static 'image/slider/review/star_dark.svg' %}" alt="star_light.svg' %}">
                                        <img src="{% static 'image/slider/review/star_dark.svg' %}" alt="star_light.svg' %}">
                                        <img src="{% static 'image/slider/review/star_dark.svg' %}" alt="star_light.svg' %}">
                                        <img src="{% static 'image/slider/review/star_dark.svg' %}" alt="star_light.svg' %}">
                                        <img src="{% static 'image/slider/review/star_dark.svg' %}" alt="star_light.svg' %}">
                                    </div>
                                    <p
                                            class="font-normal mt-1 text-[14px] max-sm:text-[12px] leading-[20px] max-sm:leading-[17px] text-text-secondary dark:text-dark-text-secondary">
                                        4.8/5 (на основе 57 отзывов)</p>
                                    <img src="{% static 'image/slider/review/slide_1_2.svg' %}" alt="slide_1" class="pt-10">
                                </div>
                                <div class="mt-[60px]">
                                    <a href="#"
                                       class="flex p-[1px] bg-gradient-to-r from-[#2c5e9e] to-[#1e569b] rounded-[32px] w-full">
                                        <div
                                                class="block cursor-pointer text-[16px] leading-[22px] max-sm:text-[14px] max-sm:leading-[20px] w-full py-[12px] text-center bg-card-and-Sec-BT dark:bg-gradient-to-r dark:from-[#1b5296] dark:to-[#1c5499] rounded-[32px] hover:shadow-[0px_-4px_12px_0px_rgba(0,_0,_0,_0.32)_inset] dark:hover:shadow-[0px_-4px_12px_0px_rgba(255,_255,_255,_0.32)_inset] transition">
                                            Подробнее
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-not-action max-w-[288px] !h-auto">
                        <div
                                class="w-full right-0 p-[1px] dark:bg-[linear-gradient(98deg,_rgba(255,_255,_255,_0.12)_0%,_rgba(255,_255,_255,_0.07)_75.5%)] rounded-[24px] h-full">
                            <div
                                    class="gap-[24px] px-6 flex flex-col justify-between py-3 rounded-[24px] bg-card-and-Sec-BT dark:bg-gradient-to-b dark:from-[#0f131c] dark:to-[#121e38] h-full">
                                <div>
                                    <img src="{% static 'image/slider/review/slide_2.svg' %}" alt="slide_2">
                                    <h2 class="font-normal text-[16px] leading-[24px] max-sm:text-[14px] max-sm:leading-[20px] mt-3">
                                        Виртген Америка
                                    </h2>
                                    <h3
                                            class="font-normal text-[16px] leading-[24px] max-sm:text-[14px] max-sm:leading-[20px] text-text-tertiary dark:text-dark-text-tertiary">
                                        CPO из Osope</h3>
                                </div>
                                <div class="mt-[52px]">
                                    <div
                                            class="line-clamp-5 font-normal text-[20px] leading-[26px] max-sm:text-[16px] max-sm:leading-[23px]">
                                        Я управляю крупными проектами компании, и успешно! Позволяет управлять финансами
                                        и отслеживать время
                                        по каждой задаче.
                                    </div>
                                    <div class="mt-2">
								<span
                                        class="review-readmore font-normal text-[20px] leading-[26px] max-sm:text-[16px] max-sm:leading-[23px] text-text-tertiary dark:text-dark-text-tertiary hover:underline cursor-pointer">Читать
									целиком</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide max-w-[288px] !h-auto">
                        <div
                                class="w-full right-0 p-[1px] dark:bg-[linear-gradient(98deg,_rgba(255,_255,_255,_0.12)_0%,_rgba(255,_255,_255,_0.07)_75.5%)] rounded-[24px] h-full">
                            <div
                                    class="gap-[24px] px-6 flex flex-col justify-between py-3 rounded-[24px] bg-card-and-Sec-BT dark:bg-gradient-to-b dark:from-[#0f131c] dark:to-[#121e38] h-full">
                                <div>
                                    <img src="{% static 'image/slider/review/slide_3.svg' %}" alt="slide_3">
                                    <h2 class="font-normal text-[16px] leading-[24px] max-sm:text-[14px] max-sm:leading-[20px] mt-3">
                                        Виртген
                                        Америка</h2>
                                    <h3
                                            class="font-normal text-[16px] leading-[24px] max-sm:text-[14px] max-sm:leading-[20px] text-text-tertiary dark:text-dark-text-tertiary">
                                        Директор по продажам</h3>
                                </div>
                                <div>
                                    <p
                                            class="line-clamp-5 mt-[52px] font-normal text-[20px] leading-[26px] max-sm:text-[16px] max-sm:leading-[23px]">
                                        Мы попробовали Easy Project десять месяцев
                                        назад, ещё до обновлений. Было много ошибок и проблем, так что мы сомневались,
                                        стоит ли продолжать.
                                        еще
                                    </p>
                                    <div class="mt-2">
								<span
                                        class="review-readmore font-normal text-[20px] leading-[26px] max-sm:text-[16px] max-sm:leading-[23px] text-text-tertiary dark:text-dark-text-tertiary hover:underline cursor-pointer">Читать
									целиком</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide max-w-[288px] !h-auto">
                        <div
                                class="w-full right-0 p-[1px] dark:bg-[linear-gradient(98deg,_rgba(255,_255,_255,_0.12)_0%,_rgba(255,_255,_255,_0.07)_75.5%)] rounded-[24px] h-full">
                            <div
                                    class="gap-[24px] px-6 flex flex-col justify-between py-3 rounded-[24px] bg-card-and-Sec-BT dark:bg-gradient-to-b dark:from-[#0f131c] dark:to-[#121e38] h-full">
                                <div>
                                    <img src="{% static 'image/slider/review/slide_4.svg' %}" alt="slide_4">
                                    <h2 class="font-normal text-[16px] leading-[24px] max-sm:text-[14px] max-sm:leading-[20px] mt-3">
                                        Фиип
                                        Моравек</h2>
                                    <h3
                                            class="font-normal text-[16px] leading-[24px] max-sm:text-[14px] max-sm:leading-[20px] text-text-tertiary dark:text-dark-text-tertiary">
                                        Владелец компании</h3>
                                </div>
                                <div>
                                    <p
                                            class="line-clamp-5 mt-[52px] font-normal text-[20px] leading-[26px] max-sm:text-[16px] max-sm:leading-[23px]">
                                        Мы попробовали Easy Project десять месяцев
                                        назад, ещё до обновлений. Было много ошибок и проблем, так что мы сомневались,
                                        стоит ли продолжать.
                                        еще
                                    </p>
                                    <div class="mt-2">
								<span
                                        class="review-readmore font-normal text-[20px] leading-[26px] max-sm:text-[16px] max-sm:leading-[23px] text-text-tertiary dark:text-dark-text-tertiary hover:underline cursor-pointer">Читать
									целиком</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide max-w-[288px] !h-auto">
                        <div
                                class="w-full right-0 p-[1px] dark:bg-[linear-gradient(98deg,_rgba(255,_255,_255,_0.12)_0%,_rgba(255,_255,_255,_0.07)_75.5%)] rounded-[24px] h-full">
                            <div
                                    class="gap-[24px] px-6 flex flex-col justify-between py-3 rounded-[24px] bg-card-and-Sec-BT dark:bg-gradient-to-b dark:from-[#0f131c] dark:to-[#121e38] h-full">
                                <div>
                                    <img src="{% static 'image/slider/review/slide_5.svg' %}" alt="slide_5">
                                    <h2 class="font-normal text-[16px] leading-[24px] max-sm:text-[14px] max-sm:leading-[20px] mt-3">
                                        Стефан
                                        Ритенберг</h2>
                                    <h3
                                            class="font-normal text-[16px] leading-[24px] max-sm:text-[14px] max-sm:leading-[20px] text-text-tertiary dark:text-dark-text-tertiary">
                                        Руководитель службы ИТ</h3>
                                </div>
                                <div>
                                    <div
                                            class="line-clamp-5 mt-[52px] font-normal text-[20px] leading-[26px] max-sm:text-[16px] max-sm:leading-[23px]">
                                        Мы попробовали Easy Project десять месяцев
                                        назад, ещё до обновлений. Было много ошибок и проблем, так что мы сомневались,
                                        стоит ли продолжать.
                                        еще
                                    </div>
                                    <div class="mt-2">
								<span
                                        class="review-readmore font-normal text-[20px] leading-[26px] max-sm:text-[16px] max-sm:leading-[23px] text-text-tertiary dark:text-dark-text-tertiary hover:underline cursor-pointer">Читать
									целиком</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                        class="mt-10 hidden max-sm:block max-w-[120px] p-[1px] dark:bg-[linear-gradient(98deg,_rgba(255,_255,_255,_0.12)_0%,_rgba(255,_255,_255,_0.07)_75.5%)] rounded-[24px]">
                    <div
                            class="flex gap-[24px] px-6 py-3 rounded-[60px] bg-card-and-Sec-BT dark:bg-gradient-to-l dark:from-[#0d0f13] dark:to-[#0e0e11]">
                        <div class="button-slide-prev">
                            <img src="{% static 'image/slider/review/swiper_button_left.svg' %}" alt="swiper_button_left"
                                 class="hidden dark:block">
                            <img src="{% static 'image/slider/review/swiper_button_left_dark.svg' %}" alt="swiper_button_left"
                                 class="dark:hidden">
                        </div>
                        <div class="button-slide-next">
                            <img src="{% static 'image/slider/review/swiper_button_right.svg' %}" alt="swiper_button_right"
                                 class="hidden dark:block">
                            <img src="{% static 'image/slider/review/swiper_button_right_dark.svg' %}" alt="swiper_button_right"
                                 class="dark:hidden">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    const swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 16,
        navigation: {
            prevEl: ".button-slide-prev",
            nextEl: ".button-slide-next",
        },
        breakpoints: {
            320: {
                slidesPerView: 'auto',
                spaceBetween: 16
            },
            1200: {
                slidesPerView: 4,
                spaceBetween: 16
            }
        }
    });
</script>
