<!DOCTYPE html>
<html lang="en" class="dark h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Test</title>
    <link href="sass/main.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="tailwind.config.js"></script>
  </head>

  <body class="text-text-primary dark:text-dark-text-primary">
    <section
      class="w-full flex flex-col flex-nowrap box-border dark:bg-[linear-gradient(0deg,_#000_0%,_#061637_100%)] h-auto pb-20"
    >
      <div class="container mx-auto max-md:px-4">
        <h2
          class="font-semibold text-[64px] leading-[100%] max-md:text-[36px] mt-20 max-md:mt-10"
        >
          Отзывы об INOUT Проект
        </h2>
        <div
          class="w-full grid grid-cols-3 max-md:grid-cols-2 max-sm:flex max-sm:flex-col max-sm:flex-nowrap box-border gap-4 mt-16 max-md:mt-8 mb-20 max-md:mb-10"
        >
          <div
            class="p-6 gap-14 box-border flex flex-col flex-nowrap justify-between rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
          >
            <div class="flex flex-col flex-nowrap gap-3">
              <div class="rounded-full w-[48px] h-[48px]">
                <img src="image/reviews/1.png" alt="user" />
              </div>
              <div class="flex flex-col flex-nowrap gap-[2px]">
                <p class="text-[16px] max-md:text-[14px] max-sm:text-[14px]">Виртген Америка</p>
                <p
                  class="text-[16px] max-md:text-[14px] max-sm:text-[14px] text-text-tertiary dark:text-dark-text-tertiary"
                >
                  CPO из Osope
                </p>
              </div>
            </div>
            <p class="text-[20px] max-md:text-[16px] max-sm:text-[16px]">
              Позволяет управлять финансами и отслеживать время по
              каждой задаче.
              Позволяет управлять финансами и отслеживать время по
              каждой задаче.
              Позволяет управлять финансами и отслеживать время по
              каждой задаче.
            </p>
          </div>
          <div
            class="p-6 gap-14 box-border flex flex-col flex-nowrap justify-between rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
          >
            <div class="flex flex-col flex-nowrap gap-3">
              <div class="rounded-full w-[48px] h-[48px]">
                <img src="image/reviews/2.png" alt="user" />
              </div>
              <div class="flex flex-col flex-nowrap gap-[2px]">
                <p class="text-[16px] max-md:text-[14px] max-sm:text-[14px]">Виртген Америка</p>
                <p
                  class="text-[16px] max-md:text-[14px] max-sm:text-[14px] text-text-tertiary dark:text-dark-text-tertiary"
                >
                  CPO из Osope
                </p>
              </div>
            </div>
            <p class="text-[20px] max-md:text-[16px] max-sm:text-[16px]">
              Мы попробовали Easy Project десять месяцев назад, ещё до обновлений. Было много ошибок и проблем, так что мы
              сомневались, стоит ли продолжать. еще
            </p>
          </div>
          <div
            class="p-6 gap-14 box-border flex flex-col flex-nowrap justify-between rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
          >
            <div class="flex flex-col flex-nowrap gap-3">
              <div class="rounded-full w-[48px] h-[48px]">
                <img src="image/reviews/3.png" alt="user" />
              </div>
              <div class="flex flex-col flex-nowrap gap-[2px]">
                <p class="text-[16px] max-md:text-[14px] max-sm:text-[14px]">Виртген Америка</p>
                <p
                  class="text-[16px] max-md:text-[14px] max-sm:text-[14px] text-text-tertiary dark:text-dark-text-tertiary"
                >
                  CPO из Osope
                </p>
              </div>
            </div>
            <p class="text-[20px] max-md:text-[16px] max-sm:text-[16px]">
              Я управляю крупными проектами компании, и успешно! Позволяет управлять финансами и отслеживать время по
              каждой задаче.
            </p>
          </div>
          <div
            class="p-6 gap-14 box-border flex flex-col flex-nowrap justify-between rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
          >
            <div class="flex flex-col flex-nowrap gap-3">
              <div class="rounded-full w-[48px] h-[48px]">
                <img src="image/reviews/1.png" alt="user" />
              </div>
              <div class="flex flex-col flex-nowrap gap-[2px]">
                <p class="text-[16px] max-md:text-[14px] max-sm:text-[14px]">Виртген Америка</p>
                <p
                  class="text-[16px] max-md:text-[14px] max-sm:text-[14px] text-text-tertiary dark:text-dark-text-tertiary"
                >
                  CPO из Osope
                </p>
              </div>
            </div>
            <p class="text-[20px] max-md:text-[16px] max-sm:text-[16px]">
              Я управляю крупными проектами компании, и успешно! Позволяет управлять финансами и отслеживать время по
              каждой задаче.
            </p>
          </div>
          <div
            class="p-6 gap-14 box-border flex flex-col flex-nowrap justify-between rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
          >
            <div class="flex flex-col flex-nowrap gap-3">
              <div class="rounded-full w-[48px] h-[48px]">
                <img src="image/reviews/2.png" alt="user" />
              </div>
              <div class="flex flex-col flex-nowrap gap-[2px]">
                <p class="text-[16px] max-md:text-[14px] max-sm:text-[14px]">Виртген Америка</p>
                <p
                  class="text-[16px] max-md:text-[14px] max-sm:text-[14px] text-text-tertiary dark:text-dark-text-tertiary"
                >
                  CPO из Osope
                </p>
              </div>
            </div>
            <p class="text-[20px] max-md:text-[16px] max-sm:text-[16px]">
              Мы попробовали Easy Project десять месяцев назад, ещё до обновлений. Было много ошибок и проблем, так что мы
              сомневались, стоит ли продолжать. еще
            </p>
          </div>
          <div
            class="p-6 gap-14 box-border flex flex-col flex-nowrap justify-between rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
          >
            <div class="flex flex-col flex-nowrap gap-3">
              <div class="rounded-full w-[48px] h-[48px]">
                <img src="image/reviews/3.png" alt="user" />
              </div>
              <div class="flex flex-col flex-nowrap gap-[2px]">
                <p class="text-[16px] max-md:text-[14px] max-sm:text-[14px]">Виртген Америка</p>
                <p
                  class="text-[16px] max-md:text-[14px] max-sm:text-[14px] text-text-tertiary dark:text-dark-text-tertiary"
                >
                  CPO из Osope
                </p>
              </div>
            </div>
            <p class="text-[20px] max-md:text-[16px] max-sm:text-[16px]">
              Я управляю крупными проектами компании, и успешно! Позволяет управлять финансами и отслеживать время по
              каждой задаче.
            </p>
          </div>
          <div
            class="p-6 gap-14 box-border flex flex-col flex-nowrap justify-between rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
          >
            <div class="flex flex-col flex-nowrap gap-3">
              <div class="rounded-full w-[48px] h-[48px]">
                <img src="image/reviews/1.png" alt="user" />
              </div>
              <div class="flex flex-col flex-nowrap gap-[2px]">
                <p class="text-[16px] max-md:text-[14px] max-sm:text-[14px]">Виртген Америка</p>
                <p
                  class="text-[16px] max-md:text-[14px] max-sm:text-[14px] text-text-tertiary dark:text-dark-text-tertiary"
                >
                  CPO из Osope
                </p>
              </div>
            </div>
            <p class="text-[20px] max-md:text-[16px] max-sm:text-[16px]">
              Я управляю крупными проектами компании, и успешно! Позволяет управлять финансами и отслеживать время по
              каждой задаче.
            </p>
          </div>
          <div
            class="p-6 gap-14 box-border flex flex-col flex-nowrap justify-between rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
          >
            <div class="flex flex-col flex-nowrap gap-3">
              <div class="rounded-full w-[48px] h-[48px]">
                <img src="image/reviews/2.png" alt="user" />
              </div>
              <div class="flex flex-col flex-nowrap gap-[2px]">
                <p class="text-[16px] max-md:text-[14px] max-sm:text-[14px]">Виртген Америка</p>
                <p
                  class="text-[16px] max-md:text-[14px] max-sm:text-[14px] text-text-tertiary dark:text-dark-text-tertiary"
                >
                  CPO из Osope
                </p>
              </div>
            </div>
            <p class="text-[20px] max-md:text-[16px] max-sm:text-[16px]">
              Мы попробовали Easy Project десять месяцев назад, ещё до обновлений. Было много ошибок и проблем, так что мы
              сомневались, стоит ли продолжать. еще
            </p>
          </div>

          <div
            class="p-6 gap-14 box-border flex flex-col flex-nowrap justify-between rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
          >
            <div class="flex flex-col flex-nowrap gap-3">
              <div class="rounded-full w-[48px] h-[48px]">
                <img src="image/reviews/3.png" alt="user" />
              </div>
              <div class="flex flex-col flex-nowrap gap-[2px]">
                <p class="text-[16px] max-md:text-[14px] max-sm:text-[14px]">Виртген Америка</p>
                <p
                  class="text-[16px] max-md:text-[14px] max-sm:text-[14px] text-text-tertiary dark:text-dark-text-tertiary"
                >
                  CPO из Osope
                </p>
              </div>
            </div>
            <p class="text-[20px] max-md:text-[16px] max-sm:text-[16px]">
              Я управляю крупными проектами компании, и успешно! Позволяет управлять финансами и отслеживать время по
              каждой задаче.
            </p>
          </div>

          <div
            class="p-6 gap-14 box-border flex flex-col flex-nowrap justify-between rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
          >
            <div class="flex flex-col flex-nowrap gap-3">
              <div class="rounded-full w-[48px] h-[48px]">
                <img src="image/reviews/1.png" alt="user" />
              </div>
              <div class="flex flex-col flex-nowrap gap-[2px]">
                <p class="text-[16px] max-md:text-[14px] max-sm:text-[14px]">Виртген Америка</p>
                <p
                  class="text-[16px] max-md:text-[14px] max-sm:text-[14px] text-text-tertiary dark:text-dark-text-tertiary"
                >
                  CPO из Osope
                </p>
              </div>
            </div>
            <p class="text-[20px] max-md:text-[16px] max-sm:text-[16px]">
              Я управляю крупными проектами компании, и успешно! Позволяет управлять финансами и отслеживать время по
              каждой задаче.
            </p>
          </div>

          <div
            class="p-6 gap-14 box-border flex flex-col flex-nowrap justify-between rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
          >
            <div class="flex flex-col flex-nowrap gap-3">
              <div class="rounded-full w-[48px] h-[48px]">
                <img src="image/reviews/2.png" alt="user" />
              </div>
              <div class="flex flex-col flex-nowrap gap-[2px]">
                <p class="text-[16px] max-md:text-[14px] max-sm:text-[14px]">Виртген Америка</p>
                <p
                  class="text-[16px] max-md:text-[14px] max-sm:text-[14px] text-text-tertiary dark:text-dark-text-tertiary"
                >
                  CPO из Osope
                </p>
              </div>
            </div>
            <p class="text-[20px] max-md:text-[16px] max-sm:text-[16px]">
              Мы попробовали Easy Project десять месяцев назад, ещё до обновлений. Было много ошибок и проблем, так что мы
              сомневались, стоит ли продолжать. еще
            </p>
          </div>

          <div
            class="p-6 gap-14 box-border flex flex-col flex-nowrap justify-between rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
          >
            <div class="flex flex-col flex-nowrap gap-3">
              <div class="rounded-full w-[48px] h-[48px]">
                <img src="image/reviews/3.png" alt="user" />
              </div>
              <div class="flex flex-col flex-nowrap gap-[2px]">
                <p class="text-[16px] max-md:text-[14px] max-sm:text-[14px]">Виртген Америка</p>
                <p
                  class="text-[16px] max-md:text-[14px] max-sm:text-[14px] text-text-tertiary dark:text-dark-text-tertiary"
                >
                  CPO из Osope
                </p>
              </div>
            </div>
            <p class="text-[20px] max-md:text-[16px] max-sm:text-[16px]">
              Я управляю крупными проектами компании, и успешно! Позволяет управлять финансами и отслеживать время по
              каждой задаче.
            </p>
          </div>

          <div
            class="p-6 gap-14 box-border flex flex-col flex-nowrap justify-between rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
          >
            <div class="flex flex-col flex-nowrap gap-3">
              <div class="rounded-full w-[48px] h-[48px]">
                <img src="image/reviews/1.png" alt="user" />
              </div>
              <div class="flex flex-col flex-nowrap gap-[2px]">
                <p class="text-[16px] max-md:text-[14px] max-sm:text-[14px]">Виртген Америка</p>
                <p
                  class="text-[16px] max-md:text-[14px] max-sm:text-[14px] text-text-tertiary dark:text-dark-text-tertiary"
                >
                  CPO из Osope
                </p>
              </div>
            </div>
            <p class="text-[20px] max-md:text-[16px] max-sm:text-[16px]">
              Я управляю крупными проектами компании, и успешно! Позволяет управлять финансами и отслеживать время по
              каждой задаче.
            </p>
          </div>

          <div
            class="p-6 gap-14 box-border flex flex-col flex-nowrap justify-between rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
          >
            <div class="flex flex-col flex-nowrap gap-3">
              <div class="rounded-full w-[48px] h-[48px]">
                <img src="image/reviews/2.png" alt="user" />
              </div>
              <div class="flex flex-col flex-nowrap gap-[2px]">
                <p class="text-[16px] max-md:text-[14px] max-sm:text-[14px]">Виртген Америка</p>
                <p
                  class="text-[16px] max-md:text-[14px] max-sm:text-[14px] text-text-tertiary dark:text-dark-text-tertiary"
                >
                  CPO из Osope
                </p>
              </div>
            </div>
            <p class="text-[20px] max-md:text-[16px] max-sm:text-[16px]">
              Мы попробовали Easy Project десять месяцев назад, ещё до обновлений. Было много ошибок и проблем, так что мы
              сомневались, стоит ли продолжать. еще
            </p>
          </div>

          <div
            class="p-6 gap-14 box-border flex flex-col flex-nowrap justify-between rounded-[24px] dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT relative z-20 before:absolute before:border before:border-[transparent] before:inset-0 before:z-10 before:rounded-[24px] dark:before:[background:linear-gradient(98deg,_rgba(255,255,255,0.08)_0%,_rgba(255,255,255,0.02)_75.5%)_border-box] before:[background:linear-gradient(98deg,_rgba(0,0,0,0.08)_0%,_rgba(0,0,0,0.02)_75.5%)_border-box] before:[-webkit-mask:linear-gradient(#fff_0_0)_padding-box,_linear-gradient(#fff_0_0)] before:[-webkit-mask-composite:destination-out] before:[mask-composite:exclude]"
          >
            <div class="flex flex-col flex-nowrap gap-3">
              <div class="rounded-full w-[48px] h-[48px]">
                <img src="image/reviews/3.png" alt="user" />
              </div>
              <div class="flex flex-col flex-nowrap gap-[2px]">
                <p class="text-[16px] max-md:text-[14px] max-sm:text-[14px]">Виртген Америка</p>
                <p
                  class="text-[16px] max-md:text-[14px] max-sm:text-[14px] text-text-tertiary dark:text-dark-text-tertiary"
                >
                  CPO из Osope
                </p>
              </div>
            </div>
            <p class="text-[20px] max-md:text-[16px] max-sm:text-[16px]">
              Я управляю крупными проектами компании, и успешно! Позволяет управлять финансами и отслеживать время по
              каждой задаче.
            </p>
          </div>
        </div>
        <div class="mx-auto flex items-center justify-center w-full gap-[11px]">
          <button class="w-[24px] h-[24px] hover:cursor-pointer disabled:opacity-50 disabled:cursor-default" disabled>
            <img src="{% static 'icons/arrow_right_light.svg' %}" alt="arrow" class="rotate-180 hidden dark:block" />
            <img src="{% static 'icons/arrow_right_dark.svg' %}" alt="arrow" class="rotate-180 dark:hidden" />
          </button>
          <div class="flex pagination-items">
            <a
              href="#"
              class="inline-block flex justify-center items-center rounded-full w-[46px] h-[46px] text-[16px] dark:text-dark-text-secondary text-text-secondary hover:text-text-primary hover:dark:text-dark-text-primary hover:dark:bg-dark-card-and-Sec-BT hover:bg-card-and-Sec-BT active:text-text-primary dark:active:text-dark-text-primary dark:active:bg-dark-card-and-Sec-BT active:bg-card-and-Sec-BT focus:text-text-primary dark:focus:text-dark-text-primary dark:focus:bg-dark-card-and-Sec-BT focus:bg-card-and-Sec-BT focus:border-none focus:outline-none"
            >1</a
            >
            <a
              href="#"
              class="inline-block flex justify-center items-center rounded-full w-[46px] h-[46px] text-[16px] dark:text-dark-text-secondary text-text-secondary hover:text-text-primary hover:dark:text-dark-text-primary hover:dark:bg-dark-card-and-Sec-BT hover:bg-card-and-Sec-BT active:text-text-primary dark:active:text-dark-text-primary dark:active:bg-dark-card-and-Sec-BT active:bg-card-and-Sec-BT focus:text-text-primary dark:focus:text-dark-text-primary dark:focus:bg-dark-card-and-Sec-BT focus:bg-card-and-Sec-BT focus:border-none focus:outline-none"
            >2</a
            >
            <a
              href="#"
              class="inline-block flex justify-center items-center rounded-full w-[46px] h-[46px] text-[16px] dark:text-dark-text-secondary text-text-secondary hover:text-text-primary hover:dark:text-dark-text-primary hover:dark:bg-dark-card-and-Sec-BT hover:bg-card-and-Sec-BT active:text-text-primary dark:active:text-dark-text-primary dark:active:bg-dark-card-and-Sec-BT active:bg-card-and-Sec-BT focus:text-text-primary dark:focus:text-dark-text-primary dark:focus:bg-dark-card-and-Sec-BT focus:bg-card-and-Sec-BT focus:border-none focus:outline-none"
            >3</a
            >
            <a
              href="#"
              class="inline-block flex justify-center items-center rounded-full w-[46px] h-[46px] text-[16px] dark:text-dark-text-secondary text-text-secondary hover:text-text-primary hover:dark:text-dark-text-primary hover:dark:bg-dark-card-and-Sec-BT hover:bg-card-and-Sec-BT active:text-text-primary dark:active:text-dark-text-primary dark:active:bg-dark-card-and-Sec-BT active:bg-card-and-Sec-BT focus:text-text-primary dark:focus:text-dark-text-primary dark:focus:bg-dark-card-and-Sec-BT focus:bg-card-and-Sec-BT focus:border-none focus:outline-none"
            >...</a
            >
            <a
              href="#"
              class="inline-block flex justify-center items-center rounded-full w-[46px] h-[46px] text-[16px] dark:text-dark-text-secondary text-text-secondary hover:text-text-primary hover:dark:text-dark-text-primary hover:dark:bg-dark-card-and-Sec-BT hover:bg-card-and-Sec-BT active:text-text-primary dark:active:text-dark-text-primary dark:active:bg-dark-card-and-Sec-BT active:bg-card-and-Sec-BT focus:text-text-primary dark:focus:text-dark-text-primary dark:focus:bg-dark-card-and-Sec-BT focus:bg-card-and-Sec-BT focus:border-none focus:outline-none"
            >8</a
            >
          </div>
          <button class="w-[24px] h-[24px] hover:cursor-pointer disabled:opacity-50 disabled:cursor-default">
            <img src="{% static 'icons/arrow_right_light.svg' %}" alt="arrow" class="hidden dark:block" />
            <img src="{% static 'icons/arrow_right_dark.svg' %}" alt="arrow" class="dark:hidden" />
          </button>
        </div>
      </div>
    </section>
    <script src="scripts/script.js"></script>
  </body>
</html>
