<!DOCTYPE html>
<html lang="en" class="dark h-full">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Test</title>
  <link href="sass/main.css" rel="stylesheet"/>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="tailwind.config.js"></script>
</head>

<body class="text-text-primary dark:text-dark-text-primary">
<section class="pb-20 max-md:pb-[100px] container mx-auto">
  <div class="container max-sm:px-4 max-md:tracking-tight mx-auto pt-20 max-sm:pt-10 relative">
    <div class="colors-stroke-table p-[1px] rounded-xl relative">
      <input
        type="text"
        class="py-4 bg-[#0D0D0D] outline-none rounded-xl w-full px-12"
        id="inputSearch"
      />
      <img
        src="{% static 'icons/light_search.svg' %}"
        alt="search"
        class="absolute left-4 top-[18px] hidden dark:block"
      />
      <img
        src="{% static 'icons/search_dark.svg' %}"
        alt="search"
        class="absolute left-4 top-[24px] dark:hidden"
      />
      <div
        class="hidden absolute input-search-clear right-4 max-sm:right-4 top-[30px] transform -translate-y-1/2 cursor-pointer">
        <img
          src="{% static 'icons/cancel.svg' %}"
          alt="cancel"
        />
      </div>
    </div>
    <div class="relative mt-2">
      <div
        class="overflow-x-auto ui-h-scroll flex tabheader__items_search max-lg:pt-10"
      >
        <div
          class="cursor-pointer flex items-end  gap-2 py-2 px-4 font-medium text-base leading-[22px] border-b-primary-bg border-b-[1px] tabheader__item_search whitespace-nowrap transition"
        >
          Всё
        </div>
        <div
          class="cursor-pointer flex items-end gap-2 py-2 px-4 font-medium text-base leading-[22px] colors-text-tertiary tabheader__item_search whitespace-nowrap transition"
        >
          Блог
          <span class="font-normal text-xs pb-[1px]">4</span>
        </div>
        <div
          class="cursor-pointer flex items-end  gap-2 py-2 px-4 font-medium text-base leading-[22px] colors-text-tertiary tabheader__item_search whitespace-nowrap transition">
          Документация
          <span class="font-normal text-xs pb-[1px]">3</span>
        </div>
        <div
          class="cursor-pointer flex items-end  gap-2 py-2 px-4 font-medium text-base leading-[22px] colors-text-tertiary tabheader__item_search whitespace-nowrap transition">
          Ресурсы
          <span class="font-normal text-xs pb-[1px]">3</span>
        </div>
        <div
          class="cursor-pointer flex items-end  gap-2 py-2 px-4 font-medium text-base leading-[22px] colors-text-tertiary tabheader__item_search whitespace-nowrap transition">
          Продукты
          <span class="font-normal text-xs pb-[1px]">2</span>
        </div>
        <div
          class="cursor-pointer flex items-end  gap-2 py-2 px-4 font-medium text-base leading-[22px] colors-text-tertiary tabheader__item_search whitespace-nowrap transition">
          Услуги
          <span class="font-normal text-xs pb-[1px]">2</span>
        </div>
        <div class="hidden max-md:block">
          <button
            class="tabheader-pagination-prev-search absolute z-[1] p-2 left-1 top-10 backdrop-blur-sm rounded-lg hidden"
          >
            <img src="/{% static 'icons/arrow_down.svg' %}" alt="" class="rotate-90"/>
          </button>
          <button
            class="tabheader-pagination-next-search absolute z-[1] p-2 right-1 top-10 backdrop-blur-sm rounded-lg"
          >
            <img src="/{% static 'icons/arrow_down.svg' %}" alt="" class="-rotate-90"/>
          </button>
        </div>
      </div>
      <div class="absolute font-normal text-base leading-[23px] top-2 right-0 max-lg:left-0 max-lg:top-0">Результаты
        поиска: <span>14</span></div>
    </div>
  </div>
  <div class="container max-sm:px-4 max-md:tracking-tight mx-auto pt-20 max-sm:pt-8 flex flex-col gap-4">
    <div class="colors-dark-stroke-sec-bt-border p-[2px] rounded-3xl">
      <div
        class="flex flex-wrap flex-col rounded-3xl bg-[#0D0D0D] px-8 max-sm:px-6 py-8 max-sm:py-6"
      >
        <div class="flex gap-1 items-center">
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Документация
          </p>
          <img src="./{% static 'icons/dot.svg' %}" alt="dot"/>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Project management
          </p>
        </div>
        <div class="flex flex-col">
          <p class="font-semibold leading-[30px] text-[24px] mt-4">
            Project management
          </p>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary mt-2"
          >
            ...If your Easy Project system
            <span
              class="text-text-primary dark:text-dark-text-primary dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT py-[2px] px-2 rounded-lg mr-1 whitespace-nowrap"> doesn't require users </span>
            to log in, this
            project...
          </p>
        </div>
        <a
          href="#"
          class="font-medium text-base leading-[22px] colors-text-link hover:underline pt-6"
        >Смотреть</a
        >
      </div>
    </div>
    <div class="colors-dark-stroke-sec-bt-border p-[2px] rounded-3xl">
      <div
        class="flex flex-wrap flex-col rounded-3xl bg-[#0D0D0D] px-8 max-sm:px-6 py-8 max-sm:py-6"
      >
        <div class="flex gap-1 items-center">
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Документация
          </p>
          <img src="./{% static 'icons/dot.svg' %}" alt="dot"/>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Project management
          </p>
        </div>
        <div class="flex flex-col">
          <p class="font-semibold leading-[30px] text-[24px] mt-4">
            Project management
          </p>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary mt-2"
          >
            ...If your Easy Project system
            <span
              class="text-text-primary dark:text-dark-text-primary dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT py-[2px] px-2 rounded-lg mr-1 whitespace-nowrap"> doesn't require users </span>
            to log in, this
            project...
          </p>
        </div>
        <a
          href="#"
          class="font-medium text-base leading-[22px] colors-text-link hover:underline pt-6"
        >Смотреть</a
        >
      </div>
    </div>
    <div class="colors-dark-stroke-sec-bt-border p-[2px] rounded-3xl">
      <div
        class="flex flex-wrap flex-col rounded-3xl bg-[#0D0D0D] px-8 max-sm:px-6 py-8 max-sm:py-6"
      >
        <div class="flex gap-1 items-center">
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Документация
          </p>
          <img src="./{% static 'icons/dot.svg' %}" alt="dot"/>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Project management
          </p>
        </div>
        <div class="flex flex-col">
          <p class="font-semibold leading-[30px] text-[24px] mt-4">
            Project management
          </p>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary mt-2"
          >
            ...If your Easy Project system
            <span
              class="text-text-primary dark:text-dark-text-primary dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT py-[2px] px-2 rounded-lg mr-1 whitespace-nowrap"> doesn't require users </span>
            to log in, this
            project...
          </p>
        </div>
        <a
          href="#"
          class="font-medium text-base leading-[22px] colors-text-link hover:underline pt-6"
        >Смотреть</a
        >
      </div>
    </div>
    <div class="colors-dark-stroke-sec-bt-border p-[2px] rounded-3xl">
      <div
        class="flex flex-wrap flex-col rounded-3xl bg-[#0D0D0D] px-8 max-sm:px-6 py-8 max-sm:py-6"
      >
        <div class="flex gap-1 items-center">
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Документация
          </p>
          <img src="./{% static 'icons/dot.svg' %}" alt="dot"/>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Project management
          </p>
        </div>
        <div class="flex flex-col">
          <p class="font-semibold leading-[30px] text-[24px] mt-4">
            Project management
          </p>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary mt-2"
          >
            ...If your Easy Project system
            <span
              class="text-text-primary dark:text-dark-text-primary dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT py-[2px] px-2 rounded-lg mr-1 whitespace-nowrap"> doesn't require users </span>
            to log in, this
            project...
          </p>
        </div>
        <a
          href="#"
          class="font-medium text-base leading-[22px] colors-text-link hover:underline pt-6"
        >Смотреть</a
        >
      </div>
    </div>
    <div class="colors-dark-stroke-sec-bt-border p-[2px] rounded-3xl">
      <div
        class="flex flex-wrap flex-col rounded-3xl bg-[#0D0D0D] px-8 max-sm:px-6 py-8 max-sm:py-6"
      >
        <div class="flex gap-1 items-center">
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Документация
          </p>
          <img src="./{% static 'icons/dot.svg' %}" alt="dot"/>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Project management
          </p>
        </div>
        <div class="flex flex-col">
          <p class="font-semibold leading-[30px] text-[24px] mt-4">
            Project management
          </p>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary mt-2"
          >
            ...If your Easy Project system
            <span
              class="text-text-primary dark:text-dark-text-primary dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT py-[2px] px-2 rounded-lg mr-1 whitespace-nowrap"> doesn't require users </span>
            to log in, this
            project...
          </p>
        </div>
        <a
          href="#"
          class="font-medium text-base leading-[22px] colors-text-link hover:underline pt-6"
        >Смотреть</a
        >
      </div>
    </div>
    <div class="colors-dark-stroke-sec-bt-border p-[2px] rounded-3xl">
      <div
        class="flex flex-wrap flex-col rounded-3xl bg-[#0D0D0D] px-8 max-sm:px-6 py-8 max-sm:py-6"
      >
        <div class="flex gap-1 items-center">
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Документация
          </p>
          <img src="./{% static 'icons/dot.svg' %}" alt="dot"/>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Project management
          </p>
        </div>
        <div class="flex flex-col">
          <p class="font-semibold leading-[30px] text-[24px] mt-4">
            Project management
          </p>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary mt-2"
          >
            ...If your Easy Project system
            <span
              class="text-text-primary dark:text-dark-text-primary dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT py-[2px] px-2 rounded-lg mr-1 whitespace-nowrap"> doesn't require users </span>
            to log in, this
            project...
          </p>
        </div>
        <a
          href="#"
          class="font-medium text-base leading-[22px] colors-text-link hover:underline pt-6"
        >Смотреть</a
        >
      </div>
    </div>
    <div class="colors-dark-stroke-sec-bt-border p-[2px] rounded-3xl">
      <div
        class="flex flex-wrap flex-col rounded-3xl bg-[#0D0D0D] px-8 max-sm:px-6 py-8 max-sm:py-6"
      >
        <div class="flex gap-1 items-center">
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Документация
          </p>
          <img src="./{% static 'icons/dot.svg' %}" alt="dot"/>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Project management
          </p>
        </div>
        <div class="flex flex-col">
          <p class="font-semibold leading-[30px] text-[24px] mt-4">
            Project management
          </p>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary mt-2"
          >
            ...If your Easy Project system
            <span
              class="text-text-primary dark:text-dark-text-primary dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT py-[2px] px-2 rounded-lg mr-1 whitespace-nowrap"> doesn't require users </span>
            to log in, this
            project...
          </p>
        </div>
        <a
          href="#"
          class="font-medium text-base leading-[22px] colors-text-link hover:underline pt-6"
        >Смотреть</a
        >
      </div>
    </div>
    <div class="colors-dark-stroke-sec-bt-border p-[2px] rounded-3xl">
      <div
        class="flex flex-wrap flex-col rounded-3xl bg-[#0D0D0D] px-8 max-sm:px-6 py-8 max-sm:py-6"
      >
        <div class="flex gap-1 items-center">
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Документация
          </p>
          <img src="./{% static 'icons/dot.svg' %}" alt="dot"/>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Project management
          </p>
        </div>
        <div class="flex flex-col">
          <p class="font-semibold leading-[30px] text-[24px] mt-4">
            Project management
          </p>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary mt-2"
          >
            ...If your Easy Project system
            <span
              class="text-text-primary dark:text-dark-text-primary dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT py-[2px] px-2 rounded-lg mr-1 whitespace-nowrap"> doesn't require users </span>
            to log in, this
            project...
          </p>
        </div>
        <a
          href="#"
          class="font-medium text-base leading-[22px] colors-text-link hover:underline pt-6"
        >Смотреть</a
        >
      </div>
    </div>
    <div class="colors-dark-stroke-sec-bt-border p-[2px] rounded-3xl">
      <div
        class="flex flex-wrap flex-col rounded-3xl bg-[#0D0D0D] px-8 max-sm:px-6 py-8 max-sm:py-6"
      >
        <div class="flex gap-1 items-center">
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Документация
          </p>
          <img src="./{% static 'icons/dot.svg' %}" alt="dot"/>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Project management
          </p>
        </div>
        <div class="flex flex-col">
          <p class="font-semibold leading-[30px] text-[24px] mt-4">
            Project management
          </p>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary mt-2"
          >
            ...If your Easy Project system
            <span
              class="text-text-primary dark:text-dark-text-primary dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT py-[2px] px-2 rounded-lg mr-1 whitespace-nowrap"> doesn't require users </span>
            to log in, this
            project...
          </p>
        </div>
        <a
          href="#"
          class="font-medium text-base leading-[22px] colors-text-link hover:underline pt-6"
        >Смотреть</a
        >
      </div>
    </div>
    <div class="colors-dark-stroke-sec-bt-border p-[2px] rounded-3xl">
      <div
        class="flex flex-wrap flex-col rounded-3xl bg-[#0D0D0D] px-8 max-sm:px-6 py-8 max-sm:py-6"
      >
        <div class="flex gap-1 items-center">
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Документация
          </p>
          <img src="./{% static 'icons/dot.svg' %}" alt="dot"/>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary"
          >
            Project management
          </p>
        </div>
        <div class="flex flex-col">
          <p class="font-semibold leading-[30px] text-[24px] mt-4">
            Project management
          </p>
          <p
            class="font-normal text-base leading-[23px] colors-text-secondary mt-2"
          >
            ...If your Easy Project system
            <span
              class="text-text-primary dark:text-dark-text-primary dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT py-[2px] px-2 rounded-lg mr-1 whitespace-nowrap"> doesn't require users </span>
            to log in, this
            project...
          </p>
        </div>
        <a
          href="#"
          class="font-medium text-base leading-[22px] colors-text-link hover:underline pt-6"
        >Смотреть</a
        >
      </div>
    </div>
    <div class="mx-auto flex items-center justify-center w-full gap-[11px] mt-[64px] max-md:mt-[28px]">
      <button class="w-[24px] h-[24px] hover:cursor-pointer disabled:opacity-50 disabled:cursor-default" disabled>
        <img src="{% static 'icons/arrow_right_light.svg' %}" alt="arrow" class="rotate-180 hidden dark:block"/>
        <img src="{% static 'icons/arrow_right_dark.svg' %}" alt="arrow" class="rotate-180 dark:hidden"/>
      </button>
      <div class="flex pagination-items">
        <a
          href="#"
          class="inline-block flex justify-center items-center rounded-full w-[46px] h-[46px] text-[16px] dark:text-dark-text-secondary text-text-secondary hover:text-text-primary hover:dark:text-dark-text-primary hover:dark:bg-dark-card-and-Sec-BT hover:bg-card-and-Sec-BT active:text-text-primary dark:active:text-dark-text-primary dark:active:bg-dark-card-and-Sec-BT active:bg-card-and-Sec-BT focus:text-text-primary dark:focus:text-dark-text-primary dark:focus:bg-dark-card-and-Sec-BT focus:bg-card-and-Sec-BT focus:border-none focus:outline-none"
        >1</a
        >
        <a
          href="#"
          class="inline-block flex justify-center items-center rounded-full w-[46px] h-[46px] text-[16px] dark:text-dark-text-secondary text-text-secondary hover:text-text-primary hover:dark:text-dark-text-primary hover:dark:bg-dark-card-and-Sec-BT hover:bg-card-and-Sec-BT active:text-text-primary dark:active:text-dark-text-primary dark:active:bg-dark-card-and-Sec-BT active:bg-card-and-Sec-BT focus:text-text-primary dark:focus:text-dark-text-primary dark:focus:bg-dark-card-and-Sec-BT focus:bg-card-and-Sec-BT focus:border-none focus:outline-none"
        >2</a
        >
      </div>
      <button class="w-[24px] h-[24px] hover:cursor-pointer disabled:opacity-50 disabled:cursor-default">
        <img src="{% static 'icons/arrow_right_light.svg' %}" alt="arrow" class="hidden dark:block"/>
        <img src="{% static 'icons/arrow_right_dark.svg' %}" alt="arrow" class="dark:hidden"/>
      </button>
    </div>
  </div>
</section>

<script src="scripts/script.js"></script>

</body>
</html>
