<!DOCTYPE html>
<html lang="en" class="dark">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Test</title>
  <link href="sass/main.css" rel="stylesheet"/>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="tailwind.config.js"></script>
</head>

<body class="text-text-primary dark:text-dark-text-primary">
  <section class="container mx-auto pb-20 max-md:pb-[100px]">
    <div class="container max-sm:px-4 max-md:tracking-tight mx-auto pt-20 max-sm:pt-10 relative">
      <div class="colors-stroke-table p-[1px] rounded-xl relative">
        <input
          type="text"
          class="py-4 bg-[#0D0D0D] outline-none rounded-xl w-full px-12"
          id="inputSearch"
        />
        <img
          src="{% static 'icons/light_search.svg' %}"
          alt="search"
          class="absolute left-4 top-[18px] hidden dark:block"
        />
        <img
          src="{% static 'icons/search_dark.svg' %}"
          alt="search"
          class="absolute left-4 top-[24px] dark:hidden"
        />
        <div
          class="hidden absolute input-search-clear right-4 max-sm:right-4 top-[30px] transform -translate-y-1/2 cursor-pointer">
          <img
            src="{% static 'icons/cancel.svg' %}"
            alt="cancel"
          />
        </div>
      </div>
      <div class="relative mt-2">
        <div class="absolute font-normal text-base leading-[23px] top-2 right-0">Результаты
          поиска: <span>1</span></div>
      </div>
    </div>
    <div class="max-sm:px-4 max-md:tracking-tight pt-[112px] bg-color-background-card">
      <div class="colors-dark-stroke-sec-bt-border p-[2px] rounded-3xl">
        <div
          class="flex flex-wrap flex-col rounded-3xl bg-[#0D0D0D] px-8 max-sm:px-6 py-8 max-sm:py-6"
        >
          <div class="flex gap-1 items-center">
            <p
              class="font-normal text-base leading-[23px] colors-text-secondary"
            >
              Документация
            </p>
            <img src="./{% static 'icons/dot.svg' %}" alt="dot"/>
            <p
              class="font-normal text-base leading-[23px] colors-text-secondary"
            >
              Project management
            </p>
          </div>
          <div class="flex flex-col">
            <p class="font-semibold leading-[30px] text-[24px] mt-4">
              Allow access to anonymous users
            </p>
            <p
              class="font-normal text-base leading-[23px] colors-text-secondary mt-2"
            >
              ...If your Easy Project system
              <span
                class="text-text-primary dark:text-dark-text-primary dark:bg-dark-card-and-Sec-BT bg-card-and-Sec-BT py-[2px] px-2 rounded-lg mr-1 whitespace-nowrap"> doesn't require users </span>
              to log in, this
              project...
            </p>
          </div>
          <a
            href="#"
            class="font-medium text-base leading-[22px] colors-text-link hover:underline pt-6"
          >Смотреть</a
          >
        </div>
      </div>
    </div>
  </section>

  <script src="scripts/script.js"></script>

</body>

</html>
