<div class="relative">
    <div
            class="tabheader__items_education overflow-x-auto ui-h-scroll max-md:flex dark:max-md:bg-dark-card-and-Sec-BT max-md:bg-card-and-Sec-BT max-md:rounded-[10px] max-md:p-1"
    >
        <div
                class="font-medium text-base max-md:text-sm leading-[22px] mt-[2px] py-2 max-md:px-3 max-md:py-2 max-md:mt-0 dark:max-md:bg-dark-card-and-Sec-BT max-md:bg-sec-BT max-md:rounded-[8px] tabheader__item_education transition cursor-pointer whitespace-nowrap"
        >

        </div>
        <a href="#"
           class="font-medium text-base max-md:text-sm leading-[22px] mt-[2px] py-2 max-md:px-3 max-md:py-2 max-md:mt-0 max-md:rounded-[8px] max-md:text-text-tertiary dark:max-md:text-dark-text-tertiary colors-text-secondary tabheader__item_education transition cursor-pointer whitespace-nowrap"
        >
            Руководство пользователя
        </a>
        <div
                class="font-medium text-base max-md:text-sm leading-[22px] mt-[2px] py-2 max-md:px-3 max-md:py-2 max-md:mt-0 max-md:rounded-[8px] max-md:text-text-tertiary dark:max-md:text-dark-text-tertiary colors-text-secondary tabheader__item_education transition cursor-pointer whitespace-nowrap"
        >
            Гид пользователя
        </div>
        <div
                class="font-medium text-base max-md:text-sm leading-[22px] mt-[2px] py-2 max-md:px-3 max-md:py-2 max-md:mt-0 max-md:rounded-[8px] max-md:text-text-tertiary dark:max-md:text-dark-text-tertiary colors-text-secondary tabheader__item_education transition cursor-pointer whitespace-nowrap"
        >
            Руководство по внедрению
        </div>
        <div
                class="font-medium text-base max-md:text-sm leading-[22px] mt-[2px] py-2 max-md:px-3 max-md:py-2 max-md:mt-0 max-md:rounded-[8px] max-md:text-text-tertiary dark:max-md:text-dark-text-tertiary colors-text-secondary tabheader__item_education transition cursor-pointer whitespace-nowrap"
        >
            Руководство по интеграции
        </div>
        <div
                class="font-medium text-base max-md:text-sm leading-[22px] mt-[2px] py-2 max-md:px-3 max-md:py-2 max-md:mt-0 max-md:rounded-[8px] max-md:text-text-tertiary dark:max-md:text-dark-text-tertiary colors-text-secondary tabheader__item_education transition cursor-pointer whitespace-nowrap"
        >
            Документация
        </div>
        <div
                class="font-medium text-base max-md:text-sm leading-[22px] mt-[2px] py-2 max-md:px-3 max-md:py-2 max-md:mt-0 max-md:rounded-[8px] max-md:text-text-tertiary dark:max-md:text-dark-text-tertiary colors-text-secondary tabheader__item_education transition cursor-pointer whitespace-nowrap"
        >
            Лист продукта
        </div>
        <div
                class="font-medium text-base max-md:text-sm leading-[22px] mt-[2px] py-2 max-md:px-3 max-md:py-2 max-md:mt-0 max-md:rounded-[8px] max-md:text-text-tertiary dark:max-md:text-dark-text-tertiary colors-text-secondary tabheader__item_education transition cursor-pointer whitespace-nowrap"
        >
            Обзор типов пользователей
        </div>
        <div class="hidden max-md:block">
            <button
                    class="tabheader-pagination-prev-education absolute z-[1] p-2 left-1 top-1 backdrop-blur-sm rounded-lg hidden"
            >
                <img src="{% static 'icons/arrow_down.svg' %}" alt="" class="rotate-90"/>
            </button>
            <button
                    class="tabheader-pagination-next-education absolute z-[1] p-2 right-1 top-1 backdrop-blur-sm rounded-lg"
            >
                <img src="{% static 'icons/arrow_down.svg' %}" alt="" class="-rotate-90"/>
            </button>
        </div>
    </div>
</div>
<div
        class="mt-8 rounded-[24px] p-5"
        style="background: url('/static/image/education-center/right-card_img.svg') center center / cover no-repeat"
>
    <div>
        <h2 class="font-semibold text-2xl max-md:text-xl leading-[30px] max-md:leading-[20px]">
            Просто внедрить и легко научиться
        </h2>
        <p class="mt-2 font-normal text-base max-md:text-sm leading-[23px] colors-text-secondary">
            8 заданных пользовательских ролей, готовые панели, настроенные функции, права и рабочие потоки.
        </p>
        <div
                class="mt-[110px] max-md:mt-[162px] h-[62px] w-[244px] max-md:inline-block max-md:flex max-md:mx-auto p-1"
                style="background: url('/static/icons/button_educational-center_right.svg') center no-repeat"
        >
            <a
                    href="#"
                    class="block cursor-pointer font-medium text-center w-full text-base leading-[22px] px-6 py-4 bg-primary-bg text-text-primary rounded-full hover:shadow-[0px_-4px_12px_0px_rgba(0,_0,_0,_0.32)_inset] transition"
            >
                Начать бесплатно
            </a>
        </div>
    </div>
</div>