<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/add_onn.css">
    <title>Дополнительные модули</title>
    <script src="scripts/add_onns_dropbtn.js"></script>


</head>
<body>

<header class="upper_footer">
    <div class="layout_nav">
        <nav class="left_nav">

            <ul class="hr">
                <li class="company_logo_li">
                    <a href="#" class="company_logo">
                        <img
                                sizes="(max-width: 320px) 280px,
            (max-width: 480px) 440px,
            800px" src="img/Logo-INOUT-Project.png" alt="logo"
                                srcset="img/Logo-INOUT-Project-x2.png 2x">
                    </a>
                </li>
                <li>
                    <div class="dropdown_header">
                        <button class="dropbtn_header">Продукт</button>
                        <div class="dropdown-content_header">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown_header">
                        <button class="dropbtn_header">Услуги</button>
                        <div class="dropdown-content_header">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown_header">
                        <button class="dropbtn_header">О нас</button>
                        <div class="dropdown-content_header">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown_header">
                        <button class="dropbtn_header">Ресурсы</button>
                        <div class="dropdown-content_header">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">Цены</a>
                </li>
            </ul>
        </nav>
        <nav class="right_bt">

            <ul class="right-ul">

                <li>
                    <a href="#">Поиск</a>
                </li>
                <li>
                    <div class="vertical-line"></div>
                </li>
                <li>
                    <a href="#">Войти</a>
                </li>
                <li>
                    <a class="try_it" href="#">Попробовать</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="layout_content">
        <div class="content_text">
            <ul>
                <li class="price_payment_title">
                    <p>Цены и оплата</p>
                </li>
                <li class="price_payment_text">
                    <p>Хорошо известно, что «то, что не измеряется, не может быть улучшено».
                        Поэтому время отслеживания и регистрации важно для всех, кто хочет достичь лучших результатов.
                        INOUT Проект позволяет отслеживать время, затрачиваемое на задачи и проекты,
                        несколькими способами, включая секундомер и ручной ввод времени для задач.</p>
                </li>

            </ul>


        </div>
        <div class="tabs_primary">
            <ul>
                <li class="li_dropbtn_c">
                    <a class="dropbtn_c">В облаке</a>
                </li>
                <li>
                    <a class="dropbtn_o">На сервере</a>
                </li>
            </ul>
        </div>
    </div>
</header>


<section class="main_section">
    <div class="second_line_img">
        <img class="second_line" src="img/Line_12.png" alt="logo" srcset="img/Line_12x2.png 2x">
    </div>
    <div class="div_road_map_img">
        <img class="roadmap_img"
             srcset="img/roadmap2x.png 2x,
             img/roadmap_05.png 0.5x,
             img/roadmap_075.png 0.75x,
             img/roadmap.png 1x"
             src="img/roadmap_05.png"
             alt="logo"/>
    </div>
    <div class="line_19_img">
        <img class="" src="img/Line_19.png" alt="logo" srcset="img/Line_19x2.png 2x">
    </div>
    <div class="choose_plan">
        <div class="about_choose_plan">
            <p class="text_plan">План</p>
        </div>

        <div class="custom-select" style="height: 57px">
            <select id="select_plan">
                <option>INOUT Проект Essentials</option>
                <option>INOUT Проект Business</option>
                <option>INOUT Проект Platform</option>
            </select>
        </div>
        <div class="hidden_block" id="hidden_block_id" style="visibility: hidden;"></div>

    </div>
    <div class="line_20_img">
        <img class="" src="img/Line_19.png" alt="logo" srcset="img/Line_19x2.png 2x">
    </div>
    <div class="choose_user_amount">
        <div class="about_choose_user_amount">
            <p class="text_user_amount">Количество пользователей</p>
        </div>

        <div class="range">
            <div class="range-slider">
                <span style="position:absolute; color:#3274F9; border:0 solid blue; left: 20px; margin-top: -20px;"><span
                        id="myValue"></span></span>

                <input
                        type="range"
                        min="5"
                        max="100"
                        value="0"
                        class="range-input"
                        id="range4"
                        step="5"
                />
                <div class="sliderticks">
                    <span>5</span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span>100</span>
                </div>
            </div>

            <div class="value4">5</div>
        </div>
    </div>
    <div class="line_21_img">
        <img class="" src="img/Line_19.png" alt="logo" srcset="img/Line_19x2.png 2x">
    </div>
    <div class="addons_main">
        <div class="addons_about">
            <p class="">Дополнения</p>
        </div>
        <div class="addons_list">
            <div class="content-box">
                <div class="show_0 show_1 show content__tittle">
                    <div class="additions">
                        <input type="checkbox" class="custom-checkbox" id="help_desk" name="help_desk" value="yes">
                        <label for="help_desk"></label>
                        <p class="text_for_checkbox">Help Desk
                            <img class="icon_info" src="img/icon_info_outline_.png" alt="logo"
                                 srcset="img/icon_info_outline_x2.png 2x"
                                 title="Easily streamline all customer&#013;processes. Set your SLAs and&#013;provide your clients with top-quality&#013;support and increase their&#013;satisfaction using your Help Desk.">
                        </p>
                        <div class="text_price">
                            <p>890 руб</p>
                        </div>

                        <label class="text_about_price">цена за одного пользователя / месяц,
                            оплачивается ежегодно</label>
                    </div>
                </div>
                <div class="show_0 show_1 show_2 show content__tittle">
                    <div class="additions">

                        <input type="checkbox" class="custom-checkbox" id="basic_dms" name="basic_dms" value="yes">
                        <label for="basic_dms"></label>
                        <p class="text_for_checkbox">Basic DMS
                            <img class="icon_info"
                                 src="img/icon_info_outline_.png"
                                 alt="logo"
                                 srcset="img/icon_info_outline_x2.png 2x"
                                 title="Document management system&#013;provides quick access to all your&#013;files and documents and their&#013;management directly from INOUT&#013;application.">
                        </p>


                        <div class="text_price">
                            <p>890 руб</p>
                        </div>
                        <label class="text_about_price">цена за одного пользователя / месяц,
                            оплачивается ежегодно</label>


                    </div>
                </div>
                <div class="show_0 show content__tittle">
                    <div class="additions">
                        <input type="checkbox" class="custom-checkbox" id="risk_management" name="risk_management"
                               value="yes">
                        <label for="risk_management"></label>
                        <p class="text_for_checkbox">Risk Management
                            <img class="icon_info" src="img/icon_info_outline_.png" alt="logo"
                                 srcset="img/icon_info_outline_x2.png 2x"
                                 title="Risk Management allows you to set&#013;the risk matrix through your&#013;organization, manage risk on&#013;projects and provide global risk&#013;reporting and overview for&#013;management.">

                        </p>
                        <div class="text_price">
                            <p>890 руб</p>
                        </div>
                        <label class="text_about_price">цена за одного пользователя / месяц,
                            оплачивается ежегодно</label>
                    </div>
                </div>
                <div class="show_0 show_1 show_2 show content__tittle">
                    <div class="additions">
                        <input type="checkbox" class="custom-checkbox" id="custom_branding" name="custom_branding"
                               value="yes">
                        <label for="custom_branding"></label>
                        <p class="text_for_checkbox">Custom Branding
                            <img class="icon_info" src="img/icon_info_outline_.png" alt="logo"
                                 srcset="img/icon_info_outline_x2.png 2x"
                                 title="Support ypur company's culture&#013;identity with a custom design - &#013;color application into your colours,&#013;add your logo and create custom&#013;graphics for login page.">

                        </p>
                        <div class="text_price">
                            <p>890 руб</p>
                        </div>
                        <label class="text_about_price">цена за одного пользователя / месяц,
                            оплачивается ежегодно</label>
                    </div>
                </div>
                <div class="show_0 show_1 show_2 show content__tittle">
                    <div class="additions">
                        <input type="checkbox" class="custom-checkbox" id="gitlab_integration" name="gitlab_integration"
                               value="yes">
                        <label for="gitlab_integration"></label>
                        <p class="text_for_checkbox">Gitlab Integration
                            <img class="icon_info" src="img/icon_info_outline_.png" alt="logo"
                                 srcset="img/icon_info_outline_x2.png 2x"
                                 title="Integrate your GitLab repository&#013;with issue tracking and make your&#013;devel process even smoother.">

                        </p>
                        <div class="text_price">
                            <p>890 руб</p>
                        </div>
                        <label class="text_about_price">цена за одного пользователя / месяц,
                            оплачивается ежегодно</label>
                    </div>
                </div>
                <div class="show_0 show_1 show content__tittle">
                    <div class="additions">
                        <input type="checkbox" class="custom-checkbox" id="b2b_crm" name="b2b_crm" value="yes">
                        <label for="b2b_crm"></label>
                        <p class="text_for_checkbox">B2B CRM
                            <img class="icon_info" src="img/icon_info_outline_.png" alt="logo"
                                 srcset="img/icon_info_outline_x2.png 2x"
                                 title="Manage your sales activities and&#013;deliver your projects. B2B CRM&#013;allows your sales team to track&#013;opportunities from a lead to a&#013;contract, generates perfomance&#013;statistics, and helps to boost your&#013;overall sales performance.">

                        </p>
                        <div class="text_price">
                            <p>890 руб</p>
                        </div>
                        <label class="text_about_price">цена за одного пользователя / месяц,
                            оплачивается ежегодно</label>
                    </div>
                </div>
                <div class="show_0 show_1 show_2 show content__tittle">
                    <div class="additions">
                        <input type="checkbox" class="custom-checkbox" id="knowledge_base" name="knowledge_base"
                               value="yes">
                        <label for="knowledge_base"></label>
                        <p class="text_for_checkbox">Knowledge Base 2.0
                            <img class="icon_info" src="img/icon_info_outline_.png" alt="logo"
                                 srcset="img/icon_info_outline_x2.png 2x"
                                 title="Powerful toolset to organize and&#013;scale documentation, process,&#013;manuals, quality management and&#013;other needs to maintain knowledge&#013;within an organization.">

                        </p>
                        <div class="text_price">
                            <p>890 руб</p>
                        </div>
                        <label class="text_about_price">цена за одного пользователя / месяц,
                            оплачивается ежегодно</label>
                    </div>
                </div>
                <div class="show_0 show_1 show_2 show content__tittle">
                    <div class="additions">
                        <input type="checkbox" class="custom-checkbox" id="asset_config" name="asset_config"
                               value="yes">
                        <label for="asset_config"></label>
                        <p class="text_for_checkbox">Asset & Configuration Management
                            <img class="icon_info" src="img/icon_info_outline_.png" alt="logo"
                                 srcset="img/icon_info_outline_x2.png 2x"
                                 title="Our add-on ensures that all your&#013;assets and configurations stay up-&#013;to-date and easy to access by&#013;allowing you to link data to tasks.&#013;Keep your data organized, accurate,&#013;and at your fingertips.">

                        </p>
                        <div class="text_price">
                            <p>890 руб</p>
                        </div>
                        <label class="text_about_price">цена за одного пользователя / месяц,
                            оплачивается ежегодно</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line_21_img">
        <img class="" src="img/Line_19.png" alt="logo" srcset="img/Line_19x2.png 2x">
    </div>
    <div class="main_services">
        <div class="services_about">
            <p>Сервисы</p>
        </div>
        <div class="services_list">
            <div class="content_box">
                <div class="services">
                    <input type="checkbox" class="custom-checkbox" id="private_cloud" name="private_cloud" value="yes">
                    <label for="private_cloud"></label>
                    <p class="text_for_checkbox">Private Cloud
                        <img class="icon_info" src="img/icon_info_outline_.png" alt="logo"
                             srcset="img/icon_info_outline_x2.png 2x"
                             title="The private cloud provides own&#013;dedicates server while saving your&#013;internal IT resources. It is always&#013;deployed in closest geolocation for&#013;maximum connectivity and speed.">
                    </p>
                    <div class="text_price">
                        <p>39.000 руб</p>
                    </div>

                    <label class="text_about_price">цена за одного пользователя / месяц,
                        оплачивается ежегодно</label>
                </div>
            </div>
        </div>
    </div>
    <div class="line_21_img">
        <img class="" src="img/Line_19.png" alt="logo" srcset="img/Line_19x2.png 2x">
    </div>
    <div class="bill_services">
        <div class="bill_about">
            <p>Выставление счета</p>
        </div>
        <div class="bill_list">
            <div class="content-box">
                <div class="bill_one">
                    <input class="custom-radio" name="billing" type="radio" id="in_year" value="in_year">
                    <label for="in_year"></label>
                    <p class="text_for_radio">Ежегодно (На 15% дешевле)
                    </p>


                </div>
                <div class="bill_one">
                    <input class="custom-radio" name="billing" type="radio" id="in_month" value="in_year">
                    <label for="in_month"></label>
                    <p class="text_for_radio">Ежемесячно
                    </p>


                </div>
            </div>


        </div>
    </div>
    <div class="price_panel">
        <div class="result_panel">
            <div class="price_panel_text_about">

            </div>
            <div class="price_panel_prices">
                <div class="price_in_year">

                </div>
                <div class="price_in_month">

                </div>
            </div>
        </div>
        <div class="div_div_result_bottom">
            <div class="div_result_bottom">
            <a href="#" class="result_bottom">
            Подтвердить и продолжить
        </a>
        </div>
        </div>


    </div>
    <script src="scripts/range_box.js"></script>
    <script type="text/javascript" charset="utf-8" src="scripts/range_number.js"></script>
    <script src="scripts/on_open_addons.js"></script>
    <script src="scripts/selector.js"></script>
</section>
<footer>
    <div class="footer-img"></div>
</footer>
</body>

</html>