<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/payment.css">
    <script src="scripts/payment.js"></script>
    <script src="scripts/add_user_dropbtn.js"></script>
    <title>Оплата</title>
</head>
<body>
<header class="upper_footer">
    <div class="layout_nav">
        <nav class="left_nav">

            <ul class="hr">
                <li class="company_logo_li">
                    <a href="#" class="company_logo">
                        <img
                                sizes="(max-width: 320px) 280px,
            (max-width: 480px) 440px,
            800px" src="img/Logo-INOUT-Project.png" alt="logo"
                                srcset="img/Logo-INOUT-Project-x2.png 2x">
                    </a>
                </li>
                <li>
                    <div class="dropdown_header">
                        <button class="dropbtn_header">Продукт</button>
                        <div class="dropdown-content_header">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown_header">
                        <button class="dropbtn_header">Услуги</button>
                        <div class="dropdown-content_header">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown_header">
                        <button class="dropbtn_header">О нас</button>
                        <div class="dropdown-content_header">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown_header">
                        <button class="dropbtn_header">Ресурсы</button>
                        <div class="dropdown-content_header">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#">Цены</a>
                </li>
            </ul>
        </nav>
        <nav class="right_bt">

            <ul class="right-ul">

                <li>
                    <a href="#">Поиск</a>
                </li>
                <li>
                    <div class="vertical-line"></div>
                </li>
                <li>
                    <a href="#">Войти</a>
                </li>
                <li>
                    <a class="try_it" href="#">Попробовать</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="layout_content">
        <div class="content_text">
            <ul>
                <li class="price_payment_title">
                    <p>Цены и оплата</p>
                </li>
                <li class="price_payment_text">
                    <p>Хорошо известно, что «то, что не измеряется, не может быть улучшено».
                        Поэтому время отслеживания и регистрации важно для всех, кто хочет достичь лучших результатов.
                        INOUT Проект позволяет отслеживать время, затрачиваемое на задачи и проекты,
                        несколькими способами, включая секундомер и ручной ввод времени для задач.</p>
                </li>

            </ul>


        </div>
        <div class="tabs_primary">
            <ul>
                <li class="li_dropbtn_c">
                    <a class="dropbtn_c">В облаке</a>
                </li>
                <li>
                    <a class="dropbtn_o">На сервере</a>
                </li>
            </ul>
        </div>
    </div>
</header>

<section class="main_section">
    <div class="second_line_img">
        <img class="second_line" src="img/Line_12.png" alt="logo" srcset="img/Line_12x2.png 2x">
    </div>
    <div class="div_road_map_img">
        <div class="panel_roadmap">
            <div class="finish_div">
                <img class="img_check" src="img/check.png" alt="">
                <div class="finish_plan"></div>
            </div>
            <span class="roadmap_text">Выбор плана</span>
            <div class="create-line_new"></div>
            <div class="finish_div">
                <img class="img_check" src="img/check.png" alt="">
                <div class="finish_plan"></div>
            </div>
            <span class="roadmap_text_second">Соберите своё решение</span>
            <div class="create-line_new2"></div>
            <div class="finish_div">
                <img class="img_check" src="img/check.png" alt="">
                <div class="finish_plan"></div>
            </div>
            <span class="roadmap_text_third">Выставление счета</span>
            <div class="create-line"></div>
            <div class="active_plan"><span class="text_inside"
                                           style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">4</span>
            </div>
            <span class="roadmap_text_fourth">Оплата</span>
            <div class="create-line"></div>
            <img
                    class="inout_pict"
                    src="img/inout_pict.png"
                    alt=""/>
        </div>
        <div class=""></div>
    </div>
    <div class="main_payment_place">
        <div class="main_payment_place_about">
            <div class="grad_about">
                <p class="text_main_about">Базовая платформа</p>
            <div class="gradient_text_result_price">
                <p class="text_result_price">599 руб</p>
            </div>
            </div>

            <div class="about_current_payment">
                <div class="payment_timer">
                    <p class="text_about_timer">Завершите платеж в течение 9:39</p>
                </div>
                <div class="about_payment">
                    <p class="text_about_payment" id="text_about_payment_id">Детали платежа</p>
                </div>
                <div> <p class="hidden_text_about_payment" id="hidden_text_about_payment_id">Оплата заказа</p></div>
                <div class="out_from_payment">
                    <a href="#" class="out_from_billing">< Выйти из оплаты</a>
                </div>
            </div>
        </div>

        <div class="payment_module">
            <div class="main_payment_module">
            </div>
            <p class="text_about_service">Заплатив здесь, Вы принимаете<a href="https://yoomoney.ru/page?id=527708" class="link_service_rule"> условия сервиса</a></p>
        </div>
    </div>
    <script src="scripts/payment.js"></script>
</section>
<footer>
    <div class="footer-img"></div>
</footer>
</body>
</html>